[2015-06-16 08:10] yuji opened #1 "ブロックエディタに何もないとき次の操作がわかりにくい"
ブロックが存在しない時は、写真アイコンかテキストアイコンをクリックしてブロックを追加してね。という旨の内容を表示する

[2015-06-16 08:17] yuji opened #2 "前の画面に戻るときの"Save" について"
編集画面系の場合、左上のアイコンで戻るときは、保存の確認を行なうようにする

[2015-06-16 08:20] yuji opened #3 "HTTPS接続の証明書エラーを無視できないか"
https で接続するとき、サーバー証明書が正しくない場合（オレオレ証明書など）に無視して接続を行うことはできないか？

[2015-06-16 08:20] #3 closed, assigned to nobody

[2015-06-16 08:22] yuji opened #4 "サイト一覧のブログ名にウェブサイト名を併記する"
サイト一覧では、ブログとウェブサイトが並列で並んでおり、ウェブサイトとブログで同一名称の場合などもあるため、ブログ名の場合だけウェブサイト名を併記したい。

[2015-06-16 08:23] yuji opened #5 "スプラッシュが早過ぎるのでちょこっとウェイトを入れたい"
きもーち、0.1-0.2くらいｗ

[2015-06-16 08:24] yuji opened #6 "アップロード先パス名のデフォルト入力モードを半角英数にしたい"
アップロード先パス名のデフォルト入力モードを半角英数にしたい

[2015-06-16 08:27] yuji opened #7 "ローカル保存、MT送信後に完了メッセージがほしい"
さり気なく元の画面に戻るので終わったかわかるようにしたい。

[2015-06-16 08:29] yuji opened #8 "カテゴリ選択後、記事編集画面に選択したカテゴリが反映されない"
カテゴリを選択して前の画面に戻ったとき、カテゴリの表示の所が更新されない。（再描画の問題のようだ）

[2015-06-16 08:35] yuji opened #9 "ブロックエディタじゃないとき、アイテムの追加ができない"
ブロックエディタではないとき、アイテムを挿入するすべがいまはない。カメラアイコンから画像を追加できるようにしたい。
- 写真を撮る
- アルバムから選ぶ
- MTのアイテムから選ぶ

[2015-06-16 08:36] yuji opened #10 "記事の一覧をカテゴリで検索したい"
記事の一覧をカテゴリで検索したい

[2015-06-16 08:38] yuji opened #11 "「記事をコピーして作成」機能"
既存の記事を元に、新しい記事を作成することが出来ると入力の手間が省けるのではないか。by とひさん

Copy This Entry みたいなもの

[2015-06-16 08:42] yuji opened #12 "アイテム詳細の画像を拡大表示したい"
「サイト - アイテム一覧 - アイテム詳細」で表示されている画像をピンチして大きく表示したい。

案）
- 画像をクリックしたら画像だけ表示する。そこでは、画像の拡大縮小ができる

[2015-06-16 08:44] yuji opened #13 "convert_breaks を選択可能に"
MT側で利用できる convert_breaks をアプリでも選べるようにしたいし、使えるようにしたい。

[2015-06-16 08:45] yuji opened #14 "よく使うサイトを選びやすく"
よく使うサイトは、サイト一覧の上部に表示するなどし利便性を向上したい

[2015-06-16 08:46] yuji opened #15 "Draft という文言がわかりにくい"
MTのステータスとしてのDraftなのか、Local SaveなDraftなのか。

[2015-06-16 08:51] yuji opened #16 "ブロックエディタのテキストブロックを "+ "から "T" に"
”+" だとわかりにくいので、"T"のほうがよくない？という話。

[2015-06-16 08:52] yuji opened #17 "プライマリカテゴリの指定ができない"
現在は、カテゴリ一覧の一番上のものがプライマリになる。

[2015-06-16 08:55] yuji opened #18 "バウンス・トフ"
くるくるアイコンじゃなく、トフのバウンス画像にできないか

[2015-06-16 08:55] yuji opened #19 "記事のプレビューをAPI経由で行なう"

[2015-06-16 09:02] yuji opened #20 "PC版プレビューをPC向けなプレビューとして表示できないか"
昨今のレスポンシブウェブデザインだと、モバイル・PCどちらも同じような表現になってしまう。

<meta name="viewport" content="width=device-width"> なとき、contentの値を"width=4096px"とかに変えることでPCっぽい表現にできないか？（強引すぎる・・・）

[2015-06-16 09:02] yuji opened #21 "ブロック保存時に自動保存"

[2015-06-16 09:06] yuji opened #22 "アプリ起動後、「fetch sites」のままぐるぐるが止まらない"
アプリを起動してサインイン後にサイト一覧のところで、「fetch sites」のぐるぐるのまま先に進まないという事象が発生。再現方法などは不明。状況としては 5c だと発生しているが・・・。

[2015-06-16 09:30] yuji opened #23 "ブロックエディタで作成したコンテンツのマークアップが奇妙"
From 寿さん

以下「---」で囲われた部分をそれぞれ1ブロックとして書いた記事が、
なんだかやたらとへんてこなマークアップにされてました。

記事最初のpタグが3ブロックまたがって閉じられてたり、
ブロック内の2行目のみdivタグだったり、
テキストが何もマークアップされてなかったり、
謎な感じでした。

[code]

[2015-06-16 09:41] #5 closed, assigned to yuji

[2015-06-16 10:05] #7 closed, assigned to yuji

[2015-06-17 01:56] #6 closed, assigned to yuji

[2015-06-17 02:45] yuji opened #24 "既存の記事の編集時のテキストエリアのカーソル位置について"
既存の編集のとき、カーソルが文末にあるので、文頭にしたい。

[2015-06-17 02:57] #20 closed, assigned to yuji

[2015-06-17 03:01] yuji opened #25 "リッチエディタのHTML入力モードで入力した内容が消える"
From Kotobuki-san

リッチテキストモードで、新規ブロックの</>モードで、以下HTMLを追加したら、
空っぽになってしまいました。

[code]

[2015-06-17 03:10] yuji opened #26 "アプリの再インストール後、サイト一覧の取得がうまくいかない"
アプリを再インストールしたとき、サイト一覧の表示がうまくいかない時がある。

状況:
サイト一覧には、サイト名がからの状態でクリックできる**何か**がいる。クリックすると次の画面に遷移するが、エラーとなる。

サイト一覧を更新すると治るときもあるが、完全じゃない。

場合によっては、サイト一覧の取得中のぐるぐるが止まらなくなる。

[2015-06-17 03:13] yuji opened #27 "画像クオリティの文言修正"
- Super Fine
- Fine
- Normal
- Low

に変更お願いします！

[2015-06-17 03:15] yuji opened #28 "ヘルプページの用意"
ja:
http://www.movabletype.jp/documentation/mtios/help

ja以外:
http://www.movabletype.jp/documentation/mtios/help/en

アプリの使い方ガイドページを作る

[2015-06-17 03:18] yuji opened #29 "Issuesへのリンクを作成する"
ja:
http://www.movabletype.jp/documentation/mtios/inquiry

ja以外:
http://www.movabletype.jp/documentation/mtios/inquiry/en

[2015-06-17 03:20] yuji opened #30 "アプリのページを用意する"
ja:
http://www.movabletype.jp/documentation/mtios/

ja以外:
http://www.movabletype.jp/documentation/mtios/en

[2015-06-17 03:23] yuji opened #31 "L10N: ja"
ローカライズ出来るようにお願いしますー

[2015-06-17 03:30] #12 closed, assigned to yuji

[2015-06-17 03:30] #8 closed, assigned to yuji

[2015-06-17 09:08] #16 closed, assigned to yuji

[2015-06-17 09:09] #27 closed, assigned to yuji

[2015-06-17 09:16] #9 closed, assigned to yuji

[2015-06-17 09:40] yuji opened #32 "既存の記事を編集するときのプレビュー"
既存の記事を編集するとき、現在はプレビューがないので画像追加と同じように プレビューアイコンでプレビューを出せるようにお願いできますか？

[2015-06-17 09:44] yuji opened #33 "公開されている記事を表示するときのアイコン"
プレビューアイコンと同じだとプレビューなのかな？と思えるので、地球アイコンか記事を表示するんだよ。というのがわかるアイコンの方がよいかと思うのですが、どうでしょう？

[2015-06-17 10:32] cheebow opened #34 "カテゴリ選択画面から戻るボタンを押すと落ちる"

[2015-06-17 10:34] #34 closed, assigned to cheebow

[2015-06-17 13:54] yuji opened #35 "カテゴリ・フォルダを新規作成する"
カテゴリ選択、フォルダ選択のとき、新しいカテゴリやフォルダを作成できるとうれしい。

[2015-06-17 13:58] yuji opened #36 "キーワードを入力するとき、キーボードの種類を変えると文字が消える"
キーボードをフリックとローマ字入力で切り替えると、打っていた文字が消える。
というか、実際には上にスクロールしているみたい。

関連するか不明ですが、キーボードを切り替えなくても、キーワードを入力するとき改行を入れちゃうと入力していた行が上に微妙にスクロールしていって見えなくなる。

管理画面上では、キーワードは改行を許可していないので、改行させないようにする。とかって出来るんですかね・・・。

[2015-06-17 13:59] yuji opened #37 "Status: Draft と ローカル保存が分かりにくい"
マニュアルなどで対応をするしかないかなあ・・・

[2015-06-17 14:05] yuji opened #38 "ページのプレビューをAPI経由で行なう"
#19 同様、ページのプレビューもAPIにする。

[2015-06-18 01:04] cheebow opened #39 "ブロックエディタから戻る時、エントリ編集画面も消えてしまう"

[2015-06-18 01:06] cheebow opened #40 "リッチテキストエディタでHTMLエディタを表示したままだと内容が保存されない"

[2015-06-18 01:07] #40 closed, assigned to cheebow

[2015-06-18 01:31] #39 closed, assigned to cheebow

[2015-06-18 02:17] #32 closed, assigned to cheebow

[2015-06-18 02:17] #24 closed, assigned to yuji

[2015-06-18 02:19] #2 closed, assigned to yuji

[2015-06-18 02:31] #19 closed, assigned to yuji

[2015-06-18 02:44] yuji opened #41 "マルチアカウント対応"
複数のアカウントを登録できるようにする。
- Username, Password, Endpoint の組み合わせを複数持てるようにする。
- アプリ中でアカウントを切り替えて利用できるようにする。

[2015-06-18 02:50] #25 closed, assigned to cheebow

[2015-06-18 02:58] yuji opened #42 "新規作成時、カテゴリ未選択でエラー"
新規作成時に、カテゴリが選択されていない場合は、categories を 空配列で渡さないようできますか？
updateEntry は、空配列対応しているんですけど、新規の時も空配列来るのは想定外でして・・・。

[2015-06-18 03:02] #23 closed, assigned to yuji

[2015-06-18 05:02] cheebow opened #43 "ブロックエディタ使用時に予期せずアプリが落ちることがある"

[2015-06-18 05:07] #43 closed, assigned to cheebow

[2015-06-18 06:54] yuji opened #44 "概要がブロックエディタになっている"
概要は、ブロックエディタである必要はないかなと。

[2015-06-18 07:49] yuji opened #45 "ローカル保存した記事画面から前の画面に戻れない"
ローカル保存された記事の編集画面にすすみ、左上の戻るで戻るとき、Confirmがでますが、OKをクリックしても戻れないです。

通常の記事の方は大丈夫でした。

[2015-06-18 07:51] yuji opened #46 "サイトの設定アイコンのクリック範囲"
サイトの画面で、右の設定アイコン（歯車的な）が反応するエリアがちょっと狭いかも。なかなか反応しない時があります

[2015-06-18 09:30] #46 closed, assigned to yuji

[2015-06-18 09:30] #45 closed, assigned to yuji

[2015-06-18 09:31] #44 closed, assigned to yuji

[2015-06-18 09:32] #42 closed, assigned to yuji

[2015-06-18 09:34] #36 closed, assigned to yuji

[2015-06-18 09:36] #18 closed, assigned to yuji

[2015-06-18 09:37] #15 closed, assigned to yuji

[2015-06-18 09:56] #29 closed, assigned to yuji

[2015-06-18 10:00] yuji opened #47 "previewEntry/previewPage の過去バージョン互換性"
同エンドポイントは、MT6.1.2で追加されたので、6.1.1, 6.1 には存在しない。
Data API の version は 2 のままなので、判定するすべが無いため、現在は 6.1.1以前のMTで利用する場合は、プレビューを押すと unknown endpoint エラーになる。

ドキュメントでの周知はするとして、将来的にはエンドポイントが見つからない場合にはローカル合成なプレビューにfallbackさせたい。

[2015-06-19 02:11] yuji opened #48 "記事一覧で、記事タイトルが長いとき後ろに ... をつける"
タイトルが長いとき、続きがありますよ。感を出したほうがいいかなと。

[2015-06-19 02:14] yuji opened #49 "記事一覧でタイトルが3行になると表示が日付と近すぎる"
結構くっついてしまっているので、視認性がよくないかなあと・・。
1記事の高さを伸ばすと今以上に件数減るので、タイトルのフォントサイズを落とす感じですかね・・

[2015-06-19 02:52] yuji opened #50 "タイトルに文字を入れると左上のボタンから戻れない"
タイトルに文字を入れると左上のボタンから戻れないです

[2015-06-19 02:53] yuji opened #51 "More の文言修正"
More ではなく Extended に変更をお願いします。これに伴い、No More も No Extended に変更をお願いします。

[2015-06-19 02:55] yuji opened #52 "記事画面にでる記事のリンクは公開されているときだけリンクにしたい"
現在、Unpublished, Scheduled でもクリックするとページが開くようになっていますが、Not Found になるので、Published な場合以外は、パーマリンクをクリックしても開かないようにできますか？

[2015-06-19 02:56] #1 closed, assigned to yuji

[2015-06-19 02:56] #33 closed, assigned to yuji

[2015-06-19 02:58] #17 closed, assigned to yuji

[2015-06-19 02:59] #22 closed, assigned to cheebow

[2015-06-19 02:59] #26 closed, assigned to cheebow

[2015-06-19 03:00] #37 closed, assigned to yuji

[2015-06-19 07:07] #21 closed, assigned to cheebow

[2015-06-19 08:56] #48 closed, assigned to yuji

[2015-06-19 08:56] #50 closed, assigned to yuji

[2015-06-19 08:57] #51 closed, assigned to yuji

[2015-06-19 08:57] #52 closed, assigned to yuji

[2015-06-19 09:33] #49 closed, assigned to yuji

[2015-06-19 09:35] #38 closed, assigned to yuji

[2015-06-21 12:35] yuji opened #53 "変更を加えていなくても、戻るボタンで確認が出る"
他にもありそうなので一旦まとめてから。

[2015-06-22 01:54] yuji opened #54 "ページの変更時、confirmが出ない"
ページの作成・編集時にも記事と同様に戻るをクリックした時に保存していない変更があれば確認を出して欲しいです

[2015-06-22 01:54] #53 closed, assigned to yuji

[2015-06-22 02:06] #54 closed, assigned to cheebow

[2015-06-22 05:32] yuji opened #55 "新規記事（ページ）の作成画面から戻れない"
1. 新規記事作成
2. ブロックエディタ起動
3. テキストブロック追加
4. 何も入力せず左上から戻る
5. ConfirmにはOK
6. 記事画面に戻ってくる
7. 左上から戻る
8. 保存の確認がでてくる

Expected: OK をクリックすると前の画面に戻れる
Actual: OKを押しても戻れない

[2015-06-22 06:17] yuji opened #56 "新規作成時のDelete this entry/page ボタン"
サーバー上には存在しないので、"Delete this entry"ボタンは不要かなと。

ローカル保存を消すときには必要なので、ローカル保存を開いときはボタン欲しいです。ただ、メッセージが同じだと分かりにくいので、ローカル保存の場合は、"Delete this local saved entry" "Delete this local saved page"にできますかね。長いかな・・

[2015-06-22 07:33] #56 closed, assigned to yuji

[2015-06-22 07:33] #55 closed, assigned to yuji

[2015-06-22 07:54] #31 closed, assigned to yuji

[2015-06-23 02:04] cmatsuo opened #57 "未送信記事の一覧での記事のステータス表示"
未送信記事のステータスは、すべてdraftとなるようなので、ステータスアイコン（鉛筆アイコン）は必要ないのではないでしょうか？

![image2](https://cloud.githubusercontent.com/assets/546386/8297333/4bc63af8-1997-11e5-9c2c-ba1a05574f8d.PNG)

[2015-06-23 02:07] cmatsuo opened #58 "非公開指定の「現在日時にする」リンクは必要ない"
公開日設定と違い、非公開日を「現在日時」にすることは無いはずなので、この画面では現在日時を設定する機能は必要ないのでは。
![image1](https://cloud.githubusercontent.com/assets/546386/8297396/0118cd4e-1998-11e5-9dcd-52ff5e75984a.PNG)

[2015-06-23 02:22] cmatsuo opened #59 "記事の一覧＞記事の編集＞概要に画像の添付は必要無い"
既存の記事の編集画面で、概要のフォームに画像を添付できそうな表示になっています。概要はテキスト入力のみなので、ここにカメラアイコンは必要無いのでは。
![image1](https://cloud.githubusercontent.com/assets/546386/8297619/05d73bac-199a-11e5-9da4-cd8cc789239b.PNG)

[2015-06-23 02:43] yuji opened #60 "SSL証明書のチェックをパスできないためエラーとなる"
自己証明書やドメインエラーなどの場合、利用できない旨Know Issueに記述する

[2015-06-23 02:49] cmatsuo opened #61 "L10N: smartphone app"
なぜかこの画面でだけ、英語で "RichText"。他の部分に合わせてカタカナがいいかと。
![image1](https://cloud.githubusercontent.com/assets/546386/8297991/ce90bade-199d-11e5-9bfc-39b722796383.PNG)

[2015-06-23 02:55] cmatsuo opened #62 "未送信保存後の画面の遷移"
記事などを未送信保存した後、編集画面を閉じようとすると、添付のような未保存時の移動の警告が表示されます。
保存したはずなのに確認されるので、ややうっとおしい＆保存されなかったのかと不安になるのですが、ＭＴには未送信でもローカルに保存されている場合に、これを表示しないようには出来ないものでしょうか？

![image1](https://cloud.githubusercontent.com/assets/546386/8298019/44afa806-199e-11e5-9497-1186313a39ab.PNG)

[2015-06-23 03:12] cmatsuo opened #63 "ページの作成／編集画面を閉じることができない"
Steps:
1. ページの作成画面を開く
2. 作成保存
3. 左上のXボタンをクリック

Expected: 編集画面を閉じて、ページ作成前の画面に戻る
Observed: 編集画面のまま

[2015-06-23 03:16] cmatsuo opened #64 "ページを作成保存すると、ステータスの選択が消える"
Steps:
1. ページの作成画面を表示
2. ページのステータスを選択（初期値の選択のままでもＯＫ。なんらかのステータスが選択されていることを確認）
3. ページを作成（MTに送信）

Expected: 送信完了後、送信した内容が編集画面にそのまま表示されている
Observed: 送信完了後、ステータスの選択が表示されなくなる
![image1](https://cloud.githubusercontent.com/assets/546386/8298302/34485b94-19a2-11e5-911c-52d80ead8089.PNG)

[2015-06-23 03:28] cmatsuo opened #65 "絵文字の入力"
記事などに絵文字の入力をして、ローカル保存するとそのまま保存されるのですが、ＭＴに送信すると、正常に表示されなくなります（フォームによって、全く表示されない場合、文字化して一部保存される等、違った動作となる）。
絵文字の対応については、どのようにしますか？

[2015-06-23 05:20] cmatsuo opened #66 "アプリで記事／ページに挿入した画像は、Entry Assetsとして認識されない"
Steps:
1. アプリから、記事の作成
2. 記事に、画像を追加して、ＭＴに送信（ステータスは何でも可）。
3. ＭＴで、アプリから作成した記事の編集画面を確認

Expected: MTで作成した場合同様、右下のEntry Assetsウィジェットに、記事に挿入した画像が追加されている。
Observed: 記事に追加した画像は、Entry Assetsウィジェットには表示されていない。

[2015-06-23 05:25] cmatsuo opened #67 "画像の利用状況に関する表示"
Steps:
1. アプリから、記事の作成
2. 記事に、画像を追加して、ＭＴに送信（ステータスは何でも可）。
3. ＭＴで、アプリから作成した記事のに挿入した画像の編集画面を確認

Expected: MTで作成した場合同様、右側の利用状況ウィジェットに、関連する記事等が表示されている
Observed: 利用状況や、関連するアイテムに関する情報は表示されない

[2015-06-23 05:33] #62 closed, assigned to yuji

[2015-06-23 05:33] #61 closed, assigned to yuji

[2015-06-23 05:35] #59 closed, assigned to yuji

[2015-06-23 05:44] #57 closed, assigned to yuji

[2015-06-23 05:45] #58 closed, assigned to cmatsuo

[2015-06-23 09:28] yuji opened #69 "記事・ページの保存時（新規・更新）アイテムを選択していないとエラーになる"
カテゴリの時と似た話ですが、空の assets を渡すとエラーになるので、新規の際には画像ブロックがなければ assets を渡さないようにお願いできればと。

また、更新時ですが、本文の編集で写真をつっこんでみても、保存時にエラーになりました。

すいませんが対応お願いします！

[2015-06-24 01:46] yuji opened #70 "MT6.1.1 以前の制限事項"
- [x] 記事とページのプレビューが動作しません

**そもそも、6.0.xでは動作しません**

[2015-06-24 02:26] #69 closed, assigned to yuji

[2015-06-24 05:43] yuji opened #71 "Data API の通信とかログが見えるDebug Modeがあるとうれしい"
普通の人は使わないですけど、問題があったときにそれでログ送ってねー。とか出来ると問い合わせの回答が捗る

[2015-06-25 00:11] #64 closed, assigned to cmatsuo

[2015-06-25 01:08] #63 closed, assigned to cmatsuo

[2015-06-25 01:49] cmatsuo opened #72 "Basic認証が動作しない"
Steps:
1. Basic認証の設定
2. MTでBasic認証が正常に動作することを確認
3. アプリからログイン

Expected: 正しいBasic認証のアカウント／パスワードを入力すると、ログインできる。間違ったアカウント／パスワードではログインできない。
Observed: ログインできない。（もしくは、アカウント／パスワード無しでログインできてしまう）

テスト環境は、mt6qa2.sixapart.intra　です。

[2015-06-25 02:51] yuji opened #73 "[仕様変更] パスワードリセットを機能から外す"
パスワードリセットの際、ユーザー名、メールアドレス、エンドポイントURLに加えて、BASIC認証を入力する場合が想定される。これは相当ストレスが溜まる気がする・・・。

現時点では、PCサイト側で出来る機能なのでモバイル側では実装しなくても問題無いと想定される。
よって、v1の時点では同機能を外すこととする。

[2015-06-25 04:42] yuji opened #74 "一覧から編集画面に遷移するとき、記事・ページのデータをフェッチし直すようにする"
一覧では、title,date,status のみを取得するようにして、一覧を表示するときには更新される。
一覧から編集に遷移する時、当該記事・ページの全データを改めて取得する。

というように変更をお願いします！

[2015-06-25 07:36] cmatsuo opened #75 "エディタをプレーンテキストに変更できない"
Steps:
1. 記事の新規作成画面を開く
2. 左下の、詳細設定アイコンをクリック
3. 詳細設定画面で、エディタを選択
4. プレーンテキストを選択、保存
5. 詳細設定画面に戻るので、エディタを確認

Expected: 「プレーンテキスト」と表示されている
Observed: 「リッチテキスト」と表示されている

[2015-06-25 08:52] #73 closed, assigned to yuji

[2015-06-25 09:34] #74 closed, assigned to yuji

[2015-06-25 14:25] #71 closed, assigned to nobody

[2015-06-25 14:26] #4 closed, assigned to oguraayumi

[2015-06-25 23:58] #67 closed, assigned to cmatsuo

[2015-06-25 23:58] #66 closed, assigned to yuji

[2015-06-26 01:11] #75 closed, assigned to yuji

[2015-06-26 02:09] #72 closed, assigned to cmatsuo

[2015-06-26 02:14] yuji opened #76 "システム管理者は、権限チェックを常にパスできるように"
各所で行われている権限チェックですが、システム管理者アカウントはチェックを全てパスするように変更お願いします。

具体的には、ログインユーザーのUsers リソースに含まれる isSuperuser が True のものです。
よろしくお願いします！

[2015-06-26 03:27] #76 closed, assigned to yuji

[2015-06-26 06:31] cmatsuo opened #77 "記事／ページの編集画面の、並べ替え／表示非表示の編集"
Steps:
1. 記事の作成画面へ移動
2. 右下の、編集をクリック
3. 非表示に出来る項目を非表示に、表示項目を並べ替え
4.　完了をクリックして、編集画面に戻る

Expected: 並べ替えの設定が反映されている
Observed: 並べ替えの設定が、変更前のまま

FYI: 画面のプルダウンをすると変更が反映することができるようだが、この際にアプリ自体が落ちることが多い。
ここでは並べ替えの画面からの切り替えがあるので、プルダウンで更新するのではなく、編集画面に戻った時点で更新されていて欲しい。

[2015-06-26 06:48] cmatsuo opened #78 "記事やウェブページの編集内容の反映のタイミングについて"
Steps:
1. 記事の新規作成画面へ移動
2. タイトルを入力
3. 保存をクリックして、記事全体の編集画面に戻る

Expected: 「タイトルを編集する」が、入力したタイトルに変わっている
Observed: 「タイトルを編集する」が表示されている

現状こういう仕様なのだとは思いますが、画面を切り替えたら、変更内容が反映されている状態にはできないでしょうか？
尚、詳細設定のタグの入力や公開日時などはすぐに反映されるので、大変わかりやすいです。

[2015-06-26 07:10] #77 closed, assigned to cheebow

[2015-06-26 07:10] #78 closed, assigned to cmatsuo

[2015-06-29 00:31] cmatsuo opened #79 "概要の表示"
Steps:
1. アプリから新規記事／ページ作成
2. 全ての項目が空のままMTに送信（ステータスは何でもOK）
3. アプリ上で、「概要」を確認

Expected: 概要欄は空
Observed: 概要欄に「…」が入力されている（タイトルなど入力した場合は、それが表示される）

概要を入力していない場合、MTEntryExcerptが設定した文字数を表示するのは問題ないのですが、MTの画面上ではユーザーが入力をしていない限り特に表示はしません。アプリでも同様の表示を期待していたのですが、これはアプリの場合の表示としては仕様になるのでしょうか？

[2015-06-29 00:36] cmatsuo opened #80 "下書き保存された記事／下書き保存されたページ"
ブログ／ウェブサイトダッシュボードでは「下書き保存された記事／下書き保存されたページ」と表示されるが、クリックしてその一覧画面に移動すると、ヘッダーに「未送信の記事／未送信のウェブページ」のように表示されます。
意図的なものでしょうか？（必ず表現が一致しなくてはならないというわけではないですが、念のための確認です）

[2015-06-29 00:50] cmatsuo opened #81 "アップロード先の "/""
Steps:
1. 画像のアップロード設定画面
2. アップロード先をクリック
3. アップロード先のディレクトリに表示されている "/" を削除
4. 保存して、画像アップロードの設定画面に戻る

Expected: 何を期待していたわけでもないですが…もしかして無くなるのかな？と。
Observed: 削除前と同じ、"/" が表示されている

削除できるように見えるが、実際には削除できないので（削除できてはまずいので、動作自体は正しいのですが）、実際の動作通り、表示上でも、そもそも削除できないようにしてしまうのはどうでしょう？

[2015-06-29 04:46] #80 closed, assigned to cmatsuo

[2015-06-29 04:49] #81 closed, assigned to cmatsuo

[2015-06-29 04:54] cmatsuo opened #82 "フォルダの設定保存ができない"
Steps:
0. ページのフォルダが存在する（なければ、MTで作成）
1. アプリで、ウェブページの作成
2. 既存のフォルダから、フォルダを設定
3. MTに送信（ステータスは何でもOK）

Expected: 選択したフォルダが設定されている
Observed: フォルダの設定が保存できない

[2015-06-29 05:47] cheebow opened #83 "新規作成時にフォルダの設定をしていないとエラーになる"

[2015-06-29 06:01] #83 closed, assigned to cheebow

[2015-06-29 06:01] cmatsuo opened #84 "画像の挿入画面のヘッダー名「写真」 or 「アイテムの追加」"
以下のステップで表示されるそれぞれの画面、ほとんど同じ機能の画面なので、ヘッダーの名称も統一してはいかがでしょう？

Steps:
1. 記事の作成＞本文で画像挿入＞カメラアイコンをクリック
2. 画像の挿入画面で、ヘッダーを確認＞「写真」
1. アイテム＞アイテム一覧のフッター＞カメラアイコンをクリック
2.  画像の挿入画面で、ヘッダーを確認＞「アイテムの追加」

[2015-06-29 07:23] keiichi4e opened #85 "記事作成画面の save ボタンの役割について"
## 分かりにくいと感じた点

記事作成画面で下記のような操作を行いました。
1. 記事作成画面を開く
2. タイトルを入力するために、タイトルのフィールドをタップする
3. タイトルを入力する

![img_8023](https://cloud.githubusercontent.com/assets/207862/8402664/4fc6a940-1e78-11e5-9cb6-449304f48126.PNG)

この後、記事の作成画面に戻りたい場合、左上の「＜」ボタンをタップしてしまうユーザーが多いのではないかという印象を受けました（実際は「Save」ボタンをクリックするのが正しい）。
## 分かりにくかったと感じた理由

恐らく、どちらの操作をしたらよいか迷ったのは下記のような理由だったのではなかと思いました。
- 左上の「＜」ボタンは戻るボタンを連想させるため、記事の作成画面に

[2015-06-29 07:40] keiichi4e opened #86 "「未送信の記事」の英語のフレーズについて"
#80 関連の些細なことです。

「未送信の記事」のフレーズの部分ですが、英語の場合
- ダッシュボードでの表記は Unsent entries / Unsent pages
- 各一覧画面のヘッダでは Unsent Entries / Unsent Pages (e,p が大文字)

というように違いがありました。どちらか（Unsent Entries / Unsent Pages の方？）に統一した方がよいかなと思いました。

[2015-06-29 07:47] keiichi4e opened #87 "記事やウェブページをローカルに保存するためのボタン"
記事やウェブページを保存する際にローカルに保存する場合のラベルは、現在「Save Local」になってますが、地元を守れ的な意味になっちゃいますかね。「Save locally」とかそんな感じでしょうか。

![img_8026](https://cloud.githubusercontent.com/assets/207862/8403293/1166701c-1e7e-11e5-8c3b-b04d19346f35.PNG)

[2015-06-29 07:59] keiichi4e opened #88 "記事やウェブページにタグを複数入力する方法が分かりにくい"
記事やウェブページに、複数のタグを付けるときの入力方法について
- タグをカンマで区切るのか
- スペースで区切るのか
- 改行で区切るのか

一見して分かりにくいのではないかと思いました。
- タグを複数入力できることと、タグを入力するための方法を説明する
- タグを補完したり入力を補助するような機能を導入する

のがよいかなと思いました。（MTの管理画面もそうですが。）

[2015-06-29 08:44] keiichi4e opened #89 "日本語ベースネームの記事を表示するとクラッシュする"
### Steps to reproduce
1. CMS側でブログを新規作成する
2. 記事作成画面を開く
3. 記事のベースネームを日本語にして記事を公開する
   - 記事の例
     - タイトル: あああ
     - Published
     - ベースネーム: あああ
4. 記事編集画面に表示されるパーマリンク(URL)をタップする
   - パーマリンクのファイル名が `あああ.html` となっていることを確認する
### Expected

公開されたページが表示される（またはそもそもそういう記事は作成できるべきではない？）
### Actual

アプリがクラッシュする

[2015-06-29 09:00] keiichi4e opened #90 "画像のカスタムフィールドの表示について"
## 分かりにくいと感じたところ

画像のカスタムフィールドが存在するブログの記事作成画面を開くと、下記のように表示されます（スクリーンショットの `EntryImage` の部分です）。

![img_8028](https://cloud.githubusercontent.com/assets/207862/8404393/95928822-1e87-11e5-9413-b381f58d0934.PNG)

ラベルの下に白い空間が広がっているので、そこをタップすれば何かが起こりそうだと判断できそうな気もしますが、何のために空白があるのかが曖昧で少し分かりにくい印象を受けました。
## 提案

たとえばこんなかんじとかどうですかね。
- 本文や続きと同じように、ユーザーに求めるアクションを示す「Select Image...」のような文言を空白の部分に表示する
- カスタムフィールドに

[2015-06-29 09:11] keiichi4e opened #91 "カスタムフィールド(Single-line)に改行を入力できる"
## Steps to reproduce
- CMS
  1. ブログを作成する
  2. 記事用のテキスト(1行)カスタムフィールドを作成する
- iOS App
  1. 記事作成画面を開く
  2. 作成したカスタムフィールドに値を入力するために、カスタムフィールドをタップする
## Expected

カスタムフィールドに値を入力することができる。改行は入力することができない。
## Actual

カスタムフィールドに値を入力することができる。改行は入力し、投稿することができる。

[2015-06-29 09:23] keiichi4e opened #92 "ラジオボタン/ドロップダウンフィールドの初期値が反映されない"
## Steps to reproduce
1. [cms] ラジオボタンのカスタムフィールドを作成する
   - オプション : a, b, c
   - 初期値 : b
2. [app] 記事作成画面を開く
3. [app] 作成したラジオボタンのカスタムフィールドをタップして選択する
## Expected

b があらかじめチェックされている
## Actual

何もチェックされていない
## Notes

ラジオボタンと同様に、ドロップダウンフィールドの場合も初期値に設定した値が反映されませんでした

[2015-06-29 09:40] keiichi4e opened #93 "アイテム一覧でアイテムのフェッチが終わらない場合がある"
## Steps to reproduce
1. ブログを作成する
2. アイテムをアップロードする（アイテムAとする）
3. アイテムをもうひとつアップロードする（アイテムBとする）
4. アイテムBを削除する
5. アイテム一覧を開く（アイテムAだけが表示されている）
6. いわゆる pull to refresh をする
## Expected

「Fetch items...」と表示されたあと、アイテム一覧にアイテムAが表示される
## Actual

「Fetch items...」と表示されたままになり、アイテム一覧が表示されない
## Workaround

アプリを一度終了してから pull to refresh すると正常に操作が完了する
## Screenshot

![img_8030](https://cloud.githubusercontent.com/asse

[2015-06-29 23:37] #84 closed, assigned to cmatsuo

[2015-06-29 23:41] #82 closed, assigned to cmatsuo

[2015-06-29 23:49] cmatsuo opened #94 "フォルダを選択せずに「完了」したページをMTに送信するとアプリが落ちる"
Steps:
1. ブログ＞ウェブページの新規作成を表示
2. フォルダの選択画面に移動
3. 何も選択せずに、「完了」をクリックして、ページの作成画面に戻る
4. MTに送信（ステータスは何でもOK）

Expected: MTに新規作成ウェブページが送信される
Observed: アプリが落ちて、送信できない

[2015-06-30 01:52] #86 closed, assigned to keiichi4e

[2015-06-30 01:57] #85 closed, assigned to keiichi4e

[2015-06-30 01:57] #87 closed, assigned to keiichi4e

[2015-06-30 02:19] #89 closed, assigned to keiichi4e

[2015-06-30 03:01] cmatsuo opened #95 "カスタムフィールド：複数行CFに改行を含めた文字列を保存した場合"
Steps:
1. アプリから、複数行のカスタムフィールドに、以下のように入力して、保存。MTに送信。
[code]
2.  MTで、送信した記事／ウェブページの編集画面を開き、複数行カスタムフィールドの入力内容を確認

Expected:
[code]

Observed:
[code]

[2015-06-30 03:08] cmatsuo opened #96 "カスタムフィールド：プルダウンメニュー、ラジオボタン：ブランクの選択ができない"
Steps:
1. 次のようなオプションの、プルダウンメニュー／ラジオボタンCFを記事／ウェブページに作成する。

[code]
1. アプリから、プルダウンメニュー／ラジオボタンCFでブランクを選択して、MTに送信（ステータスは何でもOK）。
2. MTの管理画面で、送信された記事／ウェブページの編集画面＞プルダウンメニュー／ラジオボタンCFを確認。

Expected: ブランクが選択されている
Observed: 何も選択されていない

[2015-06-30 05:29] cmatsuo opened #97 "MTにある別アカウントで入って、未送信の記事／ウェブページを編集できる"
Bug? （いまのところ仕様？）

Steps:
1. アプリにログインして、未送信記事を作成する
2. MTに、同じブログ／サイトに「記事の作成」権限を持つ新規ユーザーを作成
3. 2で作成したユーザーアカウントで、アプリにログイン
4. 1で作成した記事の編集画面に移動して、編集が行える

Expected: 新規ユーザーで、1の記事を見ることができない
Observed: 新規ユーザーで、1の記事を編集できる

[2015-06-30 05:38] keiichi4e opened #98 "ページ一覧を取得できない場合がある"
@Nick-smallworld さんからのレポート。どの環境でも再現するわけではないが、MT for AMI 6.1.2 Apache 版の環境では発生する。mt6qa3 では発生しない。
## Steps to reproduce
1. [CMS] Rainier テーマを選択して、ウェブサイトを作成する
2. [iOS App] サインインする
3. [iOS App] 作成したウェブサイトを選択する
4. [iOS App] ウェブページ一覧を開く
## Expected

ウェブページ一覧に、Rainier のデフォルトページ（「アバウトページ」と「ウェブページの例」）が表示される
## Actual

ウェブページ一覧に、タイトルなどが設定されていないページがひとつ表示される。タップして編集画面に遷移すると、その後どのボタンをタップしても何も起こらなくなる。

アプリを終了する

[2015-06-30 05:59] keiichi4e opened #99 "アイテムの検索結果が表示されない場合がある"
@Nick-smallworld さんからのレポート。 #98 と同じ環境で、アイテム一覧を取得できない場合がある。社内テスト環境では発生しない。
## Steps to reproduce
1. [CMS] ウェブサイトを新規に作成する
2. [App] サインインする
3. [App] アイテム一覧画面を開く
4. [App] いくつかのファイルをアップロードする
5. [App] アイテムを検索する
## Expected

検索結果が表示される
## Actual

検索実行「Fetch Items...」と表示されたままに操作できなくなることがある

![img_8033](https://cloud.githubusercontent.com/assets/207862/8424692/908c4d70-1f38-11e5-9dc4-b36e0f8f2004.PNG)

[2015-06-30 06:18] keiichi4e opened #100 "フォルダを選択するとアプリがクラッシュする"
@Nick-smallworld さんからのレポート。 #98 と同じ環境で発生している。他の環境(mt6qa3)では発生しない。
## Steps to reproduce
1. [CMS] Rainier テーマを選択してウェブサイトを作成する
2. [App] サインインする
3. [App] ウェブページ作成画面を開く
4. [App] フォルダをタップして選択画面に
## Expected

フォルダ一覧が表示される（Rainier テーマが作成する「about」フォルダが表示される）
## Actual

アプリがクラッシュする

[2015-06-30 06:31] keiichi4e opened #101 "記事/ウェブページを投稿しても内容が反映されない"
@Nick-smallworld さんからのレポート。 #98 と同じ環境で発生している。他の環境(mt6qa3)では発生しない。
## Steps to reproduce
1. サインインする
2. 記事作成画面を開く
3. タイトルと本文を設定して投稿する
   - タイトル: foo
   - 本文: bar
## Expected

タイトルが「foo」、本文が「bar」の記事が投稿される
## Actual

記事は投稿されるが、タイトルと本文が設定されていない状態になっている

[2015-07-01 06:32] #92 closed, assigned to keiichi4e

[2015-07-01 06:36] #91 closed, assigned to keiichi4e

[2015-07-01 06:39] keiichi4e opened #102 "記事/ウェブページのタイトルとタグに改行を入力できる"
#91 と同様に、記事の「タイトル」と「タグ」のフィールドも改行を入力できないようにしたほうがよいですかね。どうでしょうかー。 @yuji

[2015-07-01 23:59] #94 closed, assigned to cmatsuo

[2015-07-02 00:03] #96 closed, assigned to cmatsuo

[2015-07-02 06:11] cmatsuo opened #103 "L10N: Fetch items..."
一覧画面で、アイテムの表示待ち中に出るメッセージです：
![image1](https://cloud.githubusercontent.com/assets/546386/8470836/7f25666c-20cc-11e5-9daf-52f82e100381.PNG)

[2015-07-02 06:40] cmatsuo opened #104 "公開終了日時に過去の日時を設定できる"
MTではエラーを表示しますが、アプリではどうしますか？

Steps:
1. 記事の作成
2. 設定画面で、終了日時を設定
3. 過去の日時を入力して、完了
4. MTに送信

Expected: （エラーを表示？）
Observed: そのまま保存／送信できる。MTで編集画面を開くと、「公開終了日は、未来の日時を指定してください。」とエラーが表示される

[2015-07-02 15:41] oguraayumi opened #105 "記事一覧、テンプレート一覧（ローカル保存含）のフォントサイズ、マージン調整"
![img_1537](https://cloud.githubusercontent.com/assets/618638/8481009/f4919ed0-211b-11e5-8863-da37e0cbd454.jpg)

記事（テンプレート）タイトルのフォントサイズを小さく40→33pxに、
セルのright bottomのマージンを30pxに調整したいです。
画像参照くださいませ。

[2015-07-02 15:43] oguraayumi opened #106 "Dateのタブのカラー変更"
![img1539](https://cloud.githubusercontent.com/assets/618638/8481109/56e0d998-211c-11e5-9b8d-195e096727fd.jpg)
タブのfillとborderのカラーをナビゲーションバーと同色の#4a4a4aに
activeじゃない方の文字も#4a4a4aに調整したいです。

[2015-07-02 15:45] oguraayumi opened #107 "設定、写真選択画面のアイコン付きリストの文字色とサイズ調整"
![img_1535](https://cloud.githubusercontent.com/assets/618638/8481161/975f4d60-211c-11e5-8464-1c15d30d56d7.jpg)
Setting画面、写真選択画面の
リストの文字をブログトップのリストの
フォントサイズとcolorに合わせたい33px #5B5C59

設定値を相対的に小さくしたいので30pxに調整したいです。

[2015-07-03 00:06] #103 closed, assigned to cmatsuo

[2015-07-03 00:45] cmatsuo opened #108 "セッション破棄がうまくいってない（？）"
Steps:
FYI: この動作は、EC2環境で確認しました。
1. アプリにログイン
2. サーバーを落とす
3. アプリからログアウト

Expected: アプリからログアウトして、ログイン画面に戻る
Observed: ログアウトできない
1. iphone側のキャッシュをクリアして、アプリを起動

Expected: ブランクのログイン画面（アカウント、パスワード、URLが入力されていない）を表示
Observed: 1でログインした際のアカウント、パスワード、URLが入力されているログイン画面を表示

[2015-07-03 01:48] #90 closed, assigned to keiichi4e

[2015-07-03 01:50] #102 closed, assigned to keiichi4e

[2015-07-03 02:45] cmatsuo opened #109 "画像ブロックを挿入した際の記事の編集画面の表示"
添付画像参照。この "Label" というのは何のために表示されているのでしょうか？

Steps:
1. 記事の新規作成画面を開く
2. 本文入力画面へ移動
3. フッターのカメラアイコンをクリックして、画像ブロックを追加（画像を追加しても、せずにキャンセルしてもOK）
4. 完了、して記事の作成画面に戻る

![image1](https://cloud.githubusercontent.com/assets/546386/8491661/65a8722c-2178-11e5-9778-a0849209e73a.jpg)

[2015-07-03 03:16] #106 closed, assigned to oguraayumi

[2015-07-03 03:39] #105 closed, assigned to oguraayumi

[2015-07-03 03:40] #107 closed, assigned to oguraayumi

[2015-07-03 03:51] oguraayumi opened #110 "カメラにアクセスできないときの画面 アイコンと文字色の変更"
![toph](https://cloud.githubusercontent.com/assets/618638/8492153/b49a06ae-2180-11e5-90c0-74bdda4ee412.jpg)

カメラにアクセスできないときの画面でアイコンと文字色を
変更することはできますか？
できるようでしたら、お願いしたいです。

ガイドと仕様書（最新版にもいれています。）
https://drive.google.com/a/sixapart.com/folderview?id=0B3DAAwwej82XfjFCcV9BZ19KalZKcHpVYzZyU1FIQ2h0c3lxbHJmaEpxUnExT3o3emdsUTQ&usp=sharing

[2015-07-03 05:51] #109 closed, assigned to cmatsuo

[2015-07-03 05:52] #108 closed, assigned to cmatsuo

[2015-07-03 06:14] cmatsuo opened #111 "プレーンテキストエディタのとき、テキストブロックにカメラアイコンは必要ない"
Steps:
1. 新しい記事の作成画面へ移動
2. フッター左の詳細設定を開き、エディタを「プレーンテキスト」に変更
3. 本文を編集画面に移動
4. テキストブロックを選択して、テキストの入力画面を開く

Expected: テキストの入力画面
Observed: テキストの入力画面にカメラアイコンがあって、クリックすると画像の挿入ができる

Note to self: ただし、MTに保存されたデータの編集をする際の、プレーンテキストエディタの場合は、カメラアイコンが表示され、画像の挿入ができることを確認。また、その際、挿入した画像の関連情報が、MT上で記事の編集画面および、画像の編集画面でウィジェットに表示されることを確認。

[2015-07-03 06:46] cmatsuo opened #112 "ページ：画像の利用状況に関する表示（MTにすでに保存されているページを編集、画像の挿入を行った場合）"
Steps:
1. ウェブページを作成
2. MTに送信（MT側でウェブページを作成してもOK）
3. ウェブページの一覧から、1-2で作成したページを選択し、編集画面を開く
4. 本文、または追記の編集画面を開く
5. プレーンテキストの編集画面で、カメラアイコンをクリックし、画像を挿入
6. MTに送信
7. MTで、5で編集したページの編集画面を開く

Expected: 画面右下の「ウェブページアイテム」ウィジェットにも挿入した画像が表示されている。また、画像の編集画面にも、利用状況ウィジェットに記事へのリンクが表示されている。
Observed: 「ウェブページアイテム」ウィジェットに、挿入した画像が表示されない。（画像編集画面側はきちんと表示されている）

記事の編集の場合この現象は起こりません。　#67 の修正漏れかもしれません。

[2015-07-06 02:23] #111 closed, assigned to cmatsuo

[2015-07-06 02:56] cmatsuo opened #113 "フィールドが未入力時（かつ初期値等が無い場合）の入力画面の表示について"
#90 の修正で、画像CFのみ、編集画面にCFの説明文が表示されるようになりましたが、CFに関わらず、フィールドによって、表示の仕方に違いがあることに違和感があるのですが、何らかの形に統一できないものでしょうか？

以下、現在の表示内容です:
1. CF編集画面で設定した説明文を表示: 画像CF
2. 「（フィールド名）を編集する」: タイトル、本文、追記、複数行テキストCF、埋め込みCF
3. 移動を示すアイコン、「＞」のみを表示: 上記以外で初期値等のないフィールド

![image1](https://cloud.githubusercontent.com/assets/546386/8514922/ee3b8d24-23d3-11e5-9cf4-6e225c52eaeb.PNG)

[2015-07-06 02:57] #100 closed, assigned to keiichi4e

[2015-07-06 06:39] cmatsuo opened #114 "ウェブページ： 日時、日付、時間のカスタムフィールドをブランクで作成した場合、「0」が挿入される"
Steps:
1. ウェブページに、日時、日付、時間のカスタムフィールドを作成
2. アプリから、新しいウェブページを作成し、MTに送信。この際、日時、日付、時間のカスタムフィールドは、特に値を指定せずに保存
3. PCでMTの管理画面を開き、送信されたページの編集画面を確認

Expected: 日時、日付、時間のカスタムフィールドはブランク
Observed: 日時、日付、時間のカスタムフィールドに、0000-00-00　00:00:00　のような値が表示される

FYI: 記事の場合はこの現象は起こりません。また、MTの管理画面から作成した場合、ウェブページ、記事の両方でこの現象は起こりません。
![datetimecf](https://cloud.githubusercontent.com/assets/546386/8516900/346d62d8-23f5-11e5-9b4d

[2015-07-07 01:25] #114 closed, assigned to yuji

[2015-07-08 11:27] #101 closed, assigned to yuji

[2015-07-08 11:28] #99 closed, assigned to yuji

[2015-07-08 11:29] #98 closed, assigned to yuji

[2015-07-08 11:30] #93 closed, assigned to yuji

[2015-07-12 11:08] #60 closed, assigned to yuji

[2015-07-12 11:10] #70 closed, assigned to yuji

[2015-07-14 13:05] yuji opened #115 "日時指定のところの訳"
日時 -> 日付

[2015-07-18 09:12] yuji opened #116 "Add ability to upload multiple photos at a time"
Add ability to upload multiple photos at a time

[2015-07-21 03:40] #28 closed

[2015-07-21 03:40] #30 closed

[2015-07-28 03:07] cheebow opened #117 "DataAPI-SDKをcocoapodsから使うようにする"

[2015-07-29 14:03] dreamagicjp opened #118 "iOS 9 Beta: サインインすると Unauthorized というエラーが発生する"
iOS 9 Beta でサインインすると Unauthorized というエラーが発生し、サインインに失敗する現象が発生します。

![img_8106](https://cloud.githubusercontent.com/assets/207862/8959469/fdb21a46-3645-11e5-93a9-e5a76f61b49c.PNG)

[2015-07-30 01:19] padawan opened #119 "Disable autocorrect for the login page fields"
On the login page, the iOS autocorrector remains enabled for all fields. This makes entering the URL very difficult as one has to refuse the proposed corrections for things like domain names or "cgi-bin" or even "mt" (and the habit of iOS to add a trailing space each time one dismisses its corrections).

Please disable auto-correct for all fields on the login page.

(Tested on iOS 8.4 (12H143) on

[2015-07-30 02:17] yuji commented on #119
Thanks!

[2015-08-27 05:26] dreamagicjp commented on #118
@yuji (Maybe) this issue is still reproducible with iOS 9 beta 5 on iPhone 6. We probably should start try to fix this.

[2015-09-25 02:57] yuji commented on #119
Fixed in development.

[2015-09-25 02:57] #119 closed

[2015-09-25 03:08] yuji opened #121 "Add EMEA translation"

[2015-09-25 03:09] yuji commented on #121
Maarten and his team is now working on.

[2015-09-25 03:11] yuji commented on #118
Fixed to work with iOS9 by a build 1.0.1.60

[2015-09-25 06:32] #115 closed

[2015-09-25 06:33] #118 closed

[2015-10-09 02:07] cmatsuo opened #122 "画像のアップロード先に日本語や絵文字など、non-ascii文字が入力できてしまう"
Steps:
1. サイト／ブログダッシュボード＞設定（サイト名横のアイコンをクリック）＞アップロード先
2. 「てすと」と入力後、完了をクリック

Expected: 「有効なパス名を指定してください。」等のエラーを表示
Observed: 保存を完了して設定画面に戻る

[2015-10-13 09:37] cmatsuo opened #123 "Helpのリンク先が、日本で設定してあっても、ja（日本語）にならない"
システム＞設定＞ヘルプ
以下のリンク先になるようにお願いします。

ja: http://www.movabletype.jp/documentation/mtios/help
ja以外: http://www.movabletype.jp/documentation/mtios/help/en

![image](https://cloud.githubusercontent.com/assets/546386/10451168/884664ae-71d9-11e5-8a1f-f41451a72d20.png)

[2015-10-13 09:40] cmatsuo commented on #123
Note to self: iOS8と9の両方で修正を確認のこと。

[2015-10-13 11:57] yuji commented on #123
done!

[2015-10-14 00:57] cmatsuo commented on #123
verified fix!

[2015-10-14 00:57] #123 closed

[2015-10-14 01:41] cmatsuo opened #124 "Basic認証がかからない"
mt6qa3で作業しています。
クラウドサービスの機能で設定した管理画面、ウェブサイト／ブログへのBasic認証が無視されます。

[2015-10-14 02:12] cmatsuo opened #125 "権限のない画面の表示について"
権限のない親サイトは、まぎらわしいだけなので、ブログの一覧画面に表示しないことにしてはどうでしょう。
以下、現在の表示状態の一例：

Steps:
1. cmatsuoというユーザーを作成。cmatsuoというブログ（KwatanabeWebの子ブログ）のブログ管理者権限と、FirstWebsiteのライター権限を持つ。
2. MTiOSにサインイン、サイト／ブログの一覧画面を表示
3. cmatsuo、First Website、KwatanabeWebの３つが表示される

![image 2](https://cloud.githubusercontent.com/assets/546386/10473240/2c079efc-7264-11e5-92c8-1990c59b1ee6.png)

4. KwatanabeWebを選択する。エラーが表示されるが、ダッシュボードには移動できる

[2015-10-14 02:15] cmatsuo opened #126 "L10N: Do not have permission to retrive the requested fields."
サイトに権限を持っていない（子ブログに権限を持っている）ユーザーが、サイトのユーザーダッシュボードにアクセスした際のポップアップ

![image](https://cloud.githubusercontent.com/assets/546386/10473296/dca4c672-7264-11e5-9b4a-cbb0d7f63359.png)

[2015-10-14 03:08] yuji commented on #125
It seems to be a bug. However, I think that is not serious issue for now. I'd push this to v1.1 bucket.

[2015-10-14 03:12] yuji commented on #126
oh... this message was outputs by Data API... File a new case in FogBugz.

https://movabletype.fogbugz.com/f/cases/113510/L10N-Do-not-have-permission-to-retrive-the-requested-fields

[2015-10-14 03:12] #126 closed

[2015-10-14 03:17] cmatsuo opened #127 "You can't set milliseconds on MTiOS"
When you set schedule publish/unpublish like "12:00" you expect it publish/unpublish at 12:00 but since you can't set milliseconds on app, maybe you end up set it like 12:00:15, and MT publish/unpublish it at 12:05:00 (if your cron works per 5 min) instead of 12:00:00.
I think this behavior isn't what user expect.

How about set milliseconds always "00" when you set scheduled publish/unpublish on

[2015-10-14 03:25] cmatsuo opened #128 "Category/Folder setting screen down app"
Steps:
1. Go to MT on PC.
2. Create some categories for a website/blog.
3. Go to Create a new Entry on app.
4. Tap Category.

Expected: Go to category setting screen.
Observed: MTiOS down.

FYI: It's same about folder for Create/Edit Page.

[2015-10-14 03:30] cmatsuo commented on #125
kay!

[2015-10-14 04:18] yuji commented on #124
管理画面へのbasic認証は、クラウド相当では掛からない仕様だったので。いまは、mt6qa3に限りCMSへのbasic認証がdata_apiにもかかるようにしました。

[2015-10-14 04:18] #124 closed

[2015-10-14 04:24] yuji commented on #128
hmm... still happened sometimes...

[2015-10-14 04:28] yuji commented on #127
I guess, this is by spec of UI library for iPhone App currently. Move to Backlog.

[2015-10-14 05:12] cmatsuo opened #129 "Basic Auth for blog/website"
I'm testing on mt6qa3.

Steps:
1. Go to a website > Cloud Services > Basic Auth.
2. Set Basic auth for the website.
3. Sign in MTiOS.
4. Go to website dashboard which you set Basic auth at step 2.
5. Click website URL.

Expected: View published website, and pop-up Basic auth account/password input.
Observed: MT try to load the site but it doesn't display pop-up thus can't display the site (just go

[2015-10-14 05:14] cmatsuo commented on #124
Thanks, verified with mt6qa3. And split Basic Auth behavior for website/blog. #129

[2015-10-14 05:23] ikoaoki opened #130 "アイテムにサイズ0×0の画像が出来て削除出来ない。"
発生タイミング、再現手順は確定出来ていないのですが、
「アイテムの一覧」を読み込みに行く時に、時折落ちるので、そこで発生した印象です。

### 現象
アイテムに「サイズ0×0」の画像が出来て削除出来ない。
上記画像があると、他アイテム一覧が取得できなくなり、「アイテムを取得しています…」の画面で止まってしまう。

### 発生したと思われる状況
1) アイテムを取得する為に、リフレッシュを行う。
2) アイテムが取得できないまま、アプリが落ちる

3) 再度サインインして、ブログ＞アイテム　に行く。
4) アイテム欄に、サイズ0×0 の画像ができている。
　→この画像を削除しようとすると、Unknown Endpoint と出て削除できない。

5) アイテム一覧をリフレッシュを行う。
6) 他アイテムもあるはずだが、「アイテムを取得しています…」の画面のまま、一向に進まなくなる。

#

[2015-10-14 05:36] yuji commented on #130
Maybe communication error with DataAPI. Set milestone

[2015-10-14 05:39] yuji commented on #129
By default, UIWebView does not support Basic Authentication operation. Developer should be care it...

[2015-10-14 05:40] yuji commented on #129
Put into 1.1 bucket.

[2015-10-14 06:11] cmatsuo opened #131 "MTiOS ignore "required" setting for Customfields"
Is this spec or bug?

Steps:
1. Create required text custom field for entry.
2. Create an entry with input nothing for the custom field.
3. Save and push it to MT.

Expected: Unable to save the entry 'cause there is required field to fill.
Observed: You can create entry with unfilled required field from app.

[2015-10-14 08:34] cmatsuo opened #132 "I often click "Done" when I want to select something just below it."
look at attached image.
I often click "Done" and end up just go back to previous screen instead of could select "Plane Text", and it's really annoying. And this isn't only one, some similar screens exist.

I'm not sure how the UI should be like but any better UI idea?

![done](https://cloud.githubusercontent.com/assets/546386/10478603/b100871a-7299-11e5-8a3b-fa1b66aeebb0.png)

[2015-10-14 09:02] cmatsuo opened #133 "Create/Edit screen sorting setting should effect per user and site/blog."
Steps:
0. You have 2 member at least for the website/blog who have create entry permission.
1. Sign in as user_A.
2. Go to Create Entry > Sorting (Click "Edit" on footer).
3. Sort and hide some fields, and save it.
4. Make sure the sorting setting was saved for user_A.
5. Sign out, and sign in as user_B this time.
6. Go to Create Entry.

Expected: Sorting setting doesn't effect for user_B.
Observe

[2015-10-14 09:26] yuji commented on #133
Does not implemented yet? omg. set milestone to 1.1

[2015-10-14 09:32] cmatsuo opened #134 "Sometimes Strike or Underline icon of Richtext Editor looks like unable to off"
Steps:
0. Text editor is Rich Text.
1. Go to Create Entry > Text Block.
2. Select Strike icon and input something, return the line.
3. Tap Strike icon.

Expected: Strike icon back to off color (blue).
Observed: Strike icon stay on  color (gray).

FYI 1: After step 3, you'll find the icon is still gray but you can input text without strike effect, but it's very user-un-friendly. Because you'll try

[2015-10-14 09:42] takkyun opened #135 "Date picker is left aligned in iPhone 6/6 plus"
As per attached screenshot, date picker in date selection view is left aligned on iPhone 6/6 Plus.  It should be have same width as screen or centre aligned.

It seems misconfiguration in its storyboard (`DatePicker.storyboard`).  I am not familiar with setting up layout constraint on interface builder (I'm usually setting them up programatically), so I am not too sure what's best approach to fix.

[2015-10-14 10:06] takkyun commented on #132
Hitting area of "Done" (完了) is bigger than visual. Several way to solve:

- putting section header
- getting rid of "Done" button from Navigation bar (like usual iOS interaction, as soon as user selects option, it's immediately applied (as a result, no confirmation dialog will be shown)
- making tick mark into left.  The reason why user may try to tap right side is that tick mark is shown right si

[2015-10-14 12:09] yuji commented on #135
Thank you for your report!

[2015-10-15 01:27] cmatsuo commented on #132
+1 to getting rid of "Done" button from Navigation bar idea.

[2015-10-15 01:58] cmatsuo opened #136 "Embed and multiline text custom fields don't need Rich text Editor"
As well as single line text custom field. Or, do they?

![image](https://cloud.githubusercontent.com/assets/546386/10502870/70b4e5c4-732b-11e5-9a09-4085dbbc912e.png)

[2015-10-15 02:33] cmatsuo commented on #131
I can't repro this anymore. Close!

[2015-10-15 02:33] #131 closed

[2015-10-15 02:39] cmatsuo opened #137 "Need to mark required CF on MTiOS"
App says you need to put into required field for save, but you can't see which one is the required on the screen.
On CMS, required CF marked by asterisk.

![image](https://cloud.githubusercontent.com/assets/546386/10503473/49f51bce-7331-11e5-9c08-b641b11fc956.png)

[2015-10-15 02:46] cmatsuo opened #138 "Loophole for required CF"
Steps:
1. Create a required text CF for Entry.
2. Go to Create Entry on MTiOS.
3. Save it.
5. Get error for required field.
6. Input something for the field, tap Done.
7. Open the field again, remove everything you input at step 6.
8. Tap Save again.

Expected: Get error for required field.
Observed: Save entry.

[2015-10-15 05:20] cmatsuo commented on #125
Note to self: Need to verify that an user with "Author" role shouldn't be allowed to view another user's entries on Manage Entries.

[2015-10-15 05:30] cmatsuo opened #139 "With "Author" permission, you cannot edit your entry"
Steps:
1. Create an user who has Author permission for a blog.
2. Create an entry by that newly created user account at step 1.
3. Sign in to app with the user account.
4. Go to Manage Entries.
5. Click entry which you created at step 2.

Expected: Open Edit Entry screen.
Observed: Get permission error.

![author](https://cloud.githubusercontent.com/assets/546386/10505516/279bba34-7349-11e5-9f39-3

[2015-10-15 10:44] takkyun opened #140 "typo: failured"
It's just cosmetic in code only (In English localisation, they are corrected).
I think it's better to correct them in code & localisation comments too.

In addition to, I've noticed order of word in English.
"Failed %@" in English sounds more natural for me instead of "%@ failed"
e.g. "Fetch sites failed." => "Failed to fetch sites information."

Although I presume there is some restriction due to

[2015-10-15 13:25] yuji commented on #140
Thanks! Will talk with US staff!

[2015-10-16 01:53] cmatsuo opened #141 "Turn off iPhone kick you out of app"
Steps:
1. Sign in MTiOS.
2. Leave it as you had signed in.
3. Turn off your iphone.
4. Turn on and Open MTiOS.

Expected: Back to in MTiOS.
Observed: Open Sign in screen with filled account, password and URL. But when you tap sign in button, you'll get error as you can see attached image.

![signin](https://cloud.githubusercontent.com/assets/546386/10531935/0082fafc-73f3-11e5-8be3-5066a0cc9457.jpg

[2015-10-16 02:30] cmatsuo opened #142 "Submit unpublished entry and you can break entry status."
Steps:
1. Create a scheduled unpublished entry.
2. On Manage Entries, make sure the entry unpublished and the icon is right one on on CMS.
3. Go to MTiOS and find the entry on Manage Entries.
4. Open Edit Entry, and make sure the status setting form does select nothing. All of Publish, Draft and Scheduled are white, I mean "off".
5. Don't edit anything. Just Tap Save, then Submit.
6. Go to Manage

[2015-10-16 04:33] cmatsuo opened #145 "Sometimes Sorting screen tend to down when save change"
This doesn't happen always but often enough.

Steps:
1. Create all type custom fields for entry on CMS.
2. Sign in to MTiOS.
3. Go to Edit Entry screen > Sorting (tap Edit on footer of Edit Entry).
4. Hide all items you can and change the order of rest of items.
5. tap Done of header.

Expected: Save change and back to Edit Entry.
Observed: MTiOS go down.

[2015-10-16 06:13] cmatsuo opened #146 "L10N: Do not have permission to delete an asset."
This is when an user doesn't have Manage Asset permission but tried to delete an asset. (You need to remove the permission while the user have signed in to MTiOS to display Edit Asset screen)

@yuji Should I create this case to fbz instead of here?

![asset](https://cloud.githubusercontent.com/assets/546386/10534877/67dc77b2-7418-11e5-932a-b7ab4d7c09c5.jpg)

[2015-10-16 07:46] yuji commented on #146
hmm.. This message came from Data API...

Move to FogBugz. https://movabletype.fogbugz.com/f/cases/113531

[2015-10-16 07:46] #146 closed

[2015-10-16 15:30] yuji commented on #139
Resolved Fixed!

[2015-10-16 16:00] yuji commented on #135
Hi takkyun, Thanks for your pull request. I merged your changes but some commits were ignored because these are unnecessary, I think. Thanks again.

[2015-10-19 00:52] cmatsuo commented on #139
Verified fix!

[2015-10-19 00:52] #139 closed

[2015-10-19 03:09] takkyun opened #147 "unknown endpoint with MovableType 6.2"
Probably it's known issue.

When I access movabletype v 6.2, I've got "Unknown endpoint" error as attached screenshot.

Even I saw the error, it seems that MTiOS is functional.

![simulator_screen_shot_19_10_2015_15_56_20](https://cloud.githubusercontent.com/assets/1464708/10568893/a940037c-767a-11e5-9ac6-ef519e8e2644.png)

When MTiOS access `/v2/sites/1/fields` of its data api access endpoint, se

[2015-10-19 06:33] ikoaoki opened #148 "テキスト複数行CFフィールドにアプリから入力すると、<div>タグが入れられてしまう。"
関連　#136

#136 が解決されたら、こちらも解消される問題かな、と思いますが。

### 現象
テキスト複数行カスタムフィールドに、アプリから入力すると、二行目以降に`` <div> ``タグが入れられてしまう。

### 再現
1. テキスト（複数行）　のカスタムフィールドを作成する。（PC）
2. アプリから、記事を新規作成する。
3. 該当のテキスト（複数行）フィールドに、入力する。文字装飾は一切しない。文字だけを入力する。
　例）
　　こんにちは
　　さようなら
　　またね

4. 記事を保存する。
5. PC側から、記事一覧を開き、該当記事を開く

### 結果
6. 該当のテキスト複数行フィールドをみると、`` <div> ``タグが二行目以降に入ってしまっている。
<img width="634" alt="2015-10-19 15 33 06" src="http

[2015-10-19 06:49] cmatsuo opened #149 "Permission check result"
FYI: All ● are what you can do on the app, but red ones are what I decided that shouldn't be allowed for the permissions at all.

* I marked with red to "Sign In" for some permissions because they can do nothing when they sign in.
* And marked red for "File Upload Settings" because of the permissions aren't allowed to upload files thus the settings is just useless.
* Also, I marked with red for "D

[2015-10-19 06:59] cmatsuo commented on #149
@yuji 貼り付けた表が途中で切れてしまったので、google driveのシェアにします。
https://docs.google.com/a/sixapart.com/spreadsheets/d/16-_aiM26Lhe-l1gh-hVzzN0JnMxKxMUs0kblZPSFwYQ/edit?usp=sharing

[2015-10-19 07:00] mt-backup commented on #149
りょうかい！
パーミッション周りはもしかすると、Data API 側なのかもしれない。。。

2015年10月19日(月) 15:59 Chieko Matsuo <notifications@github.com>:

--
--
Yuji Takayama
Movable Type Product Manager & Lead Engineer, Six Apart
ytakayama@sixapart.com

[2015-10-19 07:06] ikoaoki commented on #148
#95　にて既に報告されているのでこちらcloseします。

[2015-10-19 07:06] #148 closed

[2015-10-19 08:52] ikoaoki opened #150 "テキスト装飾：文字の選択範囲が２文字以下だと文字の装飾に失敗する。"
### 現象
アプリでのテキスト装飾で、文字の選択範囲が２文字以下だと文字の装飾に失敗する。

### 再現方法
1. アプリ上で「本文」を開き、「テキスト」ブロックを開く
2. 文字を入力する。

　例）　あああああ
　　　　いい
　　　　ううう

3. 文字を選択して、文字装飾ボタンを押す。

### 結果
4. 「あああああ」５文字、は文字装飾に成功する。
　「いい」２文字は、文字装飾ボタンを押した後、選択範囲が解除されるだけで、装飾に失敗
　「ううう」３文字は、文字装飾に成功する。（が、たまに失敗する）

[2015-10-19 09:47] ikoaoki opened #151 "記事のステータスを示す、非公開（公開終了）アイコンが無い為に、未公開と区別が付きにくい。"
バグではなくリクエスト内容です。
公開が終了した記事を、また編集する機会は少ないと思いますので、重要ではないかもしれませんが。

### 要望
PC側では、ステータス「非公開（公開終了）」の記事はアイコンもあり分かりやすいが、
アプリ側では、「未公開」と同じ鉛筆アイコンがついており、区別がつきにくい。

### 画面の比較
「iPhoneから4」の記事が、指定日非公開により、「非公開（公開終了）」となった記事。

#### PCでの画面
<img width="891" alt="2015-10-19 18 37 07" src="https://cloud.githubusercontent.com/assets/6724607/10574353/74676968-7690-11e5-8c8a-f76b48c7541e.png">
（侵入禁止のようなアイコンがついており、二つ下の「未公開

[2015-10-20 06:45] ikoaoki opened #152 "未選択の画像ブロックは挿入できなくする"
こちらバグではなく、要望の範囲となります。

### 要望
記事/ページにアプリより入力時、テキストブロックや画像ブロックを見入力の場合。
未入力のテキストブロックは、「テキストを編集する」と出て分かりやすいのですが、
未入力の画像ブロックは、何も表示されないので、画像ブロックであると分かりづらいです。

#113　にて、CFで未入力時の表示について検討されているとのこと。同じタイミングで検討いただければ…。

![mt-20151020153612](https://cloud.githubusercontent.com/assets/6724607/10599912/6ecb60a2-7741-11e5-920b-6865389fa435.jpg)

[2015-10-20 08:25] mt-backup commented on #152
そもそも、画像が設定されてないブロックを作らないようにする方が正解な気がする
2015年10月20日(火) 15:45 ikoaoki <notifications@github.com>:

--
--
Yuji Takayama
Movable Type Product Manager & Lead Engineer, Six Apart
ytakayama@sixapart.com

[2015-10-20 08:31] cmatsuo commented on #152
+1 高山案（画像だけでなく、テキストでも同じ）

[2015-10-20 08:49] ikoaoki commented on #113
私もこちらカスタムフィールドの未入力状態で
* 画像CFフィールドは、CFフィールド作成時の「説明」が表示されるのに
* 複数行テキストCFフィールド、オブジェクトCFフィールドは、作成時の「説明」は表示されない

というのに少々違和感を感じました。
時期バージョンで期待しております〜。

[2015-10-20 09:38] ikoaoki opened #153 "PCとアプリで画像の作成ユーザー名の表示の種類が異なる"
細かい指摘ではありますが。

### 現象
PC側では、画像の作成ユーザーが「maoki」と＜ユーザー名＞で表示されるのに対し、
アプリ側では、画像の作成ユーザーが「アオキ」と＜表示名＞で表示される。

（ただ、アプリ側で「使いやすい」が条件ではあると思いますので、必ずしも絶対の統一の必要性は感じておりません）

##### PC側
<img width="815" alt="2015-10-20 18 32 33" src="https://cloud.githubusercontent.com/assets/6724607/10603572/b131022c-7759-11e5-8b59-c5044ddd9185.png">

##### アプリ側
![mt-20151020183118](https://cloud.githubusercontent.com/assets/67246

[2015-10-20 09:41] mt-backup commented on #153
これは本来CMS側も表示名を使うべきところだな。。

2015年10月20日(火) 18:38 ikoaoki <notifications@github.com>:

--
--
Yuji Takayama
Movable Type Product Manager & Lead Engineer, Six Apart
ytakayama@sixapart.com

[2015-10-20 09:49] ikoaoki commented on #153
確かに同感ではあります…。
（だって、そもそも、ログインしたらPC側のヘッダーの右側に常に表示されているのは＜表示名＞だから）

ただ、何となく、1ユーザーとして「表示名」は、記事の「投稿者名」として出力されるhtml側に使うもので、
管理画面側では「ユーザー名」という使い分けの印象もありました。

[2015-10-20 09:51] ikoaoki commented on #125
* ライター<br>
「ブログにのみ」ライター権限のみを持つユーザでログインすると、最初のダッシュボードが白いままで、サイト＆ブログリストを取得しようとすると、「サイトを取得しています…」と表示がされるだけで、権限をもつブログに辿りつけませんでした。

[2015-10-20 09:59] mt-backup commented on #153
ただ、何となく、1ユーザーとして「表示名」は、記事の「投稿者名」として出力されるhtml側に使うもので、
管理画面側では「ユーザー名」という使い分けの印象もありました。

その使い分けとも違って、MT的には、ユーザー名は

極力出さないようにするようにしてます。

サインインIDなので、あまし出さないように。

たまにこういうところに残ってますけど・・・。

2015年10月20日(火) 18:49 ikoaoki <notifications@github.com>:

--
--
Yuji Takayama
Movable Type Product Manager & Lead Engineer, Six Apart
ytakayama@sixapart.com

[2015-10-20 10:07] ikoaoki opened #154 "自身が現在どのアカウントでログインしているか表示して欲しい"
リクエストとなります。

### 現象
PC側ではユーザーダッシュボード＆管理画面のヘッダーに常に、ログインしているアカウントの＜表示名＞がありますが、
アプリでは、そういった＜現在自分がログインしているアカウント＞の情報が表示されていないので、分かりづらく、最初の「システム」の画面、あるいは「設定」などに表示を希望します。

### リクエストする理由
一つの端末＆アプリを複数人で利用させるのは、余り想定しているものではないかもしれませんが、
（アプリの利用規約としてはどうなる？）
このアプリは「サインアウト」をしない限り、
次回、アプリを立ち上げた時に、前回のログイン状態を維持？したまま立ち上がります。

よって、「別アカウント」でログインしたかったが、「どのアカウントで入っているか分からない」為に、ユーザーが意図しない別アカウントでのログインを招いてしまう可能性もあると思われます。

[2015-10-20 10:22] ikoaoki opened #155 "記事/ページ一覧＆編集画面で、ユーザー名は入れられないでしょうか。"
ユーザーアカウント系表示のリクエストが重なりますが。

### リクエスト
記事/ウェブページ一覧や編集画面で、PCと同じようにユーザー名をどこかに入れることは出来ませんでしょうか？

ただ、こちらのリクエストは、記事の作成＆編集ユーザーの名前が表示されていることが、運用上ではそこまで重みを感じませんので、何らしかの検討範囲に入れば、というものです。

![mt-20151020191032](https://cloud.githubusercontent.com/assets/6724607/10604520/d3f39eae-775f-11e5-9150-7d1f28597ea9.jpg)

[2015-10-20 10:26] ikoaoki commented on #130
10/20 memo
バージョン63にしてから、10/20中、この現象は発生していない。

[2015-10-20 11:07] mt-backup commented on #154
ユースケースがちょっと見えないかも。
別ユーザーで同じMTにログインしたいということ？

2015年10月20日(火) 19:07 ikoaoki <notifications@github.com>:

--
--
Yuji Takayama
Movable Type Product Manager & Lead Engineer, Six Apart
ytakayama@sixapart.com

[2015-10-20 11:17] ikoaoki commented on #154
@mt-backup

はい、そうです。
余り無いケースではある…とは思うのですが、
例えば、同じ一つのMTで、同じ端末でこのアプリを使っていて

* ユーザー「hoge」は、ウェブサイト「A」の記事の公開権限を持っている。
* ユーザー「sage」は、ウェブサイト「A」の記事の編集権限はあるけど、公開権限はない…

上記のような場合、
sageに記事の公開はさせたくないけど、hogeがサインアウトしていなかったら、
hogeアカウントでダッシュボードに入れてしまい、記事の公開ができてしまった…というような。

ぱっと見で、自分がどのアカウントユーザーでログインしているか、分かればいいのですが、
現状では、どのアカウントで入っているか、分かりづらいかな…と。

余りある想定されるシーンでは無いかもしれませんが。

[2015-10-20 11:40] mt-backup commented on #154
- ユーザー「hoge」は、ウェブサイト「A」の記事の公開権限を持っている。
   - ユーザー「sage」は、ウェブサイト「A」の記事の編集権限はあるけど、公開権限はない…

このユースケースがどこまで有るのか？
というところが疑問だったりします。実運用上で。
ユーザーとして使っているとき、ありました？（単純に質問として）

現状では、どのアカウントで入っているか、分かりづらいかな…と。
QA的にはよくわかりますｗ

マルチアカウント対応した時には、どのアカウントでどこに入っているのか
というのは見せることになると思うので、そこで吸収かなあ

2015年10月20日(火) 20:17 ikoaoki <notifications@github.com>:

--
--
Yuji Takayama
Movable Type Product Manager & Lead Engineer,

[2015-10-20 11:55] ikoaoki commented on #154
どうしても当然、過去の経験からすると、PC版管理画面での運用経験になるのですが、
個人の経験からでは、以下のようなケースを経験しております。

* フード部門の記事は、ユーザー「food」で記事の投稿だけをさせたい。<br>
　→権限ライター　にする。公開はできない。
* ファッション部門の記事は、ユーザー「fashion」で記事の投稿だけをさせたい<br>
　→権限ライター　にする。公開はできない。

上記で、ユーザー「food」と「fashion」は、別ブログに権限が分かれている場合もあるし、
同じブログで投稿カテゴリを変えてるだけの場合もある。（つまりイメージとして、ショップの、広報ブログ的な）

* 記事のチェック公開は、ユーザー「admin」にだけさせたい。

……これらを、何と一台のマシンでやっている、というユーザー環境があります。
（ショップの裏のクロークなどにマシンがあって

[2015-10-21 00:51] cmatsuo commented on #125
@ikoaoki iOS8での問題ですね。issueを分けましょう。iOS8を明記の上、別にissueの作成をお願いします。

[2015-10-21 01:29] cmatsuo commented on #153
@yuji @ikoaoki これはクローズで、fbzへ移動でいいのではないでしょうか？

[2015-10-21 02:13] cmatsuo commented on #135
verified fix.

[2015-10-21 02:13] #135 closed

[2015-10-21 03:37] mt-backup commented on #153
そですね。それで。
2015年10月21日(水) 10:29 Chieko Matsuo <notifications@github.com>:

--
--
Yuji Takayama
Movable Type Product Manager & Lead Engineer, Six Apart
ytakayama@sixapart.com

[2015-10-21 05:06] ikoaoki opened #156 "アプリでは画像がファイル名では検索出来ない。"
仕様、ということではあるかもしれませんが。

### 現象
PCでは、画像の検索は「ファイル名」と「アイテム名」が対象になっているが、
アプリでは、「アイテム名」でしか検索が出来ない。

### 再現手順
アイテムに以下のようなファイルを用意しておく。
* アイテム名「飛行機」　ファイル名「space_shuttle03.jpg」
* アイテム名「飛行機」　ファイル名「airrace01.jpg」
* アイテム名「sky01.jpg」　ファイル名「sky01.jpg」
* アイテム名「sky03.jpg」　ファイル名「sky03.jpg」

### 「01」で検索した結果
##### PC側
* アイテム名「飛行機」　ファイル名「airrace01.jpg」
* アイテム名「sky01.jpg」　ファイル名「sky01.jpg」

##### アプリ側
* アイテム名「sky01.jpg」

[2015-10-21 05:31] cmatsuo commented on #156
@ikoaoki 仕様書にあるとおり、仕様です。

[2015-10-21 05:41] ikoaoki commented on #156
失礼しました。
仕様ということで、こちらcloseいたします!! :bow:

[2015-10-21 05:41] #156 closed

[2015-10-21 07:34] ikoaoki opened #157 "サイト/ブログを検索後に、Xボタンで全サイト/ブログを表示させると、一覧でブログに親ウェブサイト名が表示されないことがある。"
### 現象
ウェブサイト/ブログを検索後に、ウェブサイト/ブログの全一覧を再度出させる為に、
Xボタンを押して「検索」すると、
ウェブサイト/ブログの一覧は出ているが、ブログ名に親ウェブサイトが表示されたりされない。

### 再現手順
1. アプリにサインインする。
2. 検索ボックスに「site」などと入力し、検索する。
3. 検索語で絞られた一覧が出る。

4. 検索ボックスの　X　を押して、検索語を消してクリアし、空のまま「検索」する。
　（つまり、ここで、再度、ウェブサイト/ブログの全一覧を求める）

### 結果
5) ウェブサイト/ブログの一覧は出ているが、ブログ名に親ウェブサイトが併記されていない。

### メモ
再現頻度は高いようです。
…が、必ず、という訳ではなく、同じ手順でやっても表示されることもあったり、一部のブログのみが表示されていない、という結果が出たりもし

[2015-10-21 08:33] ikoaoki opened #158 "カテゴリを何もチェックしていない記事を保存しようとすると、Categories parameter is invaild.とアラートが出ることがある。"
関連 #128

iOS8 アプリversion 65 で発生しました。

### 現象

1. カテゴリを何もチェックしていない記事で、アプリ上で記事を「保存」＞「送信する」しようとする。
2. 「Categories parameter is invaild.」とアラートが出て、消える。
3.  再度「保存」＞「送信する」をするが、2　のアラートが繰り返し出る。

こちらも時折発生する現象ではありますが…。
このループになると、「カテゴリに何かチェックを入れる」までしないと、このループから脱出することができませんでした。

![mt-20151021173208](https://cloud.githubusercontent.com/assets/6724607/10631563/c2d770e0-7819-11e5-9d85-d516e07e8d91.jpg)

[2015-10-21 09:43] yuji commented on #147
Thanks! Sometimes, this issue will happened...

[2015-10-21 09:46] yuji commented on #155
こちら。ユースケースとして考えられるものはどんなものがありますかね？

[2015-10-21 09:47] yuji commented on #154
管理画面の場合は、PC1台使い回しで。っていうのは、分かるんですけど、スマホのアプリで使い回しというのも、なかなか想像しにくいんですよね。
ま、マルチアカウント対応で。

[2015-10-21 09:50] ikoaoki commented on #155
こちらについては、#154 でのような、複数ユーザーでの一つのMTを管理＆更新している場合、でした。個人の経験の中では、

* ヤクルト優勝記念キャンペーン！　（記事作成者：food）
* ヤクルト優勝記念タイムセール　（記事作成者：fashion）

…など、一つのショップ内で、似たような表題の記事を取り扱っているシーンが割と度々経験していることからでした。

[2015-10-21 09:53] ikoaoki commented on #154
そうなんですよね…。
でも、メール投稿システムでMTを現場から更新して貰っていた時、一つのショップ内で、「これ皆で使ってね」と一台の携帯を使いまわしている現場がありましたので…スマホでも、ないことはない…かな、と。

[2015-10-21 09:53] yuji commented on #155
なるほど。りょうかいです！

[2015-10-21 09:54] yuji commented on #153
ということで、こちらはFbzにケースを作成して、こちらはCloseでお願いします

[2015-10-21 10:05] ikoaoki commented on #153
有難うございます！
Fbzで、以下にて報告させていただきましたので、こちらcloseいたします。
https://movabletype.fogbugz.com/f/cases/113545/

[2015-10-21 10:05] #153 closed

[2015-10-21 11:21] cmatsuo commented on #154
@yuji @ikoaoki
なるほど、メール投稿がよくある使い方だった頃にそういった使い方があったというのは、なんとなく想像できるような気がします。しかし、私も、アプリで多くのユーザーがそういった利用の仕方をするというのは、想像がしにくいです。

また、これは権限のあるコンテンツ以外を表示できないようにするなど、アプリサインイン時の権限周りの表示を見直すことで、かなり解決する問題に思えます。

また、MTの今後のバージョンで権限周りの見直しが全面的に必要になると思うので、これは1.1でそういった機能を入れるというよりは、MTのバージョンアップ時に全体の見直しの一環として考える必要がある内容かな、と思います。

[2015-10-21 16:15] yuji commented on #158
うーむ・・再現しない・・。

[2015-10-21 16:26] yuji commented on #157
これ、普通に検索結果のブログにウェブサイト名がでていない。ということではないですかね。

[2015-10-21 16:29] yuji commented on #147
I was not able to reproduce now with my MT... Will continue the investigation.

[2015-10-21 16:29] yuji commented on #141
Still not reproduce.

[2015-10-21 16:57] yuji commented on #130
これも再現しないな・・・うーむ

[2015-10-21 18:51] takkyun commented on #147
Couldn't you? hmm... I will also check. Just FYI:

* I've Installed MovableType 6.2 newly in different path (not upgrade)
* Using Sqlite

===

再現できませんでしたか。参考までに

* MovableType 6.2 はアップグレードではなく、新規でインストールしました
* Sqlite を使っています（関係ないと思いますが）

こちらでも再確認してみます。

[2015-10-22 00:55] cmatsuo commented on #157
@yuji iOS9では見たことの無い現象ですね。

[2015-10-22 00:58] cmatsuo commented on #130
@yuji iOS9(5s)では、アイテムの一覧で落ちるという動作自体がこれまでのところ起きてません。端末やOSに固有の可能性あるかも。

[2015-10-22 01:07] cmatsuo commented on #141
@yuji I can't repro this anymore. I don't know why but you cannot fix something unable to repro This case is close.

[2015-10-22 01:07] #141 closed

[2015-10-22 01:15] cmatsuo commented on #147
@yuji @takkyun I also cannot repro this issue yet.

@takkyun Would you let us know your iPhone and OS version of yours? I'm basically using 5s with iOS9, btw.

[2015-10-22 02:00] ikoaoki commented on #157
@yuji 高山さん

そういった感じです。表現が上手く無かったようですが、「ブログに親ウェブサイト名」が表示されていない、ということです。

ただ、この現象も不安定で、全く同じ手順で、以下のように「一部のブログだけが、親ウェブサイト名が表示されていない」となる場合もあります。

![mt-20151022105836](https://cloud.githubusercontent.com/assets/6724607/10655053/132d618e-78ac-11e5-96c3-d005a3ee0a49.jpg)

[2015-10-22 02:37] ikoaoki opened #159 "サイト/ブログ検索後に「空」のウェブサイトが表示され、アクセスすると「unknown endpoint」とアラートが出る。"
関連　#147、#157

#157 にて高山さんと松尾さんからコメントいただいて、再度確認している時に、出会いました。

### 検証環境
* QA用MTクラウド （MT6.2）　qa1
* 検証端末　iPhone4s - iOS 8.3　〜　アプリ バージョン65
* 検証端末　iPhone5c - iOS 8.4　〜　アプリ バージョン63

### 現象
サイト/ブログ検索後に、「空」のウェブサイトが表示され、
アクセスすると、「unknown endpoint」とアラートが出る。

二つの検証端末どちらでも同じ手順で発生しました。（MT6.2とiOS8の相性…？）

### 再現手順

1) アプリにサインインする。
　　http://QA1/mt/mt-data-api.cgi

2) サイト/ブログ　が一覧になっているところで、検索ボックスに「site」と入れて検索する。

[2015-10-22 03:03] cmatsuo commented on #159
@yuji Relate to #147 ?

[2015-10-22 03:26] yuji commented on #159
I guess communication error (with data api) has occurred. However, I'm not sure why...

[2015-10-22 04:32] yuji commented on #128
Maybe fixed.

[2015-10-22 04:35] yuji commented on #157
表現悪くなく、理解してますｗ

ブログの下にウェブサイト名ですよね。
これ、検索するとボクのところでは間違いなく出てないんです。
最初の一覧と、検索フィルタ無しだと問題ないんですけど。

[2015-10-22 05:33] cmatsuo opened #160 "When open Select primary category, category placed at the top of the list always has the star"
It means, you always have to re-set primary category when you set some categories on the app.

Steps:
1. Go to Create/Edit Entry > category
2. On Select categories, select some categories, then tap Done.
3. On Select primary category, select undermost placed category, then tap Done.
4. Tap Category again, tap Done.

Expected: On Select primary categeory, the category you selected at step 3 marked

[2015-10-22 05:41] cmatsuo commented on #128
verified fix.

[2015-10-22 05:41] #128 closed

[2015-10-23 03:48] cmatsuo opened #161 "iOS9.1: App doesn't display images anymore"
Steps:
1. Create a new website and publish it.
2. Sign in to app.
3. Upload image(s) from anywhere you want (Insert to an entry, page or just upload image to Assets).

Expected: You can see the image on edit screen and Manage Assets.
Observed: Image uploaded but you can't see the image thumbnail.

![images](https://cloud.githubusercontent.com/assets/546386/10684032/76e187a0-7983-11e5-9b56-442b3514

[2015-10-23 04:02] cmatsuo opened #162 "iOS9.1: Category/Folder setting screen down app, though only the first time."
We are experiencing #128 again, thought just for the first time.

It works fine second time, but since it's always down first time and there is no work around about it, I think this is stopper for 1.0.1. (Many people select category after write contents, right?)

Steps:
0. Website/Blog has categories or folders.
1. Sign in to app.
2. Go to create entry(/webpage).
3. Tap Category.

Expected: Open S

[2015-10-23 07:06] yuji commented on #162
grr.... I was not able to reproduce this on my iPhone6S + iOS 9.1... WTH....

[2015-10-23 07:24] yuji commented on #161
hmm.... I was not able to reproduce this with my iPhone..

[2015-10-24 08:00] yuji commented on #161
I guess environment issue. Not a stopper for this release.

[2015-10-24 08:32] yuji commented on #162
still not reproduce...

[2015-10-24 15:00] cmatsuo commented on #161
You mean, mt6qa3 is the problem...?

[2015-10-26 00:51] cmatsuo commented on #162
@yuji I can't repro this anomore. I tried out 3 test environments this morning.

[2015-10-26 00:51] #162 closed

[2015-10-26 00:52] cmatsuo commented on #161
@yuji I tried 3 test environments and I can repro this with all three. Is this mt6qa* issue? Do you have any test environment I can try out?

[2015-10-26 01:00] mt-backup commented on #161
Can you try on our real cloud server that is mtqa4?

2015年10月26日(月) 9:52 Chieko Matsuo <notifications@github.com>:

--
--
Yuji Takayama
Movable Type Product Manager & Lead Engineer, Six Apart
ytakayama@sixapart.com

[2015-10-26 02:13] cmatsuo commented on #161
@yuji Ha! There is no problem with mtqa4. What's the problem of mt6qa*?

[2015-10-26 02:22] mt-backup commented on #161
Hmm.... I'm not sure whats happened on mt6qa*......

2015年10月26日(月) 11:13 Chieko Matsuo <notifications@github.com>:

--
--
Yuji Takayama
Movable Type Product Manager & Lead Engineer, Six Apart
ytakayama@sixapart.com

[2015-10-26 02:24] cmatsuo commented on #161
Okay. This case is close, but we need to know what's happning on mt6qa*.

[2015-10-26 02:24] #161 closed

[2015-12-07 03:52] yuji commented on #47
やらない

[2015-12-07 03:52] #47 closed

[2015-12-08 02:59] yuji commented on #121
Already done!

[2015-12-08 03:39] yuji opened #163 "Would be great if be able to insert Image block without upload when iPhone is offline."
''*iPhone is online*''

1. Sign in to MT.
2. Choose site, and make a new entry.
3. Now, you are on the new entry creation screen.

''*iPhone is offline* e.x. Airplane is take off''

4. Hit the Body field, then insert image field via Camera icon.
5. Take a photo, or choose an existing photo.

Actual: MTiOS says, "The operation couldn’t be completed."

Wish for: Image block (with selected image) wil

[2015-12-08 08:47] yuji opened #164 "Would be great if user can configure image width freely."
## Specification
* A user will be able to specify any value as an image width as well as select a value from the list.
    * As a default setting.
    * In upload.

[2015-12-09 03:17] yuji commented on #158
I guess I can reproduce this by save an existing entries. This issues is not bug of the App. Should be verify when Data API was solved.

[2015-12-09 05:38] yuji commented on #112
This issue will be fixed with Data API side.

[2015-12-09 05:41] yuji commented on #95
By Design now...

[2015-12-09 05:41] #95 closed

[2015-12-09 05:41] yuji commented on #79
This issue will be fixed with Data API side.

[2015-12-09 05:42] yuji commented on #11
これ採用したい

[2015-12-18 05:43] yuji opened #165 "Displaying version in the App."
Or, any ideas for how to know my app version.

[2015-12-21 05:18] yuji commented on #137
必須である。というのがわかるにはどうするか。UIの点から一度お願いしますー

[2015-12-21 05:25] yuji commented on #132
ナビゲーションバーをもう少し大きくして、判定エリアをナビゲーションバー内に抑える。というのはどうか

[2015-12-21 05:27] yuji commented on #165
Screen Design

[2015-12-25 05:44] ikoaoki commented on #112
https://movabletype.fogbugz.com/f/cases/113213/
上記case、以下のように確認してcloseしていること報告いたします。

こちら、MTiOSアプリより、最新のMTクラウド環境6.2.1602へ、ページを送信するテストを行い、報告されている現象が解消されていることを、確認いたしました。
また、合わせてアプリを以下環境でテストしましたが、問題ありませんでした。
・iOS 8
・i0S 9.0
・iOS 9.1
・iOS 9.2

[2016-01-05 09:30] yuji commented on #11
現在の仕様だと、デバイスに保存されただけの状態じゃないかぎりブロック編集できないから、もしかすると使いづらいかなあ・・・

[2016-01-06 05:18] cmatsuo commented on #164
@yuji 　> As a default setting.
Is this Compose Settings > Image default insertion options on CMS gonna be applied to MTiOS from 1.1?

[2016-01-06 06:26] cmatsuo commented on #11
@yuji 確かに、ブロック編集できないのでは却って使いにくそう。
未送信記事（ローカル保存）のような状態の、Boilerplatesみたいなものを用意するとか。（そもそもBoilerplates的なものをiphone上で作成するのが面倒なのかもしれないけど）

[2016-01-06 10:09] yuji commented on #164
If upper than 6.2.4 (not typo), default value come from CMS. Others, use MTiOS default. However, it is other feature.

In this sentence "As a default setting" means settings in MTiOS.

[2016-01-06 10:09] yuji commented on #11
Boilerplates も考えてみたんだけど、それはそれでなんか違うな・・・って気もしてるんだよねえ・・

[2016-01-07 00:30] cmatsuo commented on #164
Okay. thx! @yuji

[2016-01-12 23:44] yuji commented on #122
絵文字のチェックってできますかね

[2016-01-12 23:48] yuji commented on #130
一旦クローズ。また起きたら新しく起こす

[2016-01-12 23:48] #130 closed

[2016-01-12 23:52] yuji commented on #147
一旦クローズします。再現したら新しくケースを開きます。

[2016-01-12 23:52] #147 closed

[2016-01-20 06:52] cheebow commented on #159
@ikoaoki @yuji
一度サインアウトしてから再度サインインしたらどうなりますか？
もしかすると6.2でパスワードの扱いが変わったことが影響しているのかもしれません。

[2016-01-20 07:31] ikoaoki commented on #159
@cheebow @yuji

今、もう一度テストをしてみました。
前回とは違う手順？で同じ現象が発生しました。

* QA用MTクラウド （MT6.2）　https://mt6qa1.sixapart.intra/mt/admin
* 検証端末　iPhone6s - iOS 9.2　〜　アプリ バージョン67

### 発生手順

1) アプリにサインインする。
　　http://mt6qa1.sixapart.intra/mt/mt-data-api.cgi

2) サイト/ブログ　が一覧になっているところで、検索ボックスに「site」と入れて検索する。

　（First Website mt6qa1 , site30, site40　とsiteを含むサイトがある）

3) 検索結果に、siteを含んだものが出る。

4) ３の検索結果が出た状態で、画面を下にひっぱり更新する。

5)

[2016-01-21 03:51] oguraayumi commented on #165
![blog_setting_size](https://cloud.githubusercontent.com/assets/618638/12471101/95f5063e-c03d-11e5-8852-c8a8b6134f74.png)
すこしグレーの文字でいれてみました。
@yuji

[2016-01-21 03:57] oguraayumi commented on #151
![_guide](https://cloud.githubusercontent.com/assets/618638/12471169/745e1e1a-c03e-11e5-888d-8b0200033aba.png)
公開終了したもののアイコン作成しました。三段目、カレンダーにチェックマークがついているものです。ご確認くださいませ。
@yuji

[2016-01-21 06:33] yuji commented on #165
@oguraayumi
唐突感がありますかね。

Movable Type for iOS ver. 1.1.0

んー冗長か・・・。

@cheebow
ここのバージョン番号自体は、プロジェクトのプロパティで指定している Version の値出せますか？
Build のほうがいいかな。でも、Storeに並んだらみんな同じ Build 番号のはずだから Version だけでいいのか。

[2016-01-21 06:42] oguraayumi commented on #165
![blog_setting_size](https://cloud.githubusercontent.com/assets/618638/12473452/7d437892-c055-11e5-935a-e0c7d8c3826b.png)
Movable Type for iOS ver. 1.1.0にして、なじむよう、グレーを少し薄くしました。
@yuji

[2016-01-21 06:45] oguraayumi commented on #138
![portrait - webpage](https://cloud.githubusercontent.com/assets/618638/12473471/a53d5840-c055-11e5-8ea1-30a682608d00.png)
項目を、必須とoptionalのエリアに分けるとかはどうでしょうか。

または、必須の中にoptional項目が含まれる場合を考えて
必須部分を入力している最中にそのブロックのoptional項目を展開して出すとか…

@yuji

[2016-01-21 06:56] cheebow commented on #165
@yuji バージョン出せます！

[2016-01-21 06:58] cmatsuo commented on #138
required と optional で並びを分けてしまうと困るユーザーもいるのではないか、というかんじもしますが、どうですかねー？

[2016-01-21 23:28] yuji commented on #165
@oguraayumi @cheebow いい感じですかね！

[2016-01-21 23:31] yuji commented on #151
@oguraayumi いいですね！
同じデザインでちょっと色ついたやつ。9x9 なgifファイルもMT本体用に本体用にあればと！

@cheebow status = UNPUBLUSH なものはこのアイコンを出すようにお願いします

[2016-01-22 01:25] cheebow commented on #159
@yuji 返ってくるJSONが

[code]

となる時があるみたいです。
なんでしょうね。これ

[2016-01-22 01:31] cheebow commented on #159
「Website」という文字列を含むサイトが3つあったとき

1.「We」で検索→空のJSON(NG)
2.「Web」で検索→3件のサイト(OK)
3.「We」で検索→3件のサイト(OK)

最初のWeでは失敗して、Webで成功するとその後のWeでも成功します。
キャッシュとかの問題でしょうか？

[2016-01-22 01:47] cheebow opened #166 "エントリ作成時にカテゴリを選択しようとするとアプリがクラッシュする"
カテゴリの階層を作成する時に落ちている模様

[2016-01-22 01:59] cheebow commented on #166
MTクラウドが返すJSONがおかしいようなので、一度クローズします

[2016-01-22 01:59] #166 closed

[2016-01-22 02:10] yuji commented on #164
@oguraayumi

I imagine that I can enter free image width as follows:

1. Sign in.
2. Select a site from list.
3. Open a site settings.
4. Select a image size
5. You can see 7 items like Any size, Original, Large ... small
5.1. "Any size" is new one.
6. When user select "Any size" then slide to next screen.
7. In the next screen, user can enter any intger for image width.

[2016-01-22 02:29] ikoaoki commented on #159
@yuji @cheebow

こちらでも、「Website」という文字列を含むサイトを三つ用意し、テストしました。
結果は、

1. 「We」で検索　→　３件のサイト
2. 「Web」で検索　→　空の結果
3. 「We」で検索　→　３件のサイト
4. 「Web」で検索　→　３件のサイト

（ここで成功すれば、この後も成功するか、と思ったが）

5. 「We」で検索　→　空の結果
6. 「We」で続けて二度検索するが、空の結果
7. 「Web」で検索　→　3件のサイト
8. 「We」 で検索　→　3件のサイト

9.  少し間を空けて（５秒程度）、「Web」で検索　→　空の結果

@cheebow さんのテストでは、最初に「We」で検索に失敗したのが、こちらでは成功。
その後、上記のように、空の検索結果が、一度きちんと３件のサイトが出る結果が、出てもまた失敗する結果が出たりして、傾向が掴め

[2016-01-22 02:32] yuji commented on #138
@oguraayumi 本文、タイトルとかが枠組みの外にあるのでハテ？と思わないでもないかも。悩ましい・・・。先頭に * がやっぱり無難なんかなあ・・・
もう一発、アイディア出せますかね？

[2016-01-22 02:34] yuji commented on #159
ちなみに、AWSなMTだとどうですか
クラウド固有の何かな気がしてきた

[2016-01-22 04:03] #112 closed

[2016-01-22 05:15] ikoaoki commented on #159
こちら、高山さんのコメントを元に、
MT for AWS でテストしたところ、報告していた現象が再現せず。

MTクラウド側固有の問題であろう、ということでこちらcloseいたします！

[2016-01-22 05:29] cheebow commented on #157
@yuji これもMTクラウドでのみ発生するっぽいです

[2016-01-22 05:35] cheebow commented on #165
@oguraayumi 色やフォントサイズの情報をください

[2016-01-22 05:51] cheebow commented on #151
@oguraayumi 画像の作成をお願いします

[2016-01-22 06:06] yuji commented on #137
#138 から転載（間違えた）

![portrait - webpage](https://cloud.githubusercontent.com/assets/618638/12473471/a53d5840-c055-11e5-8ea1-30a682608d00.png)
項目を、必須とoptionalのエリアに分けるとかはどうでしょうか。

または、必須の中にoptional項目が含まれる場合を考えて
必須部分を入力している最中にそのブロックのoptional項目を展開して出すとか…

@yuji

[2016-01-22 06:07] yuji commented on #137
required と optional で並びを分けてしまうと困るユーザーもいるのではないか、というかんじもしますが、どうですかねー？

[2016-01-22 06:07] yuji commented on #137
@oguraayumi 本文、タイトルとかが枠組みの外にあるのでハテ？と思わないでもないかも。悩ましい・・・。先頭に * がやっぱり無難なんかなあ・・・
もう一発、アイディア出せますかね？

[2016-01-22 06:20] cheebow commented on #136
HTMLエディタを表示するようにしました

[2016-01-22 06:21] cheebow commented on #152
修正しました

[2016-01-22 06:34] cmatsuo commented on #138
Grab. I'll try this on again when https://movabletype.fogbugz.com/f/cases/112854/Data-API fixed.

[2016-01-22 07:17] cheebow commented on #160
修正しました

[2016-01-22 08:23] cmatsuo commented on #138
This issue fixed by https://movabletype.fogbugz.com/f/cases/112854/Data-API. Verified fix.

[2016-01-22 08:23] #138 closed

[2016-01-22 09:02] cheebow commented on #122
@yuji
絵文字チェックは
http://d.hatena.ne.jp/kurusaki/20100425/1272187639
こんな感じで出来そうです。
日本語も弾くのであれば、URLとして有効な文字かどうかをチェックしたほうがよさそう。

[2016-01-22 09:08] cheebow commented on #142
status=Unpublishが返ってくるため。
UIを考える必要があるかも。

[2016-01-23 06:43] yuji commented on #160
At Build 68

[2016-01-23 06:43] yuji commented on #136
At Build 68

[2016-01-23 06:43] yuji commented on #152
At Build 68

[2016-01-23 07:48] yuji commented on #122
@cheebow 管理画面上では日本語弾いているので URL チェックにしましょう

[2016-01-25 03:16] cmatsuo commented on #160
verified fix.

[2016-01-25 03:16] #160 closed

[2016-01-25 03:32] cmatsuo commented on #136
@yuji
They're still has picture upload feature. Do we need this for Embed and multiline text CFs?

![img_0101](https://cloud.githubusercontent.com/assets/546386/12541870/7f9e1afe-c35f-11e5-823e-49f7c644293d.jpg)

[2016-01-25 04:50] ikoaoki opened #167 "未入力のテキストブロックが、編集完了後に編集画面に戻ると「を編集する」という文言になっている。"
https://github.com/movabletype/smartphone-app/issues/152
上記issues のチェック中に遭遇しました。

### 現象
記事編集画面で、テキスト未入力のテキストブロックで、編集を完了し、その後、再度編集画面に戻ると、未入力のテキストブロックに「を編集する」という表示になっている。

### 確認環境
* MT for AWS 環境
* MTiOS ビルド68
* iPhone6s (iOS9.2)

### 再現手順
1. MTiOS よりサインインする。
2. ブログ（ウェブサイト）に移動する。
3. 右上の作成アイコンより「新しい記事」を選択して、記事作成画面に行く。
4. 「本文を編集する」をクリックして、編集画面に行く。
5. テキストアイコンをクリックする。
6. 何も入力しないまま、＜　で前の画面に戻る。
7. この時、

[2016-01-25 04:52] ikoaoki commented on #152
こちら、「未選択の画像ブロック」が表示されないことを以下環境にて確認しましたので、closeいたします。
* MT for AWS 環境
* MTiOS ビルド68
* iPhone6s (iOS9.2)

[2016-01-25 04:52] #152 closed

[2016-01-25 05:24] cheebow commented on #122
@yuji 管理画面でどういう正規表現を使っているか教えてください

[2016-01-25 05:29] yuji commented on #122
@cheebow: JSの正規表現ですが

    // RegExp code taken from http://bassistance.de/jquery-plugins/jquery-plugin-validation/
    '.url': function ($e) {
        return !$e.val() || /^(https?|ftp):\/\/(((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\
%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@)?(((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\\
.(\d|[1-9]\d|1\d\d|2[0-4]\d

[2016-01-25 05:31] yuji commented on #136
@cheebow: Can hidden camera icon?

[2016-01-25 05:35] cheebow commented on #122
@yuji これ、パスのチェックではなくてURLのチェックですよね？　

[2016-01-25 05:38] cmatsuo commented on #136
@yuji @cheebow I think it's better if it could be as same as, for example, single line text CF's edit screen.

[2016-01-25 06:07] yuji commented on #122
@cheebow あ。

path.match(/^[^\s<>\#%"\,\{\}\\|\\\^\[\]`]*$/);

こちらでした。すっきり。

[2016-01-25 06:11] yuji commented on #136
@cmatsuo agreed.

@cheebow Can we hid camera icon and wysiwyg editor on all of CF's field?

[2016-01-25 07:46] cheebow commented on #122
修正しました

[2016-01-25 07:48] cheebow commented on #167
修正しました

[2016-01-25 08:15] cheebow commented on #104
修正しました

[2016-01-25 09:02] cheebow commented on #110
対応しました

[2016-01-25 09:05] cheebow commented on #136
@yuji wysiwygエディタではなくてHTMLエディタですよね？で、カメラボタンだけ取るという。

[2016-01-26 02:17] cheebow commented on #163
@yuji これって#116で解決できますか？

[2016-01-26 02:42] cheebow commented on #133
@yuji これ、仕様を見落としていました。
ソート順のほかに、エントリやページのローカル保存もユーザ別になっていません。
これを修正すると、以前のデータが読み込めなくなってしまうのですが、どう対応しましょう。

[2016-01-26 03:05] yuji commented on #136
@cheebow CFの入力は単行入力でもHTMLエディタでカメラなしでお願いします〜
アイテムのところくらいですね。カメラ。

[2016-01-26 03:09] cheebow commented on #136
@yuji 単行はHTMLエディタじゃないほうが良いですよね？改行できてしまうので。
埋め込み、テキストエリアだけがHTMLエディタですよね。

[2016-01-26 03:10] yuji commented on #163
@cheebow #116 は、記事への挿入じゃないほう（アイテム一覧からアップ）からなので、こっちとは別かなと。
こちらは、記事への挿入では1枚ずつだけど、即時にアップしないで記事の送信時に送る。って感じです。

[2016-01-26 03:15] yuji commented on #133
1台のスマホをみんなで使うユースケースは、有っても非常にレアだと思っているので保存された保存されたソート順やローカル保存を開いた段階で、ユーザーに紐付いてなければそのユーザーにひも付けけして更新しちゃう。とかできますかね？

[2016-01-26 03:22] cheebow commented on #133
@yuji ユーザごとに保存ディレクトリを変えようかと思っていたので、そうするとそもそも開くことができないんですよね。ちょっと考えてみます。
起動時に全データをなめて修正するとか大掛かりなことになるかも

[2016-01-26 04:22] cheebow commented on #116
@yuji これは、写真を写真を複数枚設定してAssetとして登録するということですが、iOSの標準UIでは写真を複数選択することができないので、別途複数選択用のUIを検討する必要があります。

[2016-01-26 04:22] cmatsuo opened #168 "L10N: 1.1 new feature and fix"
* 'Unpublished on' dates should be dates in the future. (relate to #104 )
![img_0102](https://cloud.githubusercontent.com/assets/546386/12572432/d2da104e-c42f-11e5-8440-939342dbfdbb.jpg)

[2016-01-26 04:32] cmatsuo commented on #168
* You must set a valid Local file Path. (relate to #122 )
![img_0103](https://cloud.githubusercontent.com/assets/546386/12572547/399dfb96-c431-11e5-8239-5da74e88d050.jpg)

[2016-01-26 04:46] cheebow commented on #134
ZSSRichTextEditorの問題

[2016-01-26 04:46] cheebow commented on #150
ZSSRichTextEditorの問題

[2016-01-26 04:53] cmatsuo commented on #104
verified fix.

[2016-01-26 04:53] #104 closed

[2016-01-26 04:53] yuji commented on #116
@cheebow 写真アプリみたいなのはUIxxには無いのですか・・・
2/1の検討事項にしましょうか

[2016-01-26 04:56] cmatsuo commented on #122
@cheebow @yuji
URLに含められない文字などのバリデーションもするようにすることは可能でしょうか？

以下の一覧の、使用可能な文字、使用可能な記号（* を除く）以外を全て利用できない状態が望ましいです。
http://www.ipentec.com/document/document.aspx?page=web-url-invalid-char

[2016-01-26 05:00] cheebow commented on #122
@yuji MTの管理画面も統一したほうが良いですよね？これも、MTGの課題にしましょう

[2016-01-26 05:06] cmatsuo commented on #122
MT側での同様の問題について、fbzにケース作成しました　
https://movabletype.fogbugz.com/f/cases/113758/Upload-Destination-path-validation

[2016-01-26 06:54] oguraayumi commented on #165
https://app.zeplin.io/project.html#pid=56a70f84c53ee8e71c6043f7&sid=56a71689350a876b6624d99a
こちらでお願いいたします
#9B9B9Bです。
@cheebow

[2016-01-26 07:09] oguraayumi commented on #151
https://drive.google.com/open?id=0B3DAAwwej82XWGZya29iT1FqTGs
https://drive.google.com/open?id=0B3DAAwwej82XVjdNVUVMSnoyMnc
こちらにupしました。ご確認くださいませ。
@cheebow

[2016-01-26 07:22] cheebow commented on #133
起動時に古いデータを移動するようにしました

[2016-01-26 07:24] cheebow commented on #136
@yuji 　埋め込み、テキストエリアだけをカメラボタンなしHTMLエディタを表示するようにしました。
単行テキストは今まで通り普通のテキストエディタを表示しています。

[2016-01-26 07:31] yuji commented on #136
それでOKです！

[2016-01-26 07:38] cheebow commented on #151
@yuji 修正しました。
segmentedControlが非選択状態になるのは、
https://github.com/movabletype/smartphone-app/issues/142
こちらですかね？

[2016-01-26 08:20] cheebow commented on #165
実装しました

[2016-01-26 08:53] cheebow commented on #163
@yuji 画像が複数ある場合、記事の送信時、もし、途中でネットが途切れた場合を考えると結構悩ましいですね。画像がすべて送信し終わらないと、エントリ自体を保存できないわけで。
ちょっと、このあたりきちんと考える必要がありそうです。

[2016-01-27 02:34] cmatsuo opened #169 "Where's icon?"
Somehow, icon of image is gone...
![whereisicon](https://cloud.githubusercontent.com/assets/546386/12602087/db7274c0-c4e9-11e5-8d03-fc804ec21087.jpg)

[2016-01-27 02:53] cmatsuo commented on #168
(relate to #110 )
"This app does not have access to your photos or videos.
You can enable access in Privacy Settings."
![img_0105](https://cloud.githubusercontent.com/assets/546386/12602415/82c91aa6-c4ec-11e5-9531-0e797e890d8a.jpg)

[2016-01-27 02:55] cmatsuo commented on #110
verified fix.

[2016-01-27 02:55] #110 closed

[2016-01-27 03:03] cmatsuo commented on #165
verified fix.

[2016-01-27 03:03] #165 closed

[2016-01-27 03:15] yuji commented on #163
@cheebow なるほど。要望としては理解できるので、なんとかしたいですね。次回の議題のひとつに

[2016-01-27 03:54] yuji commented on #158
6.2.4 であれば問題起きないはず

[2016-01-27 04:27] cmatsuo commented on #136
verified fix.

[2016-01-27 04:27] #136 closed

[2016-01-27 04:36] cmatsuo opened #170 "DropDown/RadioButton CF: 「オプションの選択をして下さい」エラー"
Steps:
1. Create Drop Down Menu/Radio Button custom field like following:
* System Object: Entry
* Type: Drop Down Menu (or Radio Button)
* Options: booter, biddle, trizzle

2. Make sure the CF isn't required, Save it.
3. Go to MTiOS > Create Entry.
4. Just click Save and send it to MT.

Expected: Send to MT.
Observed: Got error:

![img_0106](https://cloud.githubusercontent.com/assets/546386/12604

[2016-01-27 04:47] cmatsuo commented on #133
verified fix.
エントリやページのローカル保存に関しては、 #97 があったので、そちらもクローズ。

[2016-01-27 04:47] #133 closed

[2016-01-27 04:47] cmatsuo commented on #97
Fixed by #133.

[2016-01-27 04:47] #97 closed

[2016-01-27 05:04] yuji commented on #170
Maybe cause by https://movabletype.fogbugz.com/f/cases/112854/. Please try again when that case has been resolved.

[2016-01-27 05:09] yuji opened #171 "Add ability to upload photos via Share Photos extension."
SSIA

[2016-01-27 05:12] yuji opened #172 "Add Markdown support."
Spec is here: https://github.com/movabletype/smartphone-app/wiki/v1_1_0#markdown-support

[2016-01-27 05:18] yuji opened #173 "Should respect default upload destination that configured in the MT."
Spec is here: https://github.com/movabletype/smartphone-app/wiki/v1_1_0#upload-destination

[2016-01-27 07:23] cheebow commented on #150
JS差し替えました

[2016-01-27 07:24] cheebow commented on #134
@yuji
#150でJavaScriptを差し替えましたが、こちらはまだ修正できませんでした。
JavaScriptの問題ではないかと思われます。

[2016-01-27 07:48] cheebow commented on #169
@cmatsuo @yuji 再現しないのですが、なにか再現させる方法はありますか？

[2016-01-27 07:49] cheebow commented on #172
@yuji クライアントではなにをすればよいのでしょうか？

[2016-01-27 07:50] cheebow commented on #173
@yuji v3以上のAPIだと標準のアップロード先が帰ってくるということですか？　このあたりをまとめたドキュメントってありましたっか？

[2016-01-27 09:20] cmatsuo commented on #169
@yuji 環境問題のようです。
mt6qa2と、mt-app-cmatsuoではMTiOSからは一切画像が表示されませんが、ytakayama-twut.movabletype.biz　では問題なく表示できました。

[2016-02-01 01:23] cmatsuo commented on #170
Verified MT does permit empty value for not required fields.
Also, for DropDown/RadioButton, MT does permit empty value even for required fields. This is spec for now. See https://movabletype.fogbugz.com/f/cases/112854/

[2016-02-01 01:23] #170 closed

[2016-02-01 03:06] cmatsuo commented on #169
@yuji
mt6qa1では見えるけれども、mt6qa2 or 3では見えないという状態。
環境問題なのは間違いないと思いますが、原因の調査をお願いします。

[2016-02-01 03:56] yuji commented on #173
@cheebow v3.01 以降ですね。MT的に言うと今度出る予定の6.2.4以降です。
そのバージョンの場合、/v3/sites/1 とかで Sites リソースを取ってくるとユーザーが設定したデフォルトアップロードパス or サイトパスが uploadDestination.path で取得できるので、MTiOS側でデフォルトアップ先が指定されていなければそれを使う。
で、allowToChangeAtUpload が true だった時は、アップロード時にユーザーがアップ先を変更可能なので、MTiOSでもアップ先を変えること出来る。false だったときは、管理者が変更を許可していないので、アップ時、デフォルト設定時には uploadDestination.path を変えさせない。
という感じです。

[2016-02-01 03:58] yuji commented on #157
@ikoaoki MT AWS な環境ではどうでしょう？

[2016-02-01 04:16] cmatsuo commented on #169
@yuji というか、そもそもmt6qa2ふでは公開記事を表示できてない。うーむ。

[2016-02-01 05:46] yuji commented on #171
Must be reconsider.

[2016-02-01 06:31] yuji commented on #132
完了の存在も含めて将来的に見直す。

[2016-02-01 06:31] #132 closed

[2016-02-01 06:34] yuji commented on #116
@cheebow OSS ライブラリから見繕う

[2016-02-01 06:38] yuji commented on #116
複数選択 -> 対象リストを表示 -> 1つずつアップ -> 失敗したらそこから

[2016-02-01 06:50] ikoaoki commented on #167
こちら、ビルド71にて、「テキストを編集する」と表示されること、確認いたしました！

[2016-02-01 06:51] #167 closed

[2016-02-01 07:00] ikoaoki commented on #157
@yuji 高山さん

確かに、MT AWS な環境では、かなりトライしましたが、この現象は一度も再現しませんでした。
クラウドのQA1でテストするとかなりの再現性の高さで、クラウド環境で発生するもののようです。

[2016-02-01 07:20] ikoaoki commented on #158
こちら、
* 最新のdevelopにて
* アプリ　ビルド71
にて確認したところ、現象が再現しない事を確認しましたので、closeいたします！

[2016-02-01 07:20] #158 closed

[2016-02-01 07:20] yuji commented on #157
環境問題の予感

[2016-02-01 07:51] cheebow commented on #116
これが良さげですね

https://github.com/questbeat/QBImagePicker

[2016-02-01 08:03] yuji commented on #142
* 記事の編集画面についてUIを変更。
+ ステータスをいまのように並べるのではなく、他のフィールドと同じようにタップして選択させる方式に変更。
* ステータスが Unpublish な記事の場合だけ、ステータスのフィールドに "Unpublished" が追加され、選択される。
    * Unpublish 以外では、リストに存在しない。（選択可能な項目として出さない）

[2016-02-01 08:23] yuji commented on #172
* エディタの設定 ->  Markdown を追加。選択可能に
* "本文"と"続き"でのみMarkdown 入力となる
* エディタにMarkdown入力であることがわかるようにする
* エディタが Markdown であるときは、新規保存するとき記事の Entries.format を "markdown" とする
* MTに保存されている記事(Entries.format = "markdown" || "markdown_with_smartypants")を編集で開く場合、新規のブロックと同じく、Markdown エディタとなる
* 新規記事のPreview は、Markdown をローカルで HTML に変換してプレビューを表示する
    * うまいライブラリがあれば

[2016-02-01 08:28] yuji commented on #164
* 画像サイズの一覧に選択項目として "カスタム" を追加
* "カスタム" を選択したとき、サイズの入力にすすむ
    * サイズは正の整数による入力のみ
    * 入力できるカスタムは、1サイト1つのみ
* "カスタム" が選択された場合、画像サイズの一覧の "カスタム” 選択項目に入力された数値を表記する。
    * "カスタム (600px)" という感じ
* 入力済みのカスタム項目の選択と数値の編集方法、UI検討が必要

[2016-02-01 08:31] cheebow commented on #172
@yuji
このライブラリで互換ありますかねぇ
https://github.com/mdiep/MMMarkdown

[2016-02-01 08:35] yuji commented on #163
* 記事ブロックにアイテムを挿入したとき、回線状況の如何に関わらずリアルタイムのアップロードは行わない
* 記事を保存するとき、実行されるタスクと進行状況を表示する。また、ネットワークトラブルなどで途中で失敗した場合でも、レジューム出来る。
* 記事を保存する前は、アイテムブロックには選択された（あるいは撮影された）画像が表示されるのは現行と同じ

[2016-02-01 08:45] yuji commented on #172
オリジナルのPortじゃない。とか書いてますけど、どこまで実装されているかですね。ともあれ、他の拡張ライブラリとかじゃなく、ピュアなMD実装っぽいのかなあ。であれば、互換性はいいと思います。

[2016-02-02 06:06] cheebow commented on #142
対応しました

[2016-02-02 07:54] cmatsuo opened #174 "[note to self] ローカル保存：画像アップロード"
#163 が実装されたら、送信時画像アップロードの、異常動作確認

steps:
1. Create an entry.
2. Insert Image.
3. Save to Local.
4. Delete image from iPhone which you inserted at step 2.

どうなる？

[2016-02-03 03:25] cheebow commented on #172
@yuji

とありますが、format="markdown"のときbodyにはHTML化されたものが入ってきます。

[2016-02-03 03:34] cheebow commented on #172
@yuji 記事取得時に「no_text_filter」を使うことで解決しました

[2016-02-03 06:20] mt-backup commented on #172
あーそうでした。API経由だとrawdataじゃなかった

2016年2月3日(水) 12:34 Motokazu Sekine <notifications@github.com>:

--
--
Yuji Takayama
Movable Type Product Manager & Lead Engineer, Six Apart
ytakayama@sixapart.com

[2016-02-03 06:22] cheebow commented on #172
@yuji preview APIでEntry.format="markdown"にしても、Markdownのまま表示されちゃうんですがなにか方法ありますか？

[2016-02-03 06:29] yuji commented on #172
@cheebow ああ・・逆に送られたものをそのまま使っているからか・・convertする仕組みがいまないかもですね・・

[2016-02-03 06:32] cheebow commented on #172
@yuji このpreviewはビルドされたものと同じものが表示されるはずなので、クライアントでコンバートしてから送るってのはないですよね。

[2016-02-03 06:55] cheebow commented on #172
実装しました

[2016-02-03 08:02] oguraayumi commented on #151
![permalink](https://cloud.githubusercontent.com/assets/618638/12776248/c97be036-ca97-11e5-9af1-18457af4db63.png)
チケット、ここじゃないかもしれません。（すいません><）
公開ステイタスのタブをリストに変更しました。
@yuji

[2016-02-03 11:46] oguraayumi commented on #137
![portrait - webpage](https://cloud.githubusercontent.com/assets/618638/12781351/2ed9c2e4-cab7-11e5-928a-ca124f17ba69.png)
オプショナルの項目を一段下の階層に入れるのはどうでしょうか。
@yuji

[2016-02-03 12:57] oguraayumi commented on #164
カスタムの項目を追加
入力前はプレースホルダー[任意のサイズをいれる(※ラベルは要検討)]
![portrait - select_category](https://cloud.githubusercontent.com/assets/618638/12782703/4913d8a8-cac0-11e5-8bc7-ee46aa7e6c4d.png)
カーソルを合わせるとキーボードが立ち上がる
![portrait - select_category2](https://cloud.githubusercontent.com/assets/618638/12782704/494e76c0-cac0-11e5-8f99-1a0bdd2c2f39.png)
数値を入力し終わると、チェックがはいっている
![portrait - select_category3](https://cloud.g

[2016-02-04 01:17] cheebow commented on #173
@yuji

MT6.2.4 (Data API v3.01) 以降の場合についてですが、

「MTiOS 側に設定がない場合」
これは、厳密には判断できないんですが初期値が「/」なので、「/」であれば設定がないとして良いでしょうか？

「MTの設定 (Sites.uploadDestination.path) の値を値を採用する」
これは、アップロード時に指定するだけでしょうか？　それとも、MTiOSの設定自体を変えて保存してしまう？

MT側がアップロード先の変更を許可していない場合「MTのアップロード先が利用される」
これでも、アップロード時だけでしょうか？　それとも、MTiOSの設定自体を変えて保存しますか？

[2016-02-04 01:29] yuji commented on #142
ステータスのUIはこちら
https://github.com/movabletype/smartphone-app/issues/151#issuecomment-179078021

[2016-02-04 01:52] cheebow commented on #173
@yuji これ、保存しても保存しなくてもサイト情報取るたびに書き換わるので、保存して良さそうですね。Sites.allowToChangeAtUpload = trueの時は、MTiOSの設定優先ですし。

[2016-02-04 02:07] yuji commented on #151
@oguraayumi あざます！ UI の部分は #142 の方でかな。と思っているのでそちらにコメントリンクしておきました。

[2016-02-04 02:08] yuji commented on #137
@oguraayumi この場合って、

Optional >
　　オプショナルな項目名 >
　　　　入力欄

てきな移動って感じです？

[2016-02-04 02:08] cheebow commented on #173
実装しました

[2016-02-04 02:09] yuji commented on #164
@oguraayumi おお、いいですね。こうなると、チェックマークは前のほうがいいかもですね

[2016-02-04 02:12] cheebow commented on #137
@yuji @oguraayumi
この画面の項目ってユーザが自由に並び替えられるので、これだとまずい気がします。

[2016-02-04 02:19] yuji commented on #137
@cheebow @oguraayumi たしかに。アプリ側からは順番に意味を持たせないほうがいいですね。CFで追加された項目自体は、エンドユーザーからするとCFかどうかも意識してないレベルである可能性が高いので、Required / Optional 方式も取りにくくもあるので、やっぱり悩ましい・・・。

[2016-02-05 01:58] yuji commented on #173
@cheebow 遅レスすいません

はい。/ のときでよいかと

保存しちゃうでOKですね

[2016-02-05 02:04] yuji commented on #173
QA:
* MT6.2.3 以前
** MT側でデフォルトアップロード先が設定されていてもいなくても、MTiOS のアップロード設定が有効。（サイト単位のデフォルト設定、アップロード時の設定）

* MT6.2.4 以降
** MT 側でデフォルトアップロード先が設定されていない
*** MTiOS のアップロード設定が有効。（サイト単位のデフォルト設定、アップロード時の設定）
** MT 側でデフォルトアップロード先が設定されていて、変更可能
*** MTiOS のアップロード設定が有効。（サイト単位のデフォルト設定、アップロード時の設定）
** MT 側でデフォルトアップロード先が設定されていて、変更不可
*** MT 側のアップロード先が有効（サイト単位のデフォルト設定、アップロード時の設定）

ってとことかしら

[2016-02-05 02:09] yuji commented on #172
QA:

* 新規記事を Markown で作成可能
* 既存の Markdown の記事を Markdown で編集可能
* テキストブロックのプレビューでHTMLに変換された結果を見れる

というところかしら

[2016-02-05 02:35] yuji opened #177 "[L10N] 非公開日 -> 公開終了日"

[2016-02-05 05:17] cmatsuo opened #178 "Save Local Unpublished-status entry/page crush down app"
relate to #142

Steps:
1. Create an unpublished entry.
2. Save the entry to Local.
3. View Unsent Entries.

Expected: Open Unsent Entries screen.
Observed: Crush down app.

[2016-02-05 05:26] cmatsuo opened #179 "L10N: ステータス"
On Create/Edit screens, and Status Setting screens.
* Publish
* Draft
* Future
* Unpublish

![status](https://cloud.githubusercontent.com/assets/546386/12838682/7624b3ee-cc14-11e5-85a5-498e5599ba26.jpg)

![edit](https://cloud.githubusercontent.com/assets/546386/12838668/5385dd54-cc14-11e5-9738-d24903393c68.jpg)

[2016-02-05 05:29] cheebow commented on #178
修正しました

[2016-02-05 06:24] cmatsuo commented on #142
Verified fix.

[2016-02-05 06:24] #142 closed

[2016-02-05 06:25] cmatsuo commented on #178
verified fix!

[2016-02-05 06:25] #178 closed

[2016-02-05 06:34] cmatsuo opened #180 "Display selected status on Unsent Entries/Pages as well as Entries/Pages lists"
Steps:
1. Create an Unpublished entry.
2. Open Edit Entry screen.
3. Edit the status to, for example, Draft, and Save the entry to Local.
4. View Unsent Entries screen.

Expected: That entry's status is Draft.
Observed: Entry's status is Unpublished.

Note to self: Check newly created entries's status as well. They also should display selected status.

[2016-02-05 06:39] yuji commented on #180
Always should displaying *current* status.

[2016-02-05 07:10] cheebow commented on #180
修正しました

[2016-02-05 07:50] cmatsuo opened #181 "Display only after website/blog path for upload path"
Because user shouldn't have the permission for the directives (Relate to #173)

![photo](https://cloud.githubusercontent.com/assets/546386/12840653/70dc4ac8-cc28-11e5-908b-e5cfe1d2d694.jpg)

![upload](https://cloud.githubusercontent.com/assets/546386/12840542/9e7aa638-cc27-11e5-8b23-ba7ad46eebda.jpg)

[2016-02-05 07:53] cmatsuo commented on #173
@cheebow
6.2.2で、CMSの変更可・不可設定に関わらず、アプリでは変更付加（グレイアウト）になります。

[2016-02-05 08:28] cheebow commented on #181
修正してみました

[2016-02-05 08:28] cheebow commented on #173
修正しました

[2016-02-05 08:38] cmatsuo opened #182 "Want default Editor Format setting"
User who use Markdown almost always use markdown, I think.
For now, if you want to use Markdown, you have to change the format every time you start create an entry/page. Want default setting screen for editor format.

[2016-02-05 08:42] cheebow commented on #116
@yuji
写真を複数選んでAssetにできる機能なんですけど、選択できる画像の数の最大数を決められるんですけど、どうしましょう？　無制限は厳しいですよね。

[2016-02-05 08:58] cmatsuo opened #183 "If you create an entry/page with Plain/RichText format, You cannot edit it anymore."
Relate to #172

Steps:
1. Create an entry with RichText format, send it to MT.
2. Go to Entries screen.
3. Select the entry which you created at step 1.
4. Tap Body.

Expected: Open Edit Body screen.
Observed: Cannot move to Edit Body screen.

FYI: If you create the entry with Markdown, you can open the edit screen.

[2016-02-05 09:10] cmatsuo opened #184 "Display Editor Mode setting form on Advanced Setting for Sent Entries/Pages"
Relate to #172

Steps:
1. Open Create an Entry.
2. Open Advanced Setting screen.
3. Make sure you can find Editor Mode setting form.
4. Back to create entry screen, create an entry, send it to MT.
5. Go to Entries.
6. Select the entry you created at step 4.
7. Open Advanced Setting screen.

Expected: Find Editor Mode setting form.
Observed: Cannot find ind Editor Mode setting form. (Because the ap

[2016-02-05 09:14] cheebow commented on #183
修正しました

[2016-02-05 09:18] cmatsuo opened #185 "Markdown format editor screen always should be displayed like Markdown format editor"
Relate to #172

Steps:
1. Create an entry which created with Markdown format, send it to MT.
2. Go to Entries.
3. Select the entry you created at step 1.
4. Open Edit Body screen.

Expected: Markdown editor screen. (I mean, you can find "Marckdown" on the Editor.)
Observed: editor with a camera icon. (see attached image)

![md](https://cloud.githubusercontent.com/assets/546386/12842235/c8a4495c-cc

[2016-02-05 09:19] cheebow commented on #184
@yuji 既存のエントリは、plain/richともにHTMLエディタだったので、エディタモードがなかったと思うんですが、どうしましょう？
ここは、MTiOS側で変えられなくてもいいのかなって気もするんですけど。RichEditorにして、HTML壊しちゃうのが怖いので

[2016-02-05 09:22] cheebow commented on #185
@yuji @oguraayumi 今、新規のブロックエディタでは、カメラアイコンのところにHTMLとかMarkdownとか表示してるんですけど、再編集時はどうしましょう？
というか、HTMLかMarkdownかをどう表示するか(アイコンにするとかも含めて)考えたいなと思います。

[2016-02-05 09:25] ikoaoki commented on #151
@yuji 高山さん、幾つかご確認をば。

「記事一覧」画面で、公開終了の新しいアイコンが表示されるのは、確認出来ました！

「記事の編集」画面で、「ステータス」タブが追加されたのは確認しましたが、
以下画像のように、
「ステータス　Unpublish」という表示はこれで問題ないでしょうか？
L10Nについては、https://github.com/movabletype/smartphone-app/issues/177　があること確認しておりますが、
関連issue　を辿ると

* 「公開ステイタス」という項目名になっていたり
* Unpublished　というステータス表示のコメントがあったり

と、ステータスの表示内容はこれでいいのかな？と少々気になりました。

![mt-20160205182111](https://cloud.githubusercontent.com/ass

[2016-02-07 06:12] oguraayumi commented on #164
他のページのチェックが右寄せだけど統一しなくて大丈夫だろうか…とまよっていましたが
先頭についているUIもデフォルトでありました。
チェックと頭にもってきました。
![portrait - select_category](https://cloud.githubusercontent.com/assets/618638/12871128/09afa06c-cdad-11e5-8088-98c3550d5249.png)
![portrait - select_category2](https://cloud.githubusercontent.com/assets/618638/12871126/09a30b86-cdad-11e5-88b3-be5e339bad50.png)
![portrait - select_category3](https://cloud.githubuser

[2016-02-07 06:13] oguraayumi commented on #164
先頭にもってきました！
![portrait - select_category](https://cloud.githubusercontent.com/assets/618638/12871133/59c5dfda-cdad-11e5-96a4-3510a6c1c71d.png)
![portrait - select_category2](https://cloud.githubusercontent.com/assets/618638/12871135/5a139e1e-cdad-11e5-8adc-62d3825bee7d.png)
![portrait - select_category3](https://cloud.githubusercontent.com/assets/618638/12871134/5a127c0a-cdad-11e5-974d-a70734d4445

[2016-02-07 06:57] oguraayumi commented on #137
![portrait - webpage](https://cloud.githubusercontent.com/assets/618638/12871221/5ceea296-cdb2-11e5-955e-3071fe69dc07.png)
![portrait - webpage2](https://cloud.githubusercontent.com/assets/618638/12871220/5ced6804-cdb2-11e5-85fd-34d57dc32e94.png)

そうですね ><
他アプリを参考にまた作ってみました。ベタになってしまったのですが2種類シンプルなものを作成しました。
@yuji @cheebow

[2016-02-08 08:26] cheebow commented on #116
とりあえず、8枚にします。

[2016-02-08 08:29] cheebow commented on #116
実装しました

[2016-02-09 00:27] cheebow commented on #116
プログレス画面を修正します

[2016-02-09 01:29] yuji commented on #185
@cheebow @oguraayumi 再編集というのは、MTのの記事を編集するときですかね？

[2016-02-09 01:37] cheebow commented on #185
@yuji CMS側に保存してある記事の再編集時です

[2016-02-09 01:41] yuji commented on #185
@cheebow @oguraayumi 記事の編集時も Markdown は Markdown なエディタで、それ以外は HTMLエディタというふうにしてあげたいので、何かしら表示は必要してあげないと、これどっちだ？というのがわからないので、識別する何かは出したいですね。

[2016-02-09 01:42] yuji commented on #185
@oguraayumi この辺、UIとして何か手ありますかね

[2016-02-09 01:42] yuji commented on #184
@cheebow #185 でも書きましたが、Markdown なものは Markdown。ソレ以外はHTMLエディタかなと。

[2016-02-09 01:44] yuji commented on #182
@cheebow @oguraayumi サイトの設定のところに、デフォルトのエディタを設定できる仕組みを入れるといいかなと。

[2016-02-09 01:45] yuji commented on #164
@cheebow これでどうでしょ！

[2016-02-09 01:48] yuji commented on #137
@cheebow @oguraayumi 右に赤アスタリスク。ですかねえ・・・。モバイルだと領域も狭いしかえって合理的なのかもですねえ。

[2016-02-09 01:48] yuji commented on #129
@cheebow こちらですが、余裕があれば対応する。くらいなもので

[2016-02-09 01:58] yuji commented on #151
@ikoaoki

確認したいポイントは 英語だけどいいの？ この英語正しくなくない？ Unpublish ? Unpublished? どっちだ？

or 別件。と、どれでしょう・・。

[2016-02-09 02:04] ikoaoki commented on #151
@yuji

確認したいポイントは、

* Unpublish ? Unpublished? どっちだ？
　（https://github.com/movabletype/smartphone-app/issues/142#issuecomment-177831843
　　の高山さんのコメントに「Unpublished」という表現があるため、確認をしたく）

* 公開ステイタス？ステータス？　どっちだ？
　（デザイン段階での話、ということかもしれませんが、https://github.com/movabletype/smartphone-app/issues/151#issuecomment-179078021
　　のデザイン内で、「公開ステイタス」という表現になっているため）

という2点でしたm（＿＿）m

[2016-02-09 02:39] yuji commented on #151
@ikoaoki こういった類の場合、CMS側ではどうなってるか？というのがだいたい答えになるです。なので：

Unpublished が正解です。(End) と (Draft) も入れた方がいいか

ステータスが正解です。

[2016-02-09 02:51] ikoaoki commented on #151
@yuji

高山さん、確認有難うございます。

「ステータス」の表現が正解の旨、承知しました。
アプリ上で、「ステータス」表記を確認しました。

当方でもMT上での表記確認いたしました。
CMS側と合わせて、Unpublished(End) / Unpublished(Draft) に表記を合わせていただいた方がいいかと。

[2016-02-09 02:57] yuji commented on #183
@cmatsuo build 75にて

[2016-02-09 02:58] yuji commented on #181
@cmatsuo build 75にて

[2016-02-09 02:58] yuji commented on #180
@cmatsuo build 75にて

[2016-02-09 02:58] yuji commented on #173
@cmatsuo build 75にて

[2016-02-09 03:13] cmatsuo commented on #183
verified fix.

[2016-02-09 03:13] #183 closed

[2016-02-09 03:26] cmatsuo commented on #180
verified fix.

[2016-02-09 03:26] #180 closed

[2016-02-09 04:06] cmatsuo commented on #181
@cheebow
When you cannot change the default upload path, it still display unnecessary path, and doesn't display after the pulldown menu setting.

Steps:
1. On CMS, set default upload path like follows:
* Upload Destination: <Blog root>/basename of user/test
* untick "Allow to change at upload"
2. Save changes.
3. Go to MTiOS > Blog Settings > Upload path.
4. View the set path

![path](https://clou

[2016-02-09 05:27] cmatsuo commented on #173
verified fix.

[2016-02-09 05:51] yuji commented on #181
@cheebow ごめんなさい、アップロード先ですが、uploadDestination.raw のほうがいいですね。

[2016-02-09 09:25] cheebow commented on #116
実装できました

[2016-02-10 00:35] oguraayumi commented on #185
![portrait - 15](https://cloud.githubusercontent.com/assets/618638/12935469/4a17f4dc-cfd9-11e5-8ca8-2cf4c4b07fb9.jpg)
![portrait - 16](https://cloud.githubusercontent.com/assets/618638/12935468/4a0da7f2-cfd9-11e5-9086-6d0d51339e1f.jpg)

それぞれ現在の編集モードをアイコン化してみました。
ツールバーからマークダウン表記やHTML表記のサポートを表示しますか？（理解できておらず、
すいません）であれば、アイコンを別の場所に移動する必要があるとおもいます。
@yuji @cheebow

[2016-02-10 01:42] yuji commented on #185
@oguraayumi おお、よさげ。
@cheebow これなら カメラアイコンとモード表示を両立して配置しておいておけますかね

[2016-02-10 01:44] cheebow commented on #185
@yuji @oguraayumi  ですね。できれば、画像のサイズを統一してもらえるとうれしいです

[2016-02-10 01:45] cheebow commented on #184
@yuji であれば、今の実装で問題ないってことですかね？

[2016-02-10 01:58] cheebow commented on #181
@yuji 　rawを使うようにしました

[2016-02-10 02:00] cheebow commented on #164
@oguraayumi チェックを前につけるなら、チェックマークの画像が必要になりますので、用意をお願いします。

[2016-02-10 02:00] cheebow commented on #134
@yuji この件なんですが、JavaScript詳しい方いませんか…

[2016-02-10 02:02] cheebow commented on #137
@yuji @oguraayumi 文字自体を赤くしてボールドにするってのはどうですかね？

[2016-02-10 02:19] yuji commented on #137
@oguraayumi 赤文字ボールド、試して見れますか？

＃アクセシビリティ的には色はアレですけど、ボールドにしているから違いを出せている。ということになるかしらね。

[2016-02-10 02:20] yuji commented on #134
@cheebow こちらの方でみてみます！

[2016-02-10 02:26] yuji commented on #184
@cheebow そうですね。既存の記事を編集するときにエディタが適切になってて、表示するようになるから、設定の方でエディタの設定をゴニョゴニョも出来なくていいですね。M -> H とか H > M とか変更することもないだろうし。

[2016-02-10 02:33] yuji commented on #184
@cmatsuo とうことで、エディタ上で上でモードを表記する＋エディタを途中で変えるというユースケースも薄そうなので、現状ママかなと。

[2016-02-10 02:33] #184 closed

[2016-02-10 02:34] oguraayumi commented on #137
![portrait - webpage2](https://cloud.githubusercontent.com/assets/618638/12937257/3048e492-cfea-11e5-88f0-0d818df2b6af.png)
![portrait - webpage3](https://cloud.githubusercontent.com/assets/618638/12937258/304965fc-cfea-11e5-8655-f87f65486ac2.png)
赤文字と黒文字でboldにしたものをつくってみました。
@yuji @cheebow

[2016-02-10 02:50] yuji commented on #137
必須かどうかの判別はこれでつくかな。

@cheebow どすかね？

[2016-02-10 03:13] yuji commented on #181
@cmatsuo build 76

[2016-02-10 03:14] cmatsuo commented on #137
うーむ。なんとなくやりすぎ感あるそうな。アスタリスクは偉大なのかもしれない気がしてきた。
上のほうで、 @oguraayumi さんがアップしてる、前赤ポチをアスタリスクにしてみたら…どんな印象になるんですかね？やはり、やりすぎなかんじになるんでしょうか？

[2016-02-10 03:14] yuji commented on #116
@cheebow 8枚了解です。連続で選んだとして2列分ってことですね。

[2016-02-10 03:15] yuji commented on #116
@cmatsuo build76. spec is here: https://github.com/movabletype/smartphone-app/wiki/v1_1_0#multiple-upload-116

[2016-02-10 03:46] oguraayumi commented on #137
![portrait - webpage4](https://cloud.githubusercontent.com/assets/618638/12938242/4efa8e36-cff4-11e5-8391-52139bf0b585.png)
@cmatsuo @yuji @cheebow
こんなかんじです。大きさは変えられます。

[2016-02-10 03:51] yuji commented on #181
![simulator screen shot 2016 02 10 12 50 01](https://cloud.githubusercontent.com/assets/70859/12938278/e63dd96a-cff4-11e5-9876-ce41d3e61800.png)

rawだと若干変換ミスったかこのアプリ。的な見た目になりますかねえ・・とはいえ、yyyy とか mm とかっていまの日付で変換した値を見せても意味が無いしなあ・・

@cmatsuo @cheebow @oguraayumi どうでしょうかねえ・・

[2016-02-10 05:22] cmatsuo commented on #137
アスタリスクが分かりやすいような気がします。サイズはこれで良いのでは。（もしかして、黒でもいいくらいかも）

[2016-02-10 05:25] yuji commented on #137
@cmatsuo @cheebow @oguraayumi 巡り巡って、やっぱりこれが妥当なのかもしれない。

[2016-02-10 06:35] cheebow commented on #137
@yuji これでいきましょうか。OKなら画像を用意していただけると！

[2016-02-10 07:11] yuji commented on #137
@cheebow @oguraayumi んだばこれでいきましょ

[2016-02-10 08:29] oguraayumi commented on #185
https://drive.google.com/open?id=0B3DAAwwej82XeU1ldUNlT2xmY28
こちらに画像をupしました。
zeplin
https://app.zeplin.io/project.html#pid=56a70f84c53ee8e71c6043f7&sid=56baf1eabef30a257998f4f5
https://app.zeplin.io/project.html#pid=56a70f84c53ee8e71c6043f7&sid=56baf1f56498ba9d0beb01a5
@cheebow

[2016-02-10 08:30] oguraayumi commented on #164
チェックマークupしました。
https://drive.google.com/open?id=0B3DAAwwej82XeU1ldUNlT2xmY28
zeplin
https://app.zeplin.io/project.html#pid=56a70f84c53ee8e71c6043f7&sid=56baf203179c309c0bbd10b1

@cheebow

[2016-02-10 08:31] oguraayumi commented on #137
アスタリスクの画像こちらにupしました
https://drive.google.com/open?id=0B3DAAwwej82XeU1ldUNlT2xmY28
zeplin
一番上の必須マークがスライス切ってあります。
https://app.zeplin.io/project.html#pid=56a70f84c53ee8e71c6043f7&sid=56baf3f26498ba9d0beb06aa
@cheebow

[2016-02-10 09:46] cheebow commented on #185
実装しました。

@oguraayumi カメラアイコンとの間隔はシステムに任せるとこんな感じです。調整する場合は、画像の左に余白をつける必要がありそうです。

[2016-02-10 09:46] cheebow commented on #137
実装しました。
項目の並べ替え画面でも＊を表示するようにしてみました。

[2016-02-12 00:43] yuji commented on #137
@cmatsuo build 77

[2016-02-12 00:44] yuji commented on #185
@cmatsuo build 77

[2016-02-12 01:20] cmatsuo opened #190 "When editor format set was "Plain" it should be also "Plain" on CMS"
Steps:
1. Go to Create an entry > Settings
2. Change editor format setting to "Plain", save change.
3. Go to Edit Body screen.
4. Make sure you see HTML icon on the editor, input something, save it.
5. Send the entry to MT.
6. On CMS, open that entry, see body editor format.

Expected: "None".
Observed: "Rich Text".

FYI: If you set "Markdown" or "Rich Text" at step 2, you'll find the same format

[2016-02-12 01:20] cmatsuo commented on #185
verified implements.

[2016-02-12 01:20] #185 closed

[2016-02-12 01:23] cmatsuo commented on #181
@yuji @cheebow @oguraayumi
CMSでは今の日付で見せていて特に違和感はないので、同じでいいかなと思うのですが、それってアプリ的には変ですか？

[2016-02-12 01:29] cmatsuo commented on #181
@cmatsuo サイトは”%s%y%m%d...”のようになっているが、ブログは "/home/vagrant..." のまま。 上記の件決まったら再確認。

[2016-02-12 02:20] cmatsuo commented on #137
実装確認しました。いいですね。

[2016-02-12 02:20] #137 closed

[2016-02-12 05:05] cmatsuo commented on #172
verified implements.

[2016-02-12 05:05] #172 closed

[2016-02-12 06:26] cmatsuo opened #191 "Unable to preview an entry/page"
steps:
1. Go to Create entry.
2. Input something to title, fields...
3. Tap eye icon on footer for preview entry.

Expected: Preview entry.
Observed: Preview screen doesn't display anthing (see attached image)

FYI: On Edit Body scree, you can preview body. You just can't preview whole entry preview.
FYI 2: This isn't dupe of #169. I can't preview entry on an environment where I could see uploaded

[2016-02-12 09:24] cmatsuo opened #192 "Display file_name instead of "Image" on Uploader"
@yuji What do you think?

![uploader](https://cloud.githubusercontent.com/assets/546386/13002887/51a6e8ba-d1b5-11e5-9319-4a85daf65b22.jpg)

[2016-02-12 09:29] cmatsuo opened #193 "It's better if the app could somehow let user know image file upload limit is 8"
When you upload multiple images, the limit is 8 but the app doesn't say about it. It's just you can select images 'till 8.

I'm not sure how, but it's better if the app let user know somewhere , somehow. Need idea for UI.

[2016-02-12 09:33] cmatsuo commented on #192
relate to #116

[2016-02-12 09:33] cmatsuo commented on #193
relate to #116

[2016-02-14 09:38] yuji commented on #193
@cheebow 9枚目を選んだ時点で 8枚までですよ。ってメッセージをポップアップしてあげる。とかできますかね？

[2016-02-14 09:39] yuji commented on #192
@cheebow 写真 じゃなくファイル名にできますか？

[2016-02-14 09:57] yuji commented on #181
@cheebow 該当箇所が2パターンあるのでそれぞれの対応方法を。ちょっとめんどいことになっていますが・・。

= サイトの設定 > デフォルトアップ先
sites.uploadDestination.raw で取得した値を元に以下の変換を行う。その上で変換後の値と sites.extraPath を "/" で繋いだ値を利用する

%s -> "<Site Path>" -- translation
%a -> "<Archive Path>" -- translation
%u -> "User Basename" -- translation
%y -> "yyyy"
%m -> "mm"
%d -> "dd"

= アップロード時
sites.uploadeDestination.raw から取得した値あるいは、デフォルトアップ先として設定された値を元に以下の変換を行う。

その

[2016-02-15 00:22] cheebow commented on #192
@yuji  ファイル名にすると、全部同じ時間に表示してしまうので、ファイル名が同じになってしまうんです。デザインは暫定的なものなので、そもそも文字を表示しないってのもありかと思います。
もしくは、投稿できたときにファイル名は決定できるので、そのタイミングで表示するかですね

[2016-02-15 00:25] cheebow commented on #193
@yuji そもそも9枚目が選択できないようになっています。枚数の制限をつけないこともできます。

[2016-02-15 00:29] cheebow commented on #181
@yuji この変換は、表示の時のみで、パスの修正や実際の投稿時には不要ですか？　それとも、投稿時にも変換が必要ですか？

[2016-02-15 01:12] yuji commented on #192
@cheebow アップロードファイル名ってアップロード時にオリジナルのものに変えていると思いますけど、それをこのタイミングで出すのは大変な感じですか？

https://github.com/movabletype/smartphone-app/wiki/v1_0_0#%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB%E5%90%8D

@oguraayumi それか、サムネイルとプログレスバーだけのほうがすっきりですかね？

[2016-02-15 01:13] yuji commented on #192
ああ、ちがうｗ　ファイル名についてはかいてあったw

[2016-02-15 01:13] yuji commented on #192
ということで、

@oguraayumi さん。アップロードのところですけど、サムネイルとプログレスバーだけのほうがすっきりですかね？

[2016-02-15 01:14] yuji commented on #193
@oguraayumi @cheebow 選べないだけだと、押してんのになんで！？ってなるかなあとも思いまして。制限なしにすると大変なことが（主にサーバー側）おきそうなので、8枚制限はいいかなと。

[2016-02-15 01:15] cheebow commented on #192
@yuji あ！ファイル名、撮影日ではなくて、POSTした時間だと勘違いしていました！撮影日にすれば解決するかも。
で、ここで画像って出したのはこの同じUIで最後にエントリの投稿もつけると、オフライン対応もできるかなと思って、出していたというのがあります。UIについては考えたほうがいいかもですね。

[2016-02-15 01:22] cheebow commented on #193
@yuji このライブラリだと9枚目を選択したときにアラートを表示するというのは難しそうです。文字が入るかどうか不安ですが、ナビゲーションバーのタイトルに書いておくってのはありかもしれません。

[2016-02-15 01:50] yuji commented on #181
@cheebow あ、投稿時も サイトパスだったりアーカイブパスだったりは含まれない形式なので、アップロード時 で行った変換と同じことをしてあげないとですね。。。（v3.02 で defaultUploadDestinationいれます。。）

[2016-02-15 01:52] yuji commented on #192
@cheebow おっと、もしかしてこれまでもファイル名はPOST日時でしたかｗ

UIについてはなるほど。
@oguraayumi さん、@cheebow さんとちょっとアイディアひねり出しますか。

[2016-02-15 01:54] cheebow commented on #181
@yuji パスの表示とパスの編集とアップロードの時とでどうなるのか、一度仕様をまとめていただけるとうれしいです。

[2016-02-15 02:16] yuji commented on #181
@cheebow 了解です。Wikiの方に改めてちょっとまとめますー

[2016-02-15 02:17] yuji commented on #193
@cheebow なるほど。木曜に話しましょう

[2016-02-15 02:42] cmatsuo commented on #192
@yuji  すいません。再確認ですが、撮影日時がファイル名としてアップロードされる。でOK?

[2016-02-15 07:26] cmatsuo commented on #168
* Uploader - 画像の複数アップロードしている最中の画面

[2016-02-15 08:26] cheebow commented on #191
@cmatsuo こちら再現しないのですが、再現させる方法はありますか？

[2016-02-15 08:42] cheebow commented on #190
修正しました

[2016-02-15 09:09] cmatsuo commented on #191
やはり #169 のdupeかも。#169の検証待ち

[2016-02-15 09:24] cmatsuo commented on #169
@yuji
上記、「mt6qa1では見えるけれども…」への追記。
mt6qa1でも現在（20160215）「見えない」ことが判明。以下詳細。何か解明の助けになるといいのですが。

1. 過去に作成して正常に表示されていたコンテンツ（記事、アイテム等）については、アイテム表示、およびプレビューできる。
2. 新しく作成したサイト／ブログでは、アイテムの表示や、プレビューができない。（MTに送信済み、公開済みのコンテンツでも同様）
3. 1の状態のサイトやブログでも、新しく記事を作成してプレビューすると、次のようなエラーが出て、プレビューできない。（過去に作成されているものに関しては、このエラーは表示されない）　また、CMS上ではこのエラーは表示されない。

![preview](https://cloud.githubusercontent.com/assets/546386/1304423

[2016-02-16 00:32] cheebow commented on #164
@oguraayumi @yuji 実装を始めたんですが、一度入力してしまうと、カスタム以外のところと見え方が同じになってしまって、再入力の方法がわかりにくい気がしました。
そこで、カスタムには常に入力ができるよということがわかるUIにしたほうが良いのではないかと思うのですが、どうでしょうか？

![simulator screen shot 2016 02 16 9 31 18](https://cloud.githubusercontent.com/assets/153690/13063884/3a75ac34-d490-11e5-9e16-0a3a05e0f766.png)

[2016-02-16 09:09] yuji commented on #164
@cheebow @oguraayumi 枠付きのほうがいいですねー

[2016-02-16 09:12] cheebow commented on #164
実装しました

[2016-02-17 02:58] oguraayumi commented on #192
![uploading](https://cloud.githubusercontent.com/assets/618638/13098553/8a8ae012-d56d-11e5-9970-429b229455c1.png)

・ファイル名を撮影日時にしました。
・記事もuploadされるということなので、imageと区別がつくように頭にアイコンをいれてみました。
・写真のある記事の場合は先頭の写真を、写真がない記事の場合はnoimageのグレーのバッテンつきのサムネイルをつくってみました。

@yuji @cheebow @cmatsuo

[2016-02-17 03:20] yuji commented on #192
@cheebow ファイル名ですけど、v1.0のときと仕様変えてないはずなので mt- ががつくかなとも。

https://github.com/movabletype/smartphone-app/wiki/v1_0_0#%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB%E5%90%8D

あと v1.0 のときに確認していなかったので申し訳ないのですが・・・。外部からiPhoneに入れられた写真とかって、撮影日時ってどうなります？

[2016-02-18 02:05] yuji commented on #193
9枚目が選ばれた時にアラートを出す方向で。

[2016-02-18 02:08] yuji commented on #192
撮影日時が取れなかった時は現在日時とする。

[2016-02-18 02:18] yuji commented on #192
@oguraayumi
* 記事と写真のセットは一つまで
* 画像しか無いパターンもあり
* 記事にはサムネイルじゃなく記事用のアイコン的なもの

[2016-02-18 02:22] yuji commented on #182
サイトの設定に追加

ラベル: Editor (JA: エディタ)
値: リッチテキスト, プレーン, Markdown

記事・ページの新規作成時、エディタがデフォルトのものになる。記事・ページ単位での変更は可能（まま）

@oguraayumi デザインおねがいします

[2016-02-18 06:45] oguraayumi commented on #182
![blog_setting_guide](https://cloud.githubusercontent.com/assets/618638/13135696/89dbee10-d656-11e5-885b-76d5ca4e9744.png)
@yuji
作成しました。ご確認ください。

[2016-02-18 06:49] cheebow opened #196 "画像ファイル名は撮影時の日時から作成する"
関連：#192

[2016-02-18 06:57] oguraayumi commented on #192
![uploading](https://cloud.githubusercontent.com/assets/618638/13135926/4538a86e-d658-11e5-8ff8-fc532e3d5cbb.png)

修正しました。ご確認くださいませ。
@yuji @cheebow

[2016-02-18 08:23] #196 closed

[2016-02-18 08:24] cheebow commented on #193
@yuji アラートの文言どうしましょう？

[2016-02-18 08:28] yuji commented on #182
@oguraayumi おー。
@cheebow こちらで。

[2016-02-18 08:36] yuji commented on #193
@cheebow かんがえまーす

[2016-02-18 08:52] yuji commented on #190
@build 78

[2016-02-18 08:53] yuji commented on #164
build 78

[2016-02-18 09:04] cmatsuo commented on #168
Relate to #164
* Custom
* Any size

![size](https://cloud.githubusercontent.com/assets/546386/13138333/d5544b54-d669-11e5-8fda-d5a8ef6c92c1.jpg)

[2016-02-18 09:19] cmatsuo commented on #164
@cheebow
1. 新しくカスタムサイズの値を入力した場合、自動的にチェックもカスタムを選択（移動）するようにできませんか？
2. カスタムを選択したけれども、カスタムサイズの値が未入力の場合、完了をタップしても保存できない（エラーを表示）するようにできませんか？（現在は自動的に5px となる）

[2016-02-18 10:41] yuji commented on #192
@cheebow おねがいしますー

[2016-02-18 11:05] yuji commented on #193
@cheebow

You can upload 8 photos at once.
一度にアップロードできるのは8枚までです。

ですかね

[2016-02-18 11:13] cheebow commented on #193
実装しました

[2016-02-18 11:58] cheebow commented on #164
修正しました

[2016-02-18 23:43] yuji commented on #164
build 79

[2016-02-19 00:31] cheebow commented on #192
@oguraayumi デザイン仕様と画像をお願いします

[2016-02-19 00:32] cheebow commented on #182
@oguraayumi アイコンをくださいませ

[2016-02-19 00:57] yuji commented on #181
とりあえずこっちにまずは。
アップロード時には、.path で取得した値をベースにしないと現状現状クライアント側で作るのが難しいパターンがありました・・・。つらたん

# サイトの設定 > デフォルトアップ先

## 表示
sites.uploadDestination.raw で取得した値を元に以下の変換を行う。のち、変換後の値と sites.extraPath を "/" で繋いだ値を表示する。
値は "/" 始まりとなる

%s -> ""
%a -> ""
%u -> "User-Basename" -- should be translated
%y -> "yyyy"
%m -> "mm"
%d -> "dd"

e.g.)
sites.uploadDestination.raw = ""
sites.extraPath = ""
結果: /

sites.uploadDest

[2016-02-19 01:35] cheebow commented on #181
@yuji
アップロード時の

この「取り除く」というのはなにから取り除くのでしょうか？　例を見るとrawとextraを結合しているだけに見えます。

また、%uはなにに変換されるのでしょうか？

[2016-02-19 02:05] cmatsuo opened #200 ""Unknown endpoint" error"
I'm testing on aws.
Since I updated to #79, I have this problem.

Steps:
1. Sign in the app.
2. Select a website/blog and move to website/blog Dashboard.

Expected: Display website/blog dashboard without error.
Observed: Display website/blog dashboard with error.

![unknown](https://cloud.githubusercontent.com/assets/546386/13164154/6b5f9c2a-d6f6-11e5-8154-64433fd8df94.jpg)

[2016-02-19 02:05] yuji commented on #181
@cheebow おっと・・サンプルを書き直しました。path の値にはサイトパスが含まれているんですけど、アップロード時にはホスト部分などナシなので、その部分を取り除く。ということです。そのとき、%s がサイトパス、%a がアーカイブパスになるので、それぞれを使うと。

%u は ユーザーのベースネームになるのですが、Users リソースには含まれていないことが判明したのです・・。これが取れてれば、raw を変換するだけでいけたんですけど・・・

[2016-02-19 02:16] cheebow commented on #181
@yuji sites.uploadeDestination.pathにschemeとhostが含まれることがあるのですね？

[2016-02-19 02:31] yuji commented on #181
@cheebow はい。site_url|archive_url + uploadDestionation + extraPath の状態です。site_url|archive_urlを取り除いたものについては次のリリースで・・。

[2016-02-19 02:33] cheebow commented on #181
@yuji 実際に返ってくるJSONでは含まれてないんですよね

[code]

[2016-02-19 02:59] yuji commented on #181
@cheebow あ・・間違えた・・site_url | archive_url じゃなて、site_path | archie_path ですね・・ごめんなさい

[2016-02-19 03:01] yuji commented on #181
サンプル更新

[2016-02-19 03:07] cheebow commented on #181
@yuji

この例で「/uploads/images」はどこから出てきたんでしょう？

[2016-02-19 03:11] yuji commented on #181
ぐは・・なおしました・・・ path にくっついてくるものです

[2016-02-19 04:05] cheebow commented on #181
@yuji アップロード時の%uってどうしたらいいんでしょうか？

[2016-02-19 04:09] yuji commented on #181
@cheebow ユーザーが手編集で入れちゃった場合か・・・。
現状では制限事項として アプリで編集するときは %u が入ったらエラーとするしかないですかね。。。
.path から取ってきた場合は、すでに変換済みなのでOKなのですが。

[2016-02-19 04:12] cheebow commented on #181
@yuji というか、これ、アップロード時にユーザが指定したパスの場合どうするのかわからないですね。
ちょっと、これ、根が深すぎますね

[2016-02-19 04:14] cheebow commented on #181
@yuji アップロード時は、編集された結果を使ってアップロードすることになるので、そこを起点に仕様を作らないとだめですね

[2016-02-19 04:21] yuji commented on #181
ちょっともう一回考えてきます！
（さいあく、今回の昨日からははずしましょう。APIのサポートが足りない気がしてきた）

[2016-02-19 04:35] cheebow commented on #200
@yuji ログインはできているので、endpointが異なるわけではないと思うんですけど、なにか思い当たることはありませんか？

[2016-02-19 04:44] cmatsuo commented on #190
verified fix.

[2016-02-19 04:44] #190 closed

[2016-02-19 04:50] cmatsuo commented on #168
relate to #193
* You can upload 8 photos at once.

![8photos](https://cloud.githubusercontent.com/assets/546386/13166801/819ffb4c-d70f-11e5-8ff0-e67b0c42717d.jpg)

[2016-02-19 04:50] cheebow commented on #181
@yuji かしこまりました！
これ、アップロード時は、編集結果をもとに構築する必要がありますね。
ひとまず、ブランチは生かしておきます！

[2016-02-19 05:00] cmatsuo opened #201 "Unable to upload asset by "Take a photo""
I'm testing on aws.
Since I updated to #79, I have this problem.

Steps:
1. Go to Assets > Photos > Take a photo.
2. Take a photo and tap Use Photo.

Expected: Upload the photo.
Observed: Back to Photos screen and Nothing happen.

FYI: You can upload photos by "Select from..". Also, same thing's happen when you try to insert photo to entry/page.

[2016-02-19 05:01] cmatsuo commented on #193
verified implement!

[2016-02-19 05:01] #193 closed

[2016-02-19 05:15] cheebow commented on #201
こちらでは再現できないのですが、もしかするとというところがあったので、そこを修正してみました

[2016-02-19 05:47] yuji commented on #201
build 80

[2016-02-19 06:52] cmatsuo opened #202 "Unable to set custom image size value"
Steps:
1. Go to blog dashboard > Settings > Image Size.
2. Set custom size value, tap "Done".

Expected: Set custom image size value.
Observed: Please enter a custom size.

FYI: If you select other sizes, you can set the size.

![unknown](https://cloud.githubusercontent.com/assets/546386/13168431/ed72f94a-d71f-11e5-809c-34eda65ef232.jpg)

[2016-02-19 06:58] cheebow commented on #202
すみません！！　エンバグしてました。
修正しました

[2016-02-19 08:27] yuji commented on #181
build 81

[2016-02-19 08:28] yuji commented on #202
build 81

[2016-02-19 08:28] yuji commented on #181
back...

[2016-02-19 09:07] cmatsuo commented on #202
修正を確認。そして、貼り付けた画像が間違ってましたね。すみませんｗ

[2016-02-19 09:07] #202 closed

[2016-02-19 09:09] cmatsuo commented on #201
なんと、その「もしかすると」で直ってしまいました。

[2016-02-19 09:09] #201 closed

[2016-02-19 09:27] cmatsuo commented on #164
上記、カスタムサイズの未入力と、チェックの移動については、修正を確認済み。

[2016-02-19 09:33] ikoaoki opened #203 "アップロード先での相対パスの指定を、設定保存時点でエラー通知を出して欲しい。"
重要度は余り高くなくリクエストベースです。

MTiOSのブログの「設定」でアップロード先を指定出来ますが、そこで「../iPhone」などのように相対パスでの入力も問題なく保存できます。

![mt-20160219182125](https://cloud.githubusercontent.com/assets/6724607/13171445/4983e396-d736-11e5-94e0-92e9848cb660.jpg)

が、実際にアイテムアップロード時には、「追加パスが不正です」と出ます。

![mt-20160219181843](https://cloud.githubusercontent.com/assets/6724607/13171471/768d661e-d736-11e5-980a-f9e856b00e3a.jpg)

「設定」段階で相対パスでの入力を検知し

[2016-02-19 09:35] cmatsuo opened #204 "Auto-renamed asset file name run over the screen"
Steps:
1. Upload a image to the app.
2. Upload same image to same path.
3. The app rename file name automatically and... look at attached image.

Renamed file name is always "40 digit + .jpg" , and the screen size cannot display last 3 letters.
@oguraayumi What do you think? Can you display all 44 digit in the screen somehow?

![namae](https://cloud.githubusercontent.com/assets/546386/13171520/9ef

[2016-02-19 09:52] ikoaoki opened #205 "アイテム詳細画面に「アイテムの利用状況」の情報が欲しい。"
リクエストベースです。

#### 要望
アイテムの詳細画面に「アイテムの利用状況」が欲しい。

現在、MTiOS側のアイテム詳細画面には、「サイズ」「ユーザー」「作成日」の情報がありますが、それに加えて、「アイテムの利用状況」の情報も希望します。

#### 背景
CMS側ではアイテムを削除するには「アイテム一覧から、アイテムにチェックを入れて、アクションから削除を選んで、Goボタンを押す」と手間があります。

が、MTiOS側では、右下の「ゴミ箱アイコン」であっさりと削除が出来ます。

それ故、「利用されているアイテム」かどうかの情報がないために、尚更、「利用されているアイテム」であっても、削除してしまう（その前にモーダルウィンドウで、通知があるとはいえ）ユーザーがいそうだな、と感じます。
ByDesignではあるかもしれませんが。

利用状況：　記事タイトル

の表示が理想的ではあり

[2016-02-19 12:57] yuji commented on #205
CMS側もそうなんだけど、MT的に見て「利用されている」の定義がじつは曖昧。本文とかCFで使われているのか、それとも関連付けに入っているだけなのか。

[2016-02-19 13:00] yuji commented on #203
アップロードパスの件とは別に、. .. など相対パス指定はinput validation のエラーとしましょう

[2016-02-22 02:20] ikoaoki commented on #205
なるほど…。
まぁ、MTiOS側で画像の整理をする人もそんなにはいないかなぁ…。了解しました！

[2016-02-22 02:21] yuji commented on #205
あ、別にまだ結論付けはしてないですよ。BackLogに送ってます

[2016-02-22 02:30] cheebow commented on #203
修正しました

[2016-02-22 02:48] cmatsuo commented on #168
When you not enter custom size, or enter too small/huge value, you'll get this message.
* Please enter a custom size.

![pleaseentrt](https://cloud.githubusercontent.com/assets/546386/13208228/fe54f0ce-d959-11e5-97a1-7d83ad6332b1.jpg)

[2016-02-22 03:04] cmatsuo opened #207 "Limit custom image size number of letters"
You can save "999999999999999999" as Custom image size but you don't need to save that huge value, right?
How about cap the form input availability limit to 4 digits or so?

Btw, I tried to upload with 9999 px setting (uploaded image size is 2448 × 3264 px), and the app has got shut down. I also tried 9000 and I could upload the image without hitch.
Shut down isn't good behavior...but, um, maybe w

[2016-02-22 03:06] ikoaoki opened #208 "本文のブロック入力後のHTMLソースがアプリ側とCMS側で異なっている。かつもう少し整えて欲しい。"
この辺りは既に検討事項になってるかもしれませんが。

#### 現象
フォーマット「リッチテキスト」＋ブロックエディタ　入力で出力されるHTMLソースが、アプリ側とCMS側で異なっているものが表示される。

#### 手順
1) アプリ側で、新規記事作成で、エディタ「リッチテキスト」を選択する。
2) ブロックエディタで、本文に改行を含む文字を入力する。

![mt-20160222113456](https://cloud.githubusercontent.com/assets/6724607/13208376/77a4f0d6-d95b-11e5-8b4b-b0c126c8b49d.jpg)

3) 「保存」＞「送信する」でアプリ側に記事を送信する。
4) ＜アプリ側＞から「記事の一覧」から、2)で書いた記事を開く。

HTMLソースは以下のようになっている。
![mt-201602

[2016-02-22 03:31] yuji commented on #208
個人的には、HTMLを気にするのであれば リッチエディタは使うべきではない。と思っています。

[2016-02-22 03:55] cmatsuo commented on #207
relate to #164

[2016-02-22 04:33] ikoaoki commented on #208
確かに…。
個人でやる際は自身はMarkdown使うことが多いのですが、ただ、アプリのデフォルトはどうしてもリッチテキストになっていますし、一般ユーザーだと、リッチエディタの利用が多くなるのでは、と思います。

最近はスマホからの入力は「基本テキストのみ」が多いですし（彩りはLINEのスタンプ）、いっそ、デフォルトが「改行を変換」or「プレーンテキスト」にするのは…乱暴かな。

[2016-02-22 05:50] ikoaoki opened #209 "アプリ側の「アップロード先」のデフォルトを、CMS側の全般設定で設定した「アップロード先」に合わせる。"
リクエストベースのものばかりで申し訳ないですが。
（%sなどの指定方を検討中のようなので、そこで既に予定されているお話かもしれませんが）

#### 要望
アプリ側の「アップロード先」のデフォルトは、サイトパスになっていますが、デフォルトは、CMS側の全般設定で設定した「アップロード先」の情報を持ってくるのではどうでしょうか。

（個別に設定すれば、そちらが優先される。あくまでも「デフォルト」として）

#### 背景
CMS側では、「全般設定」でデフォルトのアップロード先が指定されますし、
CMS側とアプリ側のアップロード先が別々である必要を、そこまで強くは感じなかった為。（別にしたいならば、ユーザーが都度設定すればいいかな、と）

デフォルトが「サイトパス」になってるのも余り良いようには感じなかった、というのもあります。（サーバーの中がとっちかる…。これこそByDesignではあります

[2016-02-22 06:32] yuji commented on #209
v1.1 の目玉です。

https://github.com/movabletype/smartphone-app/wiki/v1_1_0#upload-destination-173

[2016-02-22 06:32] #209 closed

[2016-02-22 06:37] ikoaoki commented on #209
おおっと、失礼いたしました。
楽しみにしています。

[2016-02-22 06:49] yuji commented on #203
build 82

[2016-02-22 06:52] yuji commented on #207
@cheebow 9999 くらいを目処に入力上限を設けようと思うんですけど、いくつくらいがいいんでしょう

[2016-02-22 06:55] cheebow commented on #207
@yuji 9999あれば十分な気がします

[2016-02-22 06:56] cmatsuo commented on #207
@yuji @cheebow 上にも書きましたが、9999を設定して、アセットのアップロード画面からアップロードすると、アプリがフリーズの後落ちるですよ

[2016-02-22 06:58] cheebow commented on #207
@yuji @cmatsuo おそらく、画像が大きすぎてメモリが足りないのではないかと。オリジナルより大きいサイズにはできないようにしても良いのかもしれません。
メモリに関しては、機種や状況によって変わってきてしまうと思います。

[2016-02-22 07:03] cmatsuo commented on #207
＞オリジナルより大きいサイズにはできないようにしても良いのかもしれません。

@cheebow @yuji
CMSの画像編集画面でも、オリジナルより大きいサイズにはできないので、それが仕様としてわかりやすいかも

[2016-02-22 07:05] cheebow commented on #207
@cmatsuo 設定では上限を8000(8K)までにして、リサイズ時には画像サイズより大きくなるようにはしないってのがよいかなと。

[2016-02-22 07:07] cmatsuo commented on #207
+1 @cheebow 案

[2016-02-22 07:11] yuji commented on #207
@cheebow それでいきましょう。

[2016-02-22 07:25] ikoaoki commented on #203
@yuji @cheebow

ビルド82で確認しました。

#### 相対パス /../ でエラー通知を確認。
確かに、/../iPhone のように、相対パス　../　で　設定保存しようとすると、エラー通知が出るのを確認しました。

ですが、もう少し意地悪すると…。

#### アプリ側で、アップロード先に、/..iPhone/ と、した場合

* アップロード先として、指定できる。
* だが、実際に画像をアップロードすると、「追加パスが不正です」と出る。

#### CMS側で、アップロード先に、/..iPhone/ と、した場合

* 全般設定で、アップロード先を保存時点で、「有効なパスを指定してください。」と出る。

-----

細かいですが、CMS側と同じく、「..」と連続するピリオドで、バリデーションチェックするように、合わせることを希望します。

[2016-02-22 07:26] yuji commented on #207
Wikiにも追記
https://github.com/movabletype/smartphone-app/wiki/v1_1_0#image-width-164

[2016-02-22 07:29] cheebow commented on #207
修正しました

[2016-02-22 07:30] cheebow commented on #203
@yuji 今、「./」を含んでいるかどうかでチェックしているんですが「./」か「..」を含んでいたらとしたほうが良いですかね？　CMSの方ではどういうロジックを使っていますか？

[2016-02-22 07:32] ikoaoki commented on #203
（因みに、CMS側では、「/.iPhone/」は使えることを確認しています。）

[2016-02-22 07:42] yuji commented on #203
@cheebow MTのJSでは

function is_valid_path(path_){
    var str = path_.replace(/[ "%<>\[\\\]\^`{\|}~$\+,\/:;=\?@]/g, "");
    str = encodeURIComponent(str);
    if (str.indexOf('%') != -1) {
        return false;
    }
    if (str.match(/\.\./)) {
        return false;
    }
    return true;
}

こうですね。％入ってたらnon-asciiだろう。..はダメよ。というチェック。

[2016-02-22 07:47] cheebow commented on #203
修正しました

[2016-02-22 08:05] yuji commented on #203
build 83

[2016-02-22 08:15] ikoaoki commented on #203
ビルド83にて、確認いたしました。

* ブログの全般設定からの、「アップロード先」の指定で、「..」を含んでいるとエラー通知
* アイテムアップロード時の、「アップロード先」の指定で、「..」を含んでいるとエラー通知

上記、確認できましたので、こちらcloseいたします！
細かい指摘に対応有難うございました！

[2016-02-22 08:15] #203 closed

[2016-02-22 08:24] ikoaoki opened #212 "L10N: 無効なパス名指定時の通知「You must set a vaild path.」"
アップロード先に、「..」などの無効なパス名を指定した時のエラー通知。
![mt-20160222171051](https://cloud.githubusercontent.com/assets/6724607/13212998/0c604608-d989-11e5-81eb-82515ebbc6b7.jpg)

CMS側では、「有効なパス名を指定してください。」となっている模様。

[2016-02-22 08:31] cmatsuo commented on #207
* カスタム値は上限8000であることを確認
* 画像widthがカスタム値より小さい場合、アップロードした画像widthはオリジナルサイズを利用することを確認

[2016-02-22 08:31] #207 closed

[2016-02-22 08:49] ikoaoki opened #213 "入力項目「タグ」が消えている。"
ビルド83で発生確認しております。

記事の作成、編集画面にて「タグ」入力項目がありません。
右下からの「編集＞並び替え」にても、「タグ」の項目が消えてしまっているようです。
![mt-20160222174538](https://cloud.githubusercontent.com/assets/6724607/13213474/7b9cc994-d98c-11e5-8da4-8ece17961c5b.jpg)

いつから消えちゃったのでしょう…。
ビルド83以前から消えているかもしれませんが、83にて気づきました。

[2016-02-22 08:51] cheebow commented on #213
@ikoaoki @yuji タグは詳細設定で入力するので、ここには表示されていないはずです。これは、最初からそういう仕様です。

[2016-02-22 08:52] yuji commented on #213
@cheebow あ、そうだった。フィールドじゃないんだった。Wikiの方を書きなおしておいたほうがいいな・・間違う・・。

[2016-02-22 08:52] #213 closed

[2016-02-22 08:52] ikoaoki commented on #213
@cheebow せきねさん

あー、失礼しました。
なるほど、左下からの「詳細設定」ですね。

すみません、並び替え項目、にてっきり入っているものかと……。

[2016-02-22 08:55] yuji commented on #213
@ikoaoki WikiがそうなりっぱなしだったのでQAシートがもしそうなっていたらアップデートお願いします。
今しがたWikiも更新済み。ごめんなさい。

[2016-02-22 09:14] cmatsuo commented on #164
@cheebow
以下の件が、iOS8だとうまくいかない場合があります（一度別のものを選択していると移動するが、最初に選んだのがカスタムのフォームだと、移動しない）。iOS9では問題ないのですが。ちと、見てみていただけますか？

[2016-02-23 00:17] cheebow commented on #164
@cmatsuo フィールドにフォーカスが来ると項目が選択されるという動作なんですが、標準の方法では難しく(チェックをつけた瞬間にキーボードが閉じてしまって入力できない)そのためイレギュラーな方法をとっています。それが、OSのバージョンによって動かない時があるのかもしれません。
今回解決できたとしても、今後のOSでも使えるかどうかわからないので、この機能自体を取りやめるか、逆に項目を選択すると入力フィールドにフォーカスが当たるというようにするというのもありかと。
@yuji どうでしょう？

[2016-02-23 01:39] cmatsuo commented on #164
@cheebow @yuji
私が入力フォームのところをタップするという動作をしていたので、上記のような修正のお願いになったのですが、もしかしたら、逆の、「項目を選択すると入力フィールドにフォーカスが当たる」という動作も、利用者側から見るとほぼ同様に見える動作にあたるかも。

[2016-02-23 02:01] yuji commented on #164
@cheebow 項目の選択でフィールドにフォーカスでOKだと思います！

[2016-02-23 02:14] cheebow commented on #164
対応しました

[2016-02-23 02:17] cheebow commented on #163
https://github.com/movabletype/smartphone-app/issues/192
@oguraayumi  こちらに関連して、画像とデザイン仕様をお願いします

[2016-02-23 02:23] cheebow commented on #145
@cmatsuo こちら、どうしても再現しません。その後再現していますか？

[2016-02-23 02:39] cmatsuo commented on #145
@cheebow まだ再現しています。これも環境問題でしょうかねー。

[2016-02-23 02:40] yuji commented on #164
build 84

[2016-02-23 02:59] ikoaoki commented on #169
ビルド83にて、mt-app-maoki でも、記事/ページのプレビューが出来ない現象が確認されましたこと、一応メモ。

[2016-02-23 03:02] cmatsuo commented on #164
おおお。8ではいい感じになるけれども、9ではフォームを叩くと、チェックの移動をしなくなりますね。

@cheebow
appleの調べによると、現在iPhoneユーザーの8割近くはOS9ユーザーだそうで、 @yuji と相談の上、今回はOS9ユーザー合わせがベターだろうということになりました。
すみません。修正1個前の、 「フィールドにフォーカスが来ると項目が選択される」動作に戻していただけますか？

[2016-02-23 03:15] cheebow opened #214 "ライセンス文章の修正"

[2016-02-23 06:37] yuji commented on #181
@cheebow %u を解決できない＆処理が複雑で煩雑になるので一旦BackLogに引っ込めます。

[2016-02-23 06:38] yuji commented on #173
@cheebow こちら、本機能を一旦とりやめようとおもいます。

[2016-02-23 06:43] cheebow commented on #129
修正しました。

[2016-02-23 06:46] yuji commented on #173
@cheebow 変更の revert はこのチケットにします？それとも別に起こします？ どちらでも構いませんけど

[2016-02-23 06:48] cheebow commented on #173
@yuji このままで大丈夫です。
戻しました。

[2016-02-23 06:56] cheebow commented on #164
修正しました

[2016-02-23 07:06] ikoaoki opened #216 "エディタにMarkdownを指定した時、CMSに送信後もMarkdown記法を維持して欲しい"
### 要望
エディタに「Markdown」を指定して、本文＆続き、をMarkdown記法で入力し、CMS側に送信後に、記事編集で開くと、エディタはMarkdownになっているが、本文＆続きが、HTMLに変換されて表示されるので、Markdown記法を維持して欲しい。

### 再現手順
1.  アプリ側で、「新しい記事」を開く。
2. 詳細設定で、エディタ「Markdown」を選択する。
3. 「本文＞テキスト」でMarkdown記法で入力する。
4. 「完了」を押し、記事編集画面で「保存」を押す。
5. 「送信する」を選択。（ステータスはDraftのままでよい）
6.   送信後、記事の「本文」を開く

### 結果
7） Markdown記法が選択されていることが、左下のMマークに出ているが、HTMLで本文が表示されている。

（CMS側でも、フォーマット「Markdown」となって

[2016-02-23 07:10] cheebow commented on #214
修正しました

[2016-02-23 07:10] #214 closed

[2016-02-23 07:11] yuji commented on #216
送信後にブロックエディタにならないのは仕様ですが、

https://github.com/movabletype/smartphone-app/wiki/v1_1_0#markdown-support-172

にあるように Markdown のものは Markdown のままにするのが仕様。

[2016-02-23 08:04] yuji commented on #164
build 85

[2016-02-23 08:05] yuji commented on #173
build 85

[2016-02-23 08:06] yuji commented on #129
build 85

[2016-02-23 08:10] cheebow commented on #216
修正しました

[2016-02-23 08:20] cmatsuo commented on #164
verified implements.

[2016-02-23 08:20] #164 closed

[2016-02-23 08:53] cmatsuo commented on #129
@cheebow
1. If you just tap "Login" with blank Username and Password at the first attempt, the app just display blank screen.
2. Every time you switch the view between Mobile and PC, the auth form pop-up.
3. With iOS8, Basic Auth doesn't work yet. (App just display blank screen, but because of #169, I can't say it's just a blank screen or not.)

[2016-02-23 09:05] yuji commented on #216
build 86

[2016-02-23 09:09] cmatsuo commented on #173
@cheebow
CMSでパスの変更を許可しない設定にしていると、パスの編集が出来ない、という部分だけ残ってしまっています。編集の許可／不許可についても、CMSの設定を持ってこないようにお願いします。

@yuji
このリバート、CMSの設定と、アプリの設定を完全に区別する（アプリはCMSの設定を一切無視する）状態にするということでOKですよね？

[2016-02-23 09:12] yuji commented on #173
@cmatsuo @cheebow

はい。v1.0.1の状態に戻す感じです。

[2016-02-23 09:21] cheebow commented on #173
すみません！抜けてました。
修正しました。

[2016-02-23 09:26] cheebow commented on #129
@cmatsuo
1.ブランクの時はそのまま送信して再度認証するようにできると思います
2.セッションごとに認証させるために今の状態になっています。スマホとPCの切り替えでWebView自体を破棄、新規作成するためにどうしてもこうなってしまいます。認証自体を継続させることもできるかもしれませんので、試してみましょうか？
3.iOS8ではうまく動きませんか？

[2016-02-23 09:33] cmatsuo commented on #129
@cheebow
1 と 2はそれで試してみていただけますか？
3. 認証のためのフォームが表示されないのです。ただし、例の環境問題があるので、どううまく行かないのかがはっきり把握できない状況です。

[2016-02-23 09:42] cheebow commented on #129
@cmatsuo
修正しました
1.空の場合は空のまま送信して401になります
2.一度認証すると再度認証を要求されないようにしました
3.こちらではiOS8でも表示されました。環境によるかもしれません。

@yuji ビルドをお願いします。

[2016-02-23 10:51] yuji commented on #173
build 87

[2016-02-23 10:52] yuji commented on #129
build 87

[2016-02-24 01:22] cmatsuo commented on #173
CMS側で、アップロードパスの「変更を認めない」状態の場合、アプリ側の設定に関わらず、CMSでのパスの設定先にアップロードされる

@yuji
DeployGate #67 で確認したところ、1.0.1ではCMSでの確認を全く無視するという仕様でした。
1.0.1に戻すという認識でしたが、もしかしてCMSの設定を守るのが正しいのか？仕様としてはどちらでしょう？

[2016-02-24 01:47] yuji commented on #173
@cheebow @cmatsuo CMS側の変更許可のフラグも前の状態に一旦戻しましょう。ユースケースを詳しく考えてからになりますが、モバイルアップロードは別口。とかあるかもしれないとか思ったので

[2016-02-24 01:49] cmatsuo commented on #129
@cheebow
なぜか #87 でも状況変わらず。コミット漏れとかないですかね？

1について、間違ったアカウント／エラーを入力した場合と同様、再度認証画面を表示するように修正することは可能でしょうか？

3については、 #169 の対応があるまでは保留ということで。

[2016-02-24 03:55] oguraayumi commented on #182
お待たせして申し訳ありません。
こちらにupしました。
https://drive.google.com/open?id=0B3DAAwwej82XeU1ldUNlT2xmY28

サイズ等は下記をご確認くださいませ。
https://zpl.io/Z1Jbn88

@cheebow @yuji

[2016-02-24 04:01] oguraayumi commented on #192
お待たせしてもうしわけありません。
仕様はこちらです。
https://zpl.io/ZEjLU5

画像はこちらです。
https://drive.google.com/open?id=0B3DAAwwej82XeU1ldUNlT2xmY28

@cheebow @yuji

[2016-02-24 05:45] oguraayumi commented on #163
仕様はこちらです。
https://app.zeplin.io/project.html#pid=56a70f84c53ee8e71c6043f7&sid=56cd2ab837497ae605d121ae
画像はこちらにupしました。
https://drive.google.com/open?id=0B3DAAwwej82XeU1ldUNlT2xmY28

@cheebow

[2016-02-24 06:36] oguraayumi commented on #204
サムネイルとテキストの間隔をせばめて、
3行で最大文字数がおさまるようにしてみました。
幅の狭い端末でも3行でおさまります。
https://zpl.io/Z1BzkDK
@cmatsuo @yuji @cheebow

[2016-02-25 00:55] cheebow commented on #173
@yuji アプリ側では元の状態に戻っていると思うのですが、CMS側で変更不可の時は、強制的にCMS側のパスが使われるということはありませんか？

[2016-02-25 01:14] cheebow commented on #129
@cmatsuo
1については空のままログインボタンを押したときはエラーとなるようにしました。間違えたときは再度ダイアログが表示されていますが、そちらではうまくいきませんか？
2についても、一度ログインすると再度認証ダイアログは出てきません。

一度、アプリを削除してみていただけますか？
それでも、うまくいかない場合は、URLとユーザ名、パスワードをslackあたりで教えていただければと。

[2016-02-25 01:15] cheebow commented on #204
修正しました

[2016-02-25 04:33] cmatsuo commented on #129
@cheebow
いちど削除、再インストールしましたが、同じ状態です。
テスト環境をお知らせするのはいいんですが、社内ネットワークからしか接続できない環境なんですよね。

@yuji これも環境問題？

[2016-02-25 05:16] yuji commented on #173
@cheebow そうだ。そうでした。Data API もCMSの設定をリスペクトしてます。

@cmatsuo ごめんなさい。すっかり忘れてましたが・・・。CMS側で許可しないようにしている場合は、強制的にCMS側のパスにアップされます。

[2016-02-25 05:17] yuji commented on #129
@cmatsuo ためしてみる。

[2016-02-25 05:18] yuji commented on #204
build 88

[2016-02-25 05:19] yuji commented on #129
@cmatsuo とりあえず build 88でもためしてみて

[2016-02-25 06:05] cmatsuo commented on #129
@yuji @cheebow
1. うまくいくようになりました。
2. やはりスイッチするたびに認証が表示されます。
3. ログインすると、アプリが落ちる…

[2016-02-25 06:09] cmatsuo commented on #129
@yuji
iOS8でもログインできました。が、3に関する状況変わらず。
2は何が違うんだろうなあ。

[2016-02-25 06:11] cmatsuo commented on #204
確認しました。ばっちりです。

[2016-02-25 06:11] #204 closed

[2016-02-25 06:32] cmatsuo commented on #173
@yuji 了解。

[2016-02-25 06:39] ikoaoki opened #218 "未送信のMarkdown記法の記事が、特定の手順で送信時にpタグが入ってしまう。"
#216 確認時に遭遇しました。
ビルド88です。

### 現象
未送信のMarkdown記法の記事が、本文の再編集で、何も変更加えないままに、＜で戻ると、送信時にpタグが入れられてしまう。

### 再現手順

1) アプリ側で、「新しい記事」を開く。
2) 詳細設定で、エディタ「Markdown」を選択する。
3) 「本文＞テキスト」でMarkdown記法で入力する。
4) 「完了」を押し、記事編集画面で「保存」を押す。
5) 「下書き保存する」を選択する。

6) 「未送信の記事」から、5の手順の記事を開く。
7) 「本文」を開いて、Markdown記法しているブロックを開く。（本文＞テキストの編集画面になっている状態）
8) 何も変更せず、　＜　で前の画面に戻る。（完了、ボタンを押さない！）
9) さらに、もう一度、＜　で前の画面に戻る。（完了、ボタンを押さない！）

10) こ

[2016-02-25 06:44] ikoaoki commented on #216
こちら、報告した手順で、現象が解決されていることを、確認したのでcloseいたします！問題なくMarkdownが送信後もHTMLに切り替わらずに維持されていました！

ただ、確認作業の中で、#218　の現象を見つけたので、これとは別のissueとさせていただきました。

[2016-02-25 06:44] #216 closed

[2016-02-25 08:38] cmatsuo commented on #168
再構築を一度もしていないブログ／ウェブサイトにアップロードを行った場合のアップロードエラー文言

* Image upload
* There is the rest of the items , you sure that you want to upload again?
* YES
* NO

![imageupload](https://cloud.githubusercontent.com/assets/546386/13314095/7743b306-dbe6-11e5-91fb-10127a8927f3.jpg)

上記のエラーで、YESをクリックした場合

* Upload error

![upload error](https://cloud.githubusercontent.com/assets/546386/13314100/7ba0f062-dbe6-11e5-

[2016-02-25 08:44] ikoaoki opened #219 "写真アップロード権限の無い「ライター」などのユーザーには、アップロード先の編集など出さなくていいのでは。"
急ぎのリクエストではありません。

CMS側では、アイテムの新規アップロード権限などのない「ライター」では、アイテムの新規作成画面すら全く出てこないので。

### 要望
写真アップロード権限のない「ライター」などでも、アプリで「ブログ＞設定」などで、アップロード先の設定が出来てしまう。（ただ使われることはないが…）
CMSと同じく、表示出来なくしてよいのでは。

### 再現手順
1. 「ライター」権限のユーザーでログインする。
2. ブログの「設定」画面に行く。
3. アップロード先、画像のサイズ、画像の品質、などが設定して「保存」できる。

→　この「設定」は表示されてなくてもいいのでは。

4. 「ライター」権限のユーザーでログインする。
5. 「新しい記事」を作成する。
6. 「本文」でブロックエディタ「写真」を選択する。
7. 「写真設定画面」で、アップロード先、画像のサイズ、

[2016-02-25 08:51] ikoaoki commented on #219
あ、「ライター」だと、CMS側では自分の記事一覧しか出ないのに、アプリだと、他の人の記事一覧も出るのか……この権限辺りは調整中なのかな。

[2016-02-26 00:28] yuji commented on #219
Related #149

[2016-02-26 00:31] yuji commented on #212
already filed. #168

[2016-02-26 00:31] #212 closed

[2016-02-26 00:34] yuji commented on #200
#147 と同じ現象かもしれない。しかし、原因と再現がわからないまま一旦閉じてる

[2016-02-26 00:36] #173 closed

[2016-02-26 00:38] yuji commented on #150
一旦確認願います

[2016-02-26 00:40] yuji commented on #149
Back to backlog because I think we should investigate more deeply.

[2016-02-26 00:41] yuji commented on #140
Fixed in a future release.

[2016-02-26 00:45] yuji commented on #122
@cmatsuo とりあえず、^[^\s<>#%"\,{}\|\^[]`]*$ これらがエラーになるところは検証できてれば一旦閉じますか。MTの件と合わせて別件にしましょう。

[2016-02-26 00:52] yuji commented on #129
2. はぼくのクラウドでも再現はしなかった。

[2016-02-26 00:53] yuji commented on #129
3 はiOS8限定であればとりあえず Known Issueにしてしまう方向でいいかも

[2016-02-26 02:03] yuji commented on #122
正規表現ブロック抜き忘れてる

<>#%"\,{}|[]`

これ

[2016-02-26 02:22] cmatsuo commented on #122
@yuji
#だけエラー。残り（<>%"\,{}|[]`）は問題なく保存できます。

[2016-02-26 02:30] yuji commented on #122
@cheebow # はディレクトリ名としてはセーフなんですけど、URL としては NG になるので入れられないようにしたほうが得策かも。

[2016-02-26 02:33] ikoaoki commented on #150
こちら、ビルド88にて確認し、バッチリでした。
一文字でも二文字でも、文字の装飾に失敗する現象は確認出来ませんでしたので、こちらcloseいたします！

[2016-02-26 02:33] #150 closed

[2016-02-26 02:35] cmatsuo commented on #122
@yuji いや、逆。現状、#はエラーになるので入れられない、それ以外は全部入れられる状態。

[2016-02-26 02:40] yuji commented on #122
おっと。
@cheebow 正規表現の判定結果が逆ですかねもしかすると

[2016-02-26 02:46] yuji commented on #145
うーむぼくのとこも再現しないな・・・

[2016-02-26 02:52] yuji commented on #151
Draft はDraftとでているのでとりあえず文言は後日改めてまた。

@ikoaoki 確認がOKであればCloseで

[2016-02-26 02:56] yuji commented on #134
おきぬ・・

[2016-02-26 04:07] cmatsuo commented on #134
@yuji mtqa4ではどう？

[2016-02-26 04:10] cmatsuo commented on #145
@yuji mtqa4では起きなかった。ただし、発生しているテスト環境では、BooterでCFを一括作成していた。今回は手動で記事のCFだけ作成で試した。

[2016-02-26 04:15] cmatsuo commented on #129
mtqa4環境でも再現。5s、6s共に再現。

[2016-02-26 05:05] yuji commented on #129
なぞい・・

[2016-02-26 05:05] ikoaoki commented on #151
はい、こちら文言は別として、挙動としては確認出来ておりますので、closeさせていただきます。

[2016-02-26 05:05] #151 closed

[2016-02-26 05:06] yuji commented on #145
@cmatsuo Booterか。もしかするとキャッシュかも。CF作ったらMT再起動かけないと認識おかしいから

[2016-02-26 05:12] cmatsuo commented on #145
検証環境再起動で、再現しなくなりました。キャッシュだった。

[2016-02-26 05:26] ikoaoki commented on #208
うーん、、やはり、リッチテキストエディタだと、
「ただの改行」で打った文章なのに、
最初の一行だけが、`` <p> ``タグで、囲まれて、
その下の行は、`` <div> ``タグで囲まれていく… ので、

いっさい文字装飾もせず、ただ改行してるだけの文章が、スマホからCMSにPublishで送信すると、表示がおかしなことになるので、やはりこれは何とかして欲しい…。

![2016-02-26 14 24 07](https://cloud.githubusercontent.com/assets/6724607/13343963/e6a98e74-dc94-11e5-8f6c-1f62066c2259.png)

[2016-02-26 05:34] yuji commented on #134
mtqa4でもだいじょうぶだな・・・

[2016-02-26 05:35] cheebow commented on #192
実装しました

[2016-02-26 05:35] cheebow commented on #163
実装しました

[2016-02-26 05:36] yuji commented on #208
@ikoaoki 「揃える。」ということではなく、「最初の行だけPでくくられる。」ということであれば、そういったケースにしてもらえると。そして、それは要望じゃないです。明らかにおかしい現象ということでしょう。

[2016-02-26 05:39] cheebow commented on #218
@yuji @ikoaoki
送信時にブロック項目にpタグをつけて送信しているためだと思います。
pタグは必要ないですか？
でも、ブロックごとに分けておきたいですよね。

[2016-02-26 05:49] cheebow commented on #122
@yuji @cmatsuo
CMSと動作が同じであれば問題ないと思うのですが、僕は何をしたら良いですか？

[2016-02-26 05:53] ikoaoki opened #221 "リッチテキストエディタで改行のみのテキストを、CMSに送信すると、最初の一行だけが p タグで囲まれて段落化されている。"
関連　#208
ビルド88　にて確認。

### 現象
アプリで、「リッチテキストエディタ」で、改行のみのテキストを、CMSに送信すると、最初の一行だけが、p タグで囲まれて段落化され、他の行は div タグで囲まれている。

### 再現方法

1) アプリで、「リッチテキストエディタ」で新しい記事を作成する。
2) 本文＞テキスト、　で、改行のみの文章を入力する。

![mt-20160226144025](https://cloud.githubusercontent.com/assets/6724607/13344331/5c14f7c2-dc98-11e5-9954-d97f241abac4.jpg)

3) 完了、ボタンを押す。
4) ステータスPublish　で、保存、ボタンで、「送信する」を選択する。

### 結果

ただの改行のみの文章が、以下のように表示されている。

[2016-02-26 05:53] yuji commented on #192
@cmatsuo build 89

[2016-02-26 05:53] yuji commented on #163
@cmatsuo build 89

[2016-02-26 05:54] ikoaoki commented on #208
@yuji そうですね、ソースレベルだけの話ではありませんね…。　#221　にて報告させていただきました。

[2016-02-26 05:56] yuji commented on #208
Thanks

[2016-02-26 05:58] ikoaoki commented on #218
ううん…。ブロックエディタで、ブロック毎にpで段落化されるのはいいのですが、
Markdown記法しているのに、pタグで囲まれてしまうと、サイトで、

## 見出しだ - リストリスト - リスト

と表示されてしまって、Markdownが全く機能して表示されなくなってしまいます。
Markdownの時は、なんとかほにゃらら出来ないものでしょうか。

[2016-02-26 05:58] yuji commented on #218
@cheebow Markdownである場合は、P無しでOKな気がします。Markdown のときは 1段落というよりもっと情報量多そう。

[2016-02-26 05:59] yuji commented on #221
@cheebow #218 と似たような話な気がしますが、最初の行だけっていうのが気になるかも

[2016-02-26 06:01] yuji commented on #122
@cmatsuo @cheebow よくよく整理すると MT 側で # が入るのがいくない。って気がしてきた・・・。
こちら、とくにこれ以上の対応は今のところ無しでOKですね。

[2016-02-26 06:12] yuji commented on #122
@cheebow 再度整理しました。把握しました。

# がエラー ... これはOK
\ " ' | * ` ^ > < ) ( } { ] [ がエラーにならない ... MT側でもなっていない。ということらしい。

ということで、日本語と絵文字のチェックだけとりあえず入れておいていただければと。

[2016-02-26 06:23] cheebow commented on #182
実装しました

[2016-02-26 06:45] cmatsuo commented on #192
Verified implements.

[2016-02-26 06:45] #192 closed

[2016-02-26 06:46] cmatsuo commented on #116
Verified implements.

[2016-02-26 06:46] #116 closed

[2016-02-26 06:59] cheebow commented on #218
修正しました

[2016-02-26 07:01] cheebow commented on #221
@yuji たしか以前にも話題になった気がするのですが、このアプリで使っているWISYWIGエディタの仕様だった気がします。

[2016-02-26 07:03] cheebow commented on #122
@yuji 今、日本語と絵文字はエラーで弾いていると思うんですが、まだ足りないものがありますか？

[2016-02-26 07:14] cmatsuo commented on #168
* You must set a vaild path.

![validpath](https://cloud.githubusercontent.com/assets/546386/13345661/fdd17a26-dca3-11e5-8d40-15a7322de821.jpg)

[2016-02-26 07:15] cheebow commented on #221
@yuji
アプリからは

[code]

これが送られているようです。
CMS側で変わっている気もしてきました

[2016-02-26 07:18] cheebow commented on #221
このpタグはブロックの区切りとして僕が付与しているものです。

[2016-02-26 07:25] yuji commented on #221
@cheebow たしかになんかそんな話した記憶ありますね。この<p>を取り除くと、アプリ的に厳しい感じですか？

[2016-02-26 07:26] cheebow commented on #221
@yuji ブロックの区切りいらないですかね？

[2016-02-26 07:28] yuji commented on #122
@cheebow それであれば問題なしです！
@cmatsuo # が入らないのは むしろ好ましいのでアプリ側はこのままにしておいて、残りはMT側の修正と将来合わせる感じで別ケースかするってのでどうでしょ

[2016-02-26 07:32] yuji commented on #182
build 90

[2016-02-26 07:32] cmatsuo commented on #163
@cheebow
画像の挿入がある記事を作成して、MTへの送信前に記事をプレビューする（プレビューアイコンをクリック）と、意図せぬアップロードが始まってしまいます。

[2016-02-26 07:33] yuji commented on #221
@cheebow アプリ的になくてもダイジョウブであれば取ってしまいましょうか。思いの外、ブロックは結構デカそう。<div>のほうがいいかもしれないけど、<div>でやると事故起きそう。

[2016-02-26 07:35] ikoaoki commented on #221
（成る程……このエディタの性質か…。CMS側でいうフォーマット「改行を変換」が欲しい）

[2016-02-26 07:35] cheebow commented on #163
@cmatsuo プレビュー時には画像がアップロードされている必要があるので、どうしても送信が必要になります。

@yuji この仕様で正しいですよね？

[2016-02-26 07:36] cheebow commented on #221
@yuji
アプリ的には問題ないんですが、テキストのブロックが連続した場合、表示上くっついちゃいませんか？

[2016-02-26 07:42] yuji commented on #163
@cheebow 以前、ローカルのファイルでなんとか出来るかやってみる。みたいな話が有ったかとおもいますけど、あれはやっぱ難しいですかね。

あ、ブロックじゃないほうかこれは。

プレビューするために画像をアップロードします。続けますか？
的な確認出しますか。

[2016-02-26 07:45] cheebow commented on #163
@yuji そうなんです。ブロックエディタはbase64で埋め込んでなんとかしたんですが、エントリのプレビューはテンプレートエンジンを通さなくてはいけないので、一度アップロードしないとカスタムフィールドの画像とかが展開されないので。

確認出す事はできます。
英語の文言いただけるとうれしいです！

[2016-02-26 07:46] cmatsuo commented on #163
@yuji
画像アップロードだけではなくて、記事の送信と同じようにアップローダー画面になって、記事の送信がスタートします。なので、

画像の挿入された記事をプレビューするには、記事を送信する必要があります。送信しますか？Y/N?

くらいはっきり、送信である旨を明示してしまったほうがいいかも。

[2016-02-26 07:47] yuji commented on #221
ちょっと一回整理しましょうか。よくよく読むと @cheebow さんの言っていることと @ikoaoki さんの言っている事象に若干のズレがある。

@ikoaoki
MT側のフォーマットをなしにしてみて、アプリから手順通りのことをしてみてください。

[2016-02-26 07:53] cheebow commented on #221
@yuji
アプリから

[code]

これを送り、CMS側のエディタをリッチテキストからなしにすると

[code]

このHTMLが現れる感じです。
CMS側のリッチテキストエディタが、変換してるという印象

[2016-02-26 07:58] cheebow commented on #221
@yuji
Pタグをつけずに

[code]

これを送ると

[code]

こうなりました

[2016-02-26 07:58] cmatsuo opened #223 "Upload Destination path validation"
When https://movabletype.fogbugz.com/f/cases/113758/Upload-Destination-path-validation fixed, verify them with the app also.

Relate to #122

[2016-02-26 08:00] cmatsuo commented on #122
日本語、絵文字が入力できないことを確認。
MT側のvalidation機能更新時に、#223 で確認します。

[2016-02-26 08:00] #122 closed

[2016-02-26 08:03] yuji commented on #163
@cheebow こんな感じで

Need to upload the images to make a preview.
Are you sure you want to continue a preview?

[2016-02-26 08:06] yuji commented on #221
MTなにしてんだ・・・
とりあえず、状況としてはMTが悪い。ということになりそうなので
区切りのPもそのままにしましょう。

@ikoaoki MTか、DataAPIか不明だけど、関根さんの書いた感じになるよ。っていうケースをFogBugz
にお願いします。

[2016-02-26 08:08] cheebow commented on #163
実装しました

[2016-02-26 08:12] ikoaoki commented on #221
@yuji 高山さん

了解です。今、TinyMCEを無効にして試したら、TinyMCEの時とはまた違うソースが…（CKEditorでの表示）。それらも合わせて、FogBugzに報告いたします。

[2016-02-26 08:13] yuji commented on #221
ん？CKEditorってどういうことです？

[2016-02-26 08:16] ikoaoki commented on #221
@yuji あれ、TinyMCEプラグインを無効にすると、出てきてるエディタは、CKEditorではないのでしたっけ。記事作成画面で、以下のようなエディタが出てくるのですが。
<img width="671" alt="2016-02-26 17 15 07" src="https://cloud.githubusercontent.com/assets/6724607/13346828/83b2c6d8-dcac-11e5-8c8f-332ebc3675fd.png">

（すみません、勘違いしてるか…？）

[2016-02-26 08:19] yuji commented on #221
CKEditor は一度も搭載したことないですね。ArchType Editor と呼ばれていた Six Apart 謹製のエディタです。

[2016-02-26 08:20] ikoaoki commented on #221
ひー！すみません……ずっとずっとCKEditorだと思ってました…。（歴史を知った）

[2016-02-26 08:26] cheebow opened #224 "オフラインで画像を設定した時、ストレージに保存できない時にはエラーメッセージを出す"

[2016-02-26 08:37] cmatsuo opened #225 "Previewing entry upload entry and you get error"
Relate to #163

Steps:
1. Go to Create and Entry.
2. Input title and click Done.
3. Back to New Entry screen, click Preview icon.

Expected: Preview entry.
Observed: App starts upload and you get error.

![uploaderror](https://cloud.githubusercontent.com/assets/546386/13347195/7cc2f82c-dcaf-11e5-9283-fdd6c3234bcb.jpg)

[2016-02-26 08:42] #224 closed

[2016-02-26 08:48] ikoaoki commented on #221
FogBugz に以下のように報告をいたしました。
https://movabletype.fogbugz.com/f/cases/113811/MTiOS-MT

[2016-02-26 08:53] yuji commented on #221
@ikoaoki こちらのケースはとじましょう

[2016-02-26 09:04] cmatsuo opened #226 "Cannot off Basic Auth setting on app"
FYI: This is happening on mtqa4 environment.

Steps:
1. On CM, Go to website > Cloud Settings > Basic Auth.
2. Set Basic Auth setting for the website, save change.
3. View published website and make sure you set Basic Auth.
4. Open published website on the app.
5. Make sure you set the Basic Auth and it does work.
6. Back to CMS, remove that basic Auth setting.
7. View published website, make sure

[2016-02-26 09:06] ikoaoki commented on #221
了解です！
こちらのケースは、これにてcloseいたします。

[2016-02-26 09:06] #221 closed

[2016-02-26 09:09] cheebow opened #227 "ブロックエディタで変更がない時にも戻るボタンを押すとアラートが出る"

[2016-02-26 09:09] #227 closed

[2016-02-26 09:10] cmatsuo commented on #182
@yuji
画像にある「配置」の実装は入るのでしょうか？絵だけ？

[2016-02-26 09:20] cmatsuo commented on #225
Possibly, this might be not happen on build #90.

[2016-02-26 09:32] cmatsuo commented on #174
特に問題なく送信できた。

[2016-02-26 09:32] #174 closed

[2016-02-26 10:26] yuji commented on #182
@cmatsuo あ、これは記事の設定のスクショだ。サイト側でデフォルトの配置設定は今のところ実装予定ないですね

[2016-02-29 01:43] yuji commented on #163
build 91

[2016-02-29 01:43] yuji commented on #218
build 91

[2016-02-29 01:51] yuji commented on #182
NG: 記事の設定
OK: アップロード時の設定

[2016-02-29 02:09] cmatsuo opened #228 "Default Editor Format setting works only for Entry"
@yuji
It also should work for Page editor as well as on CMS, shouldn't it?

Steps:
1. Go to a blog/website > Settings.
2. Set Markdown for Editor.
3. Open Create New Page.

Expected: Find Markdown editor.
Observed: Find Richtext editor.

[2016-02-29 02:14] cmatsuo commented on #168
When you upload untitled Entry/Page
* Entry
* Page

![untitles](https://cloud.githubusercontent.com/assets/546386/13384079/6c3e4a06-ded5-11e5-91b2-bd9a7d5b6581.jpg)

[2016-02-29 02:15] cheebow commented on #228
@cmatsuo @yuji
これ、僕のミスです。修正します！

[2016-02-29 02:16] cheebow commented on #228
修正しました

[2016-02-29 02:27] cmatsuo opened #229 "Uploader: Untitled Entry/Page"
When you upload untitled Entry/Page, Uploader screen displays it like Entry/Page.
Change it to Untitled Entry(Page) or something like that.

![untitles](https://cloud.githubusercontent.com/assets/546386/13384270/59e352d2-ded7-11e5-9f53-ae9750eb16a2.jpg)

[2016-02-29 03:11] yuji commented on #229
Use "Untitled entry" | "Untitled page" when entry/page has not title.

[2016-02-29 03:14] cheebow commented on #229
修正しました

[2016-02-29 03:51] yuji commented on #228
build number あげ忘れた・・・DeployGate:92

[2016-02-29 03:51] yuji commented on #229
build number あげ忘れた・・・DeployGate:92

[2016-02-29 04:15] cmatsuo commented on #218
#218 の修正ですでに修正済みだったんじゃないかと思いますが、#218 の修正によって現状再現の仕様もないので、クローズします。

[2016-02-29 04:15] #218 closed

[2016-02-29 04:44] cmatsuo opened #230 "With required Image CF, you cannot create an entry/page"
Steps:
1. Create a required *Image* custom field for entry.
2. Go to Create Entry on app.
3. Upload an image for the CF.
4. Click "Save" of header.

Expected: Save new entry.
Observed: Get error. See attached image.

![requiredcf](https://cloud.githubusercontent.com/assets/546386/13385974/7e71a01e-deea-11e5-92e3-669a9e3700a1.jpg)

[2016-02-29 04:55] cmatsuo commented on #229
verified fix.

[2016-02-29 04:55] #229 closed

[2016-02-29 04:57] cmatsuo commented on #228
Verified fix.

[2016-02-29 04:57] #228 closed

[2016-02-29 05:26] cheebow commented on #230
修正しました

[2016-02-29 05:56] cmatsuo opened #231 "アップローダーが途中で止まったときの文言"
"There is the rest of the items , you sure that you want to upload again?"

カンマの位置が変？
"...items , you sure...?"

[2016-02-29 06:10] cmatsuo commented on #182
verified implement.

[2016-02-29 06:10] #182 closed

[2016-02-29 06:15] cmatsuo commented on #163
@yuji
上にも書きましたが、最初の私のコメントが勘違いによるもので、タイトルのみ入力（画像等無し）でもこのメッセージが表示されるので、動作として違和感があります。

"Need to upload the images to make a preview."　を、"images" > "entry" (もしくはPage)のようにしてはどうでしょう？

[2016-02-29 08:31] yuji commented on #163
@cheebow 画像なしの場合でも送信が必要なのって前からでしたっけ？

[2016-02-29 08:34] cheebow commented on #163
@yuji プレビューはAPI経由なので、どっちにせよ送信が必要です、よね？

[2016-02-29 08:43] cheebow commented on #226
@yuji これ、ちょっと保留にしましょうか？

[2016-02-29 08:52] yuji commented on #163
@cheebow previewEntry に送信するという意味ではそうなんですけど、記事を保存しに行ってるわけではないですよね。そういう意味で言うと

=== ネット繋がってる ===
==== 未アップロードの画像がある場合 ====
画像がアップされちゃうよ。といことを伝える

    Need to upload the images to make a preview.
    Are you sure you want to continue a preview?

==== 画像がない場合 ====
何もださずにプレビュー作成、表示

=== ネット繋がっていない ===
前バージョンと同様

という感じでどうでしょう？

[2016-02-29 08:55] yuji commented on #231
@cheebow There is the rest of the items. Are you sure you want to upload again?

こんなのでどうでしょう？

[2016-02-29 08:55] cheebow commented on #163
@yuji アップロードのUIは共通にしたいので、画像がない時はアラートを出さないというのでどうでしょうか？

[2016-02-29 08:56] yuji commented on #226
@cheebow 了解です。出来ないわけじゃなく、何度も聞かれる。といった類なので、制限事項として扱えるかなと。

[2016-02-29 09:19] cheebow commented on #163
@yuji こういう感じでどうでしょうか？

[2016-02-29 09:19] cheebow commented on #231
修正しました

[2016-03-01 01:41] cmatsuo commented on #226
@yuji
aws（クラウド機能無し）の環境で、Basic Authが表示されました。
Basic Authが聞かれ続けるような状態になったアプリ上で、どんなサイト／ブログを開いても、初回に認証画面が表示される場合があるようです。
設定がオフれていないわけではないらしい。

![ba](https://cloud.githubusercontent.com/assets/546386/13414723/244ae93e-df98-11e5-8be9-dbcb02a9207d.jpg)

[2016-03-01 02:00] yuji commented on #163
@cheebow はい。画像なしの場合はalert出さずにすすーっと行ってしまうでOKです！

[2016-03-01 02:02] yuji commented on #226
@cheebow もう謎すぎて頭がくらくらしてきますが・・・。こうなってくると、この機能は外したほうが逆にいいですかね。設定してないサイトでAuth聞かれたら担当者なんかに、
「ID,PWD教えて。」
「え？知らない。」
とかいう状況になりますよねえ・・

[2016-03-01 02:07] cheebow commented on #163
@yuji developにpushしてありますー

[2016-03-01 02:17] cheebow commented on #226
@yuji ですよね。どうしてこういう挙動になるのか。

[2016-03-01 02:26] cheebow commented on #226
@yuji @cmatsuo ちょっとひとつだけ試してみたいことがあるので実装してみます。それでもダメなら考えましょう！

[2016-03-01 02:29] yuji commented on #226
りょうかいです！

[2016-03-01 02:35] cmatsuo commented on #168
* Upload Error
* Do not have permission to create an entry.

![permission](https://cloud.githubusercontent.com/assets/546386/13415850/abe9412a-dfa1-11e5-895a-51903ccbad60.jpg)

[2016-03-01 03:50] yuji commented on #230
build 94

[2016-03-01 03:50] yuji commented on #163
build 94

[2016-03-01 03:51] yuji commented on #231
build 94

[2016-03-01 05:20] cmatsuo commented on #231
verified fix.

[2016-03-01 05:20] #231 closed

[2016-03-01 05:30] cmatsuo commented on #168
When you don't have permission for upload image.
* Upload Error
* Do not have permission to upload.

![permissiontoupload](https://cloud.githubusercontent.com/assets/546386/13418578/154c95fa-dfba-11e5-86c9-5b747649a566.jpg)

[2016-03-01 05:47] cmatsuo commented on #230
verified fix.

[2016-03-01 05:47] #230 closed

[2016-03-01 05:54] cmatsuo commented on #163
Still reproducible. Though I'll check this again when #225 fixed.

[2016-03-01 06:50] cmatsuo commented on #191
その後の現象についてNotes:
* MT上に既存の画像をアップロードすると、リネーム後、app上では表示されなくなった
* 記事の作成時には表示されていたアップロード画像が、MT送信後の編集画面では表示されない（aws環境。アイテム一覧等でも画像は全く表示されていない 20160301）

[2016-03-01 08:29] cmatsuo opened #232 "If you Insert Image Bloc above Text Bloc, Markdown doesn't work"
Steps:
1. Go to Create New entry.
2. Go to Settings, set Markdown for Editor, save change.
3. Go to Edit Body screen.
4. Open Image bloc, insert image.
5. Open Text bloc, input something by Markdown form. For example, like this:
[code]
6. Send the entry to MT with publish status.
7. View published entry.

Expected: Find numbered list 1 to 3 by Markdown form under image.
Observed: Find not markdown

[2016-03-01 08:37] yuji commented on #232
@cheebow ブロックとブロックをつなぐときに、\n\n と改行2つ分でつなぐといいのかしら。と思うのですが、どうでしょう？

[2016-03-01 08:37] cheebow commented on #232
@yuji やってみます！

[2016-03-01 08:41] cheebow commented on #232
実装しました

[2016-03-02 01:48] cmatsuo commented on #168
When user doesn't have permission for the website.
* Do not have permission to retrieve the requested fields.

![donothave](https://cloud.githubusercontent.com/assets/546386/13448178/39b355b4-e064-11e5-9f1c-02c4e80b1362.jpg)

[2016-03-02 06:35] yuji commented on #163
@cheebow

    @yuji アップロードのUIは共通にしたいので、画像がない時はアラートを出さないというのでどうでしょうか？

この部分ですが、「何もださずにプレビュー作成、表示」になったと思ったらアップロードだけはまだ出てるということですね。勘違いしてました。
v1 のころもアップロードってしてるんでしたっけ？previewEntry (without ID) のエンドポイント呼び出し時にデータを渡しているは渡していますが、アップロードというか。なのかなと思いまして。
イメージ的には、なに？サーバーに記事作られちゃうの？という感覚にもなるかなあと。

画像がない場合

アラートもアップローダーもださずにプレビュー作成、表示

というのが望ましいのですが、いかがなものでしょう

[2016-03-02 06:40] cheebow commented on #163
@yuji
v1の時は、プレビュー作成中のHUDが出てました。
このViewControllerのタイトルを「プレビュー作成」にしましょうか？
このいわゆる「アップロード」画面で、エントリの投稿、プレビューの作成も行っているので、できれば、この画面を表示したいのです。

[2016-03-02 06:55] yuji commented on #163
@cheebow なるほど。
タイトル変えても、出るの一瞬だと思うので見えないかもｗ

アップローダーを出しながら、プレビュー作成中のHUDを出すというのは出来ますか？

[2016-03-02 07:09] cmatsuo opened #233 "Delete Page/Entry you just created doesn't behave like delete older Entry/Page"
Steps:
1. Go to Manage Entries, select an entry.
2. Tap Settings of footer for the entry, tap "Delete this Ennry".

Expected: App delete the entry and move to previous screen (Manage Entries in here)  automatically. And it works as you expected.

3. Create New Entry, send the entry to MT.
4. Tap Settings of footer for the entry, tap "Delete this Ennry".

Expected: App delete the entry and move to

[2016-03-02 07:17] yuji commented on #233
作成直後は、記事一覧を経由していないですけど、記事一覧に戻ることは出来ますか？ダメそうならサイトトップでも大丈夫です。

[2016-03-02 07:19] cheebow commented on #163
@yuji
HUDが出るのも一瞬なのと、アップロードする画像が多いときHUDでプログレスが見えなくなっちゃうので厳しいかなと。

[2016-03-02 07:24] yuji commented on #163
@cheebow
なるほど。したらばタイトルを変える方向でいきましょー。

Make preview...

これですかね。

[2016-03-02 07:30] cheebow commented on #163
@yuji 記事作成のときは「Make Entry...」「Make Page...」にしますか？
画像アップロードのときは「Upload images...」ですかね

[2016-03-02 07:31] yuji commented on #163
@cheebow
そうですね。それでいきましょ。

[2016-03-02 07:38] yuji commented on #163
@cheebow
ごめんなさい。ちょいと変更で

Sending entry...
Sending page...
Upload images...

こちらで！

[2016-03-02 07:40] cheebow commented on #163
修正しました

[2016-03-02 07:41] cheebow commented on #233
修正しました

[2016-03-02 07:41] yuji commented on #163
ありがとうございますー

[2016-03-02 08:03] yuji commented on #232
build 95

[2016-03-02 08:03] yuji commented on #163
build 95

[2016-03-02 08:03] yuji commented on #233
build 95

[2016-03-02 08:35] cmatsuo commented on #233
@yuji @cheebow
未送信の記事／ウェブページから新規作成したものを削除した場合だけ、動作が違うのですが、これは意図的な仕様でしょうか？

[2016-03-02 08:40] cmatsuo commented on #163
verified fix.

[2016-03-02 08:40] #163 closed

[2016-03-02 08:41] cmatsuo commented on #225
Nope. I've seeing same error.

[2016-03-02 08:42] cheebow commented on #233
@cmatsuo
未送信の記事から新規作成して、下書き保存したものを削除したときでしょうか？
僕の見落としかもしれません

[2016-03-02 08:46] cheebow commented on #233
@cmatsuo 僕の見落としでした。修正しました

[2016-03-02 08:52] cmatsuo commented on #232
@cheebow  Fixed for "Body", not for "Extended".

[2016-03-02 09:03] cheebow commented on #232
@cmatsuo ありがとうございます。僕のミスでした。これ、よく見つけてくださいました！
修正します

[2016-03-02 09:04] cheebow commented on #232
修正しました

[2016-03-02 09:52] yuji commented on #232
build 96

[2016-03-02 09:52] yuji commented on #233
build 96

[2016-03-02 09:53] yuji commented on #168
https://github.com/movabletype/smartphone-app/commit/14c9782b2c8249b2dcb5312c67d29ab7e44cd043

[2016-03-03 00:45] cmatsuo commented on #232
verified fix!

[2016-03-03 00:45] #232 closed

[2016-03-03 00:57] cmatsuo commented on #233
verified fix!

[2016-03-03 00:57] #233 closed

[2016-03-03 01:17] cmatsuo opened #234 "L10N: 1.1 new feature and fix 2"
最後の x はなんだろうか？

![pic](https://cloud.githubusercontent.com/assets/546386/13481438/0f5a417c-e129-11e5-838a-01db077a5775.jpg)

[2016-03-03 01:35] cmatsuo commented on #234
When you don't have permission to create entry.
* Do not have permission to create an entry.

![more](https://cloud.githubusercontent.com/assets/546386/13481749/95a54194-e12b-11e5-8ff8-c46274785842.jpg)

[2016-03-03 01:37] cmatsuo commented on #234
When you don't have permission for upload image.
* Do not have permission to upload.

![up](https://cloud.githubusercontent.com/assets/546386/13481800/f6598464-e12b-11e5-8876-a92aa58f6c65.jpg)

[2016-03-03 01:39] cmatsuo commented on #234
When user doesn't have permission for the website.
* Do not have permission to retrieve the requested fields.

![donothave](https://cloud.githubusercontent.com/assets/546386/13448178/39b355b4-e064-11e5-9f1c-02c4e80b1362.jpg)

[2016-03-03 01:42] cmatsuo commented on #168
長くて紛らわしくなってきたので、今後のものは #234 へ。
このチケットはクローズ。

[2016-03-03 01:42] #168 closed

[2016-03-03 02:38] cmatsuo opened #235 "Unable to set time for customfields"
Steps:
1. Create "Date and Time", and "Time" Custom Fields for Entry (and Page) on CMS.
2. Go to Create New Entry on app.
3. Set date and time to the custom fields, send to MT.
4. Check Edit Entry which you created at step 4.

Expected: Find the values what you set for the CFs.
Observed: The fields for time are all "00:00:00".

[2016-03-03 02:46] cheebow commented on #235
@yuji 送り方違いますか？

[code]

[2016-03-03 03:22] cheebow opened #236 "公開日、非公開日の日時指定がMTとアプリで異なる"
2016-03-03 11:01:53
でアプリ側で指定すると
2016-03-03 03:01:53
がMT側で表示されます。

[2016-03-03 03:25] yuji commented on #236
@cheebow これ、AWSの開発環境ですかね？

[2016-03-03 03:25] cheebow commented on #236
@yuji ですです

[2016-03-03 03:26] yuji commented on #236
@cheebow Timezoneとかずれてるのか・・・サーバー見てみます！

[2016-03-03 03:41] yuji commented on #235
@cheebow まさに6.2.4で修正された部分で

Date&Time > 2015-12-18T17:10:00+09:00
Date > 2015-12-18
Time > 17:10:00+09:00

になっておりまして。API Version 3.1 以降は上記のように。それ以前（getVersionできてないもの含め
というか、今はそれしか無いですが）は、以前のような20160303114243で。

ということで。（すいません。下位互換性もたせられなかったのか・・ここは・・・）

[2016-03-03 03:42] yuji commented on #236
9時間のズレではないな・・8時間ずれてるのか。なんでだ・・見てみよう・・。

[2016-03-03 04:10] yuji commented on #234
x はゴミだった・・。
Do not have permission to xxxxx は Data API 側の出しているエラーメッセージのままで、のままで、ローカライズされていないからだと思う。（DefaultLanguage でローカライズとかできるのかな）

[2016-03-03 04:14] yuji commented on #234
@cmatsuo ゴミ掃除は build 97

[2016-03-03 04:21] yuji commented on #236
$ date
2016年  3月  3日 木曜日 13:22:10 JST

ずれてなかった。

[2016-03-03 04:23] yuji commented on #236
@cheebow DefaultLanguage が en_us のままだったので ja にしました。これでどうでしょ？（やったと思ったんだが・・・）

[2016-03-03 04:38] cmatsuo commented on #234
@yuji ごみ掃除確認完了。

[2016-03-03 05:37] cmatsuo opened #237 "Remove unpublished date and time when change the status"
Steps:
1. Create an "Unpublished" entry.
2. Go to Edit Entry of the entry on app.
3. Change the status to "Publish", send the entry to MT.
4. Go to Edit Entry of the entry on CMS.

Expected: Entry has no Unpublished date and time anymore.
Observed: Entry has Unpublished date and time yet.

On CMS, MT remove unpublished date and time when you change the Entry status. App doesn't, and leave the data

[2016-03-03 06:16] cheebow commented on #236
@yuji @cmatsuo  だめみたいです。これAWSの問題なんですかね。他の環境ではどうでしょうか？

[2016-03-03 06:26] cmatsuo opened #238 "Sometimes Sorting screen tend to down when save change"
#145 happening again.
Do observational study by next build.

[2016-03-03 06:40] yuji commented on #238
build 98

[2016-03-03 07:04] cheebow commented on #235
対応してみました！

[2016-03-03 07:06] cheebow commented on #235
ちょっと修正します！
ビルドはお待ちを！

[2016-03-03 07:10] cheebow commented on #235
修正できました！

[2016-03-03 09:17] cmatsuo commented on #238
@yuji お知らせよろしく～

[2016-03-03 09:41] cmatsuo opened #239 "App ignore NOT "allowed to change" upload path"
This issue doesn't happen always, but I see it some times. I still cannot find the way how to make it happen but, anyway.

Steps:
1. Go to website/blog Settings > Upload.
2. Set upload path and untick "Allow to change at upload". (Users cannot change upload path)
3. On app, upload image file to anywhere you want.
4. Check the uploaded path of the file.

Expected: Find it uploaded to the path you s

[2016-03-04 00:12] yuji commented on #238
build99試してみて

[2016-03-04 01:52] cmatsuo commented on #145
@yuji I can repro this issue with aws.

[2016-03-04 01:54] yuji commented on #145
@cheebow I got crash report. Could you please investigate this? Thanks!
[export.txt](https://github.com/movabletype/smartphone-app/files/157985/export.txt)

[2016-03-04 01:59] yuji commented on #235
@cmatsuo maybe fixed in build 99

[2016-03-04 02:22] cmatsuo commented on #235
verified fix.

[2016-03-04 02:22] #235 closed

[2016-03-04 02:25] cmatsuo commented on #127
This happens also on "Time" custom field.

[2016-03-04 06:57] cmatsuo commented on #234
User has no edit_asset permission
* Do not have permission to delete an asset.

![asset](https://cloud.githubusercontent.com/assets/546386/13520210/bc66edb8-e221-11e5-95c4-426180d4bd81.jpg)

[2016-03-04 08:54] cheebow commented on #145
修正しました

[2016-03-04 09:20] cheebow commented on #145
この状態から

![simulator screen shot 2016 03 04 18 18 22](https://cloud.githubusercontent.com/assets/153690/13522903/9753b218-e235-11e5-8fd4-8da4995cbb89.png)

この状態にすると100%落ちたので、

![simulator screen shot 2016 03 04 18 18 28](https://cloud.githubusercontent.com/assets/153690/13522908/9c6e6d24-e235-11e5-9cb8-9e393fc0ad2a.png)

これが大丈夫なように対応しました

[2016-03-07 02:14] cmatsuo opened #240 "iOS8: Cannot display Licence page"
Go to > Settings > Licence.

![licens](https://cloud.githubusercontent.com/assets/546386/13559182/67664f68-e454-11e5-866f-7c193d7605ad.jpg)

[2016-03-07 02:28] cheebow commented on #240
@cmatsuo こちらでは再現しないのですが、一度アプリを削除してから再インストールしても同じ現象が起きますか？
また、iOS8.xの小数点以下も教えてください。

[2016-03-07 02:45] cmatsuo commented on #240
@cheebow
一度削除しましたが、やはり発生します。
バージョン 8.3 (12F70)

[2016-03-07 03:00] cheebow commented on #240
@cmatsuo
やはりこちらでは再現できないので、思いついた別の実装を試させてください。
これでいかがでしょうか？

[2016-03-07 04:16] yuji commented on #145
@cmatsuo build104

[2016-03-07 04:16] yuji commented on #240
@cmatsuo build 104

[2016-03-07 04:49] cmatsuo commented on #240
@cheebow @yuji
状況変わりません。

FYI: 「ヘルプ」と「不具合を報告する」は問題なく表示されます。また、iOS9ではライセンスも問題なく表示できています。

[2016-03-07 04:56] yuji commented on #240
@cheebow なんでなのかさっぱりわからないんですが・・。こちらのページも他と同様に サイト側で持つようにしちゃます？
GitHub に持たせてblobで参照でもいいかもですけど。

[2016-03-07 05:20] yuji commented on #238
maybe fixed in #145

[2016-03-07 05:21] yuji commented on #226
@cmatsuo あ、これ試してみて

[2016-03-07 05:24] yuji commented on #179
@cheebow これ、APIから返ってくる値がこれなんですが、transにかけることってできますかね？
MT だと計算結果を trans する場合は、コメントアウトした trans('foo') を要しいておいて、辞書作成には回しておいて、実行時は普通に trans($var)みたいな感じでやっていますかね

[2016-03-07 05:30] cmatsuo commented on #226
@yuji 状況変わりません。

[2016-03-07 05:38] cmatsuo commented on #145
Verified fix! Thx!!

[2016-03-07 05:38] #145 closed

[2016-03-07 06:00] cheebow commented on #240
iOS8.0のWKWebViewではローカルのファイルが読めない不具合(仕様？)があるみたいです。
なので、ローカルのファイルはHTML自体を読み込んでそれを表示するようにしてみました。

ちょっと試してみていただけますか？

[2016-03-07 06:01] cheebow commented on #179
修正しました

[2016-03-07 06:22] yuji commented on #179
おお、もともと用紙された！すてき。

[2016-03-07 06:25] yuji commented on #179
用紙ってなんだ。用意。

[2016-03-07 06:47] yuji commented on #179
@cmatsuo build 105

[2016-03-07 06:47] yuji commented on #240
@cmatsuo build 105

[2016-03-07 06:51] yuji commented on #121
設定から言語を変えて変わることを確認。ってとこですかね。

[2016-03-07 07:18] cmatsuo commented on #177
verified fix.

[2016-03-07 07:18] #177 closed

[2016-03-07 07:19] cmatsuo commented on #179
verified fix.

[2016-03-07 07:19] #179 closed

[2016-03-07 07:20] #117 closed

[2016-03-07 07:30] cmatsuo opened #241 "On Unsent Entries/Pages, "Unpublish" doesn't appear on status setting screen."
Steps:
1. Create an unpublished entry.
2. On app, go to Edit Entry of the unpublished entry, make sure the status is "Unpublish".
3. Save it to local.
4. Go to Unsent Entries > Edit Entry of the unpublished entry.
5. Tap status.

Expected: You can find "Unpublish" is checked.
Observed: "Unpublish" doesn't exist, and any status isn't checked.

![localstatus](https://cloud.githubusercontent.com/asse

[2016-03-07 07:33] cmatsuo commented on #240
verified fix.

[2016-03-07 07:33] #240 closed

[2016-03-07 07:42] cheebow commented on #241
ストレージ保存時に非公開かどうかの情報を保存忘れしていました。
こちら修正します。

[2016-03-07 07:44] cheebow commented on #241
修正しました

[2016-03-07 08:31] yuji commented on #241
@cmatsuo build 106

[2016-03-07 08:46] cmatsuo commented on #121
言語設定変更で、ドイツ語、スペイン語、オランダ語、フランス語での表示ができることを確認。

[2016-03-07 08:46] #121 closed

[2016-03-07 08:50] cmatsuo commented on #241
verified fix.

[2016-03-07 08:50] #241 closed

[2016-03-07 08:51] cmatsuo commented on #238
Yes, it did!

[2016-03-07 08:51] #238 closed

[2016-03-08 02:56] cmatsuo opened #242 "Display assets upload screen for "Author" role"
'Cause Author has "asset upload" permission.

Steps:
1. Create an user who has Author role.
2. Sign in to app by the user account.
3. Go to Author permitted website/blog Dashboard.

Expected: Find "Asset" tile and can go to assets upload screen.
Observed: There is no "Asset" tile. But you can insert asset to Entry/Page.

![assets](https://cloud.githubusercontent.com/assets/546386/13590618/c6a1f484

[2016-03-08 03:31] yuji commented on #236
@cheebow わかった。firstBlog だと思うんですけど、タイムゾーンが UTCになってました。なので、ずれるの正解。My First Website (JST) のほうでは正しく表示されていました。

[2016-03-08 03:31] #236 closed

[2016-03-08 04:06] yuji commented on #169
https + 自己証明書 の環境である場合、証明書エラーによりコンテンツが読み込まれないから。

@cheebow 自己証明書とかの場合に、検証無視させて表示させるとか出来ないですよね・・・たしか

[2016-03-08 04:51] cheebow commented on #169
@yuji 回避策はあるみたいなんですが……。ATSのこととかも考えるとApple的にはあまり推奨していないのではないかと。

[2016-03-08 05:05] cheebow commented on #169
@yuji 方法見つけたので、ちょっと試してみましょうか？

[2016-03-08 05:07] cheebow commented on #169
実装しました。うまくいくと良いんですけども

[2016-03-08 05:37] yuji commented on #169
Simulator での結果ですが、ダメですね。
2016-03-08 14:37:08.111 MT_iOS[6750:382398] NSURLSession/NSURLConnection HTTP load failed (kCFStreamErrorDomainSSL, -9813)

[2016-03-08 05:43] cheebow commented on #169
@yuji あぁ、managerを直接使っているわけじゃないからか。これは、ちょっと対応難しそうですね。一度、ソースを元に戻します

[2016-03-08 05:45] yuji commented on #169
@cheebow らじゃ。制限事項ということでまずは。

[2016-03-08 05:46] yuji commented on #157
アプリ側の問題とは考えにくいので、一旦クローズ

[2016-03-08 05:46] #157 closed

[2016-03-08 08:24] cmatsuo commented on #234
「ページを送信しています…」→「ウェブページを送信しています…」かな

![webpage](https://cloud.githubusercontent.com/assets/546386/13595943/84d1cd9e-e552-11e5-85a7-9aa42f014170.jpg)

[2016-03-08 09:10] cmatsuo commented on #159
@yuji I could repro this with aws.

[2016-03-08 11:58] yuji commented on #134
再現を確認。

[2016-03-08 12:14] yuji commented on #234
@cmatsuo ウェブページ修正

[2016-03-09 01:11] cmatsuo commented on #234
ウェブページ修正確認

[2016-03-09 01:23] cmatsuo commented on #159
Oops! There is another "unknown endpoint" case. This is dupe. I didn't need to reopen this!

[2016-03-09 01:23] #159 closed

[2016-03-09 01:32] cmatsuo commented on #200
@yuji
You can repro this by #159 steps with aws.

steps:
1. Sign in by app to mt-app-cmatsuo.
2. On Dashboard, search website/blog, for example, search by "mta".
3. You'll see search results with no website/blog name.
4.  Tap any result. You'll get the alert.

![unknownendpoint](https://cloud.githubusercontent.com/assets/546386/13622470/431e06d4-e5e2-11e5-857d-046f383f11e8.jpg)

[2016-03-09 02:47] cmatsuo commented on #191
証明書の入ったmtqa4できちんと表示できることを確認。

[2016-03-09 02:47] #191 closed

[2016-03-09 02:50] cmatsuo commented on #169
@yuji mtqa4でプレビューおよび、画像一覧などがきちんと表示できることを確認。

[2016-03-09 03:27] yuji commented on #169
自己証明書など、SSLの警告が出る場合に表示されないとう点は制限事項とします。

テンプレートのロード失敗については #225 にて。

[2016-03-09 03:56] yuji commented on #134
なんとなく BINGO っぽいものを見つけたが、古い問題なんだよなあ・・・・
https://bugs.webkit.org/show_bug.cgi?id=17594

[2016-03-09 06:00] yuji commented on #134
もう少しで手が届きそうなのにつかめない。
機能的にはまあ、動いて入るので Low に格下げ

[2016-03-09 06:19] cmatsuo commented on #225
@yuji
FYI: It seems this issue depends on theme of website/blog.
You get alert with:  Professional Blog, Classic Website, Classic Blog, Pico, Community Blog
You get preview without alert with: Professional Website, Eiger, rainier, Community Forum

Also, you never get the alert with Webpage preview, except Forum theme. (it doesn't have Webpage archive)

[2016-03-09 06:20] yuji commented on #200
DataAPIのレスポンス？

    [{

    }]

[2016-03-09 06:23] yuji commented on #200
[Result]: SUCCESS: {
    items =     (
                {
        }
    );
    totalResults = 1;
}

こんなのが・・・。これはダメだ・・・。

[2016-03-09 06:26] cheebow commented on #200
blogIDがとれないから、URLがおかしくなって、endpointエラーになるんですね、きっと

[2016-03-09 07:33] yuji commented on #200
@cheebow 把握。search で検索結果が0件の場合 totalResults が 0 件になるはずなのですが、これがどうも 1 になるらしく。。。DataAPI側のバグなのですが、items が空配列だった場合は結果なしと同じ処理を行うことは出来ますかね・・・

[2016-03-09 07:45] cheebow commented on #200
@yuji これ、空配列じゃないですね。中身のない要素が1つあるってことですね。

[2016-03-09 07:59] cheebow commented on #200
対策してみました

[2016-03-10 02:14] yuji commented on #200
@cmatsuo build 108

[2016-03-10 02:28] cmatsuo commented on #200
@cheebow
ウェブサイト／ブログ名のない検索結果は表示されなくなりました。が、ブログしか検索対象にならなくなりました。検索結果がサイトとなるような検索を行うと、結果が何も表示されません。
ウェブサイトとブログの両方が検索対象となるようお願いします。

[2016-03-10 02:31] cheebow commented on #200
@yuji これ、MT側の問題ですよね。たぶん。

[2016-03-10 03:11] cheebow opened #243 "ページでもauthor情報を取得する"

[2016-03-10 03:12] #243 closed

[2016-03-10 03:28] yuji commented on #225
テンプレート「記事」の再構築中にエラーが発生しました: <mtInclude>タグでエラーがありました: モジュール「サイドバー」でエラーが発生しました: テンプレート「サイドバー」の再構築中にエラーが発生しました: <mtIf>タグでエラーがありました: <mtWidgetSet>タグでエラーがありました: ウィジェット「About」でエラーが発生しました: テンプレート「About」の再構築中にエラーが発生しました: <mtunless>タグでエラーがありました: <mtIf>タグでエラーがありました: <mtEntryDate>タグでエラーがありました: MTEntryDateを日付コンテキストの外部で利用しようとしました。

こんなエラーが出ていた。

[2016-03-10 03:43] yuji commented on #225
$entry->authored_on には正しく値がセットされているが、preview が求めているのは authored_on_date, authored_on_time だった・・・。DataAPI側のバグと判明。

[2016-03-11 05:27] yuji commented on #129
@cheebow @cmatsuo 混乱のもとになりそうなので、一旦この機能はRevertします。

[2016-03-11 05:31] cheebow commented on #129
外しました

[2016-03-11 05:40] yuji commented on #225
API 側の対応を待つ。

[2016-03-11 05:41] yuji commented on #129
@cmatsuo build 110

[2016-03-11 06:15] cmatsuo commented on #129
Verified the revert. And this is what you get when you try to view a website/blog which Basic Auth-ed on app.

![auth](https://cloud.githubusercontent.com/assets/546386/13694766/f77a50be-e79b-11e5-9e0d-246c71471bac.jpg)

[2016-03-11 06:18] cmatsuo commented on #225
@yuji 了解

[2016-03-11 06:48] yuji commented on #200
MT側ですね。なんだろうこれは・・・

[2016-03-14 00:44] cmatsuo commented on #129
1.1では制限事項となった。　#169

[2016-03-14 00:46] cmatsuo commented on #129
previewの件と間違えてクローズした。

[2016-03-14 01:34] yuji commented on #225
https://movabletype.fogbugz.com/f/cases/113839

[2016-03-14 01:35] yuji commented on #200
search がつくとおかしな結果を返しているらしい。。。

[2016-03-14 01:56] yuji commented on #129
Marked as Known Issue int this version.

[2016-03-14 01:57] yuji commented on #134
Marked as Know Issue in this version.

[2016-03-14 01:57] yuji commented on #169
Marked as Know Issue in this version.

[2016-03-14 02:15] yuji commented on #200
起きる場合と起きない場合があるのだが、パターンがつかめていない。

[2016-03-14 02:15] yuji commented on #225
Marked as Known Issue in this version.

[2016-03-14 02:15] yuji commented on #226
Marked as Known Issue in this version.

[2016-03-14 02:16] yuji commented on #234
Permission 系のメッセージは API 側。

[2016-03-14 02:46] cmatsuo opened #244 "L10N: Permission 関連"
Split of #234

When you don't have permission to create entry.
* Do not have permission to create an entry.

![more](https://cloud.githubusercontent.com/assets/546386/13481749/95a54194-e12b-11e5-8ff8-c46274785842.jpg)

When you don't have permission for upload image.
* Do not have permission to upload.

![up](https://cloud.githubusercontent.com/assets/546386/13481800/f6598464-e12b-11e5-8876-a92aa5

[2016-03-14 02:47] cmatsuo commented on #234
アプリ側のものはL10N確認済み。API側のものは、 #244 に移動。

[2016-03-14 02:47] #234 closed

[2016-04-04 07:33] cmatsuo opened #245 "When iPhone language is out of language pack, MT should always display app in English."
If you're not using English, Japanese, Dutch, Spanish, German, or French for iPhone, MT displays screens by the language last time you used it.

Steps:
1. Change iPhone language setting to French.
2. Open iOS app and make sure the language is in French.
3. Change Change iPhone language setting to Ukrainian.
4. Open iOS app and check the language.

Expected: In English.
Observed: In French.

[2016-04-05 07:58] yuji commented on #208
ちょっと一旦こっちもclose

[2016-04-05 07:58] #208 closed

[2016-04-05 08:01] yuji opened #246 "テキストブロックを <P> タグでくくる場合、中に <DIV> が入るのはよろしくない"
テキストブロックを <P> タグでくくる場合、中に &lt;DIV&gt; が入るのはよろしくない

[2016-05-18 09:10] cmatsuo opened #247 "Image Upload settings for CF only need upload path"
I'm testing on version 6.2.1694.

Though you can set image size, quality and alignment on upload screen.
Um. Maybe size and quality are okay but, at least, alignment setting for CF is meaningless, right?

Steps:
1. Create an image custom field for entry.
2. Sign in to MTiOS.
3. Go to Create Entry.
4. Tap image CF which you created at step 1.
5. See upload screen.

Expected: Only upload path settin

[2016-08-17 08:48] yuji commented on #225
Fixed in https://movabletype.fogbugz.com/f/cases/113839/

[2016-08-17 08:49] #225 closed

[2017-02-22 10:44] sayiwai opened #249 "画像入り記事の投稿エラー"
### ■再現手順
1. 新規記事作成画面を開く
2. タイトルをタップして任意の文字を入力後、完了する
3. 本文をタップし写真を撮影して記事に挿入後、完了する
4. 再度本文をタップ後、そのまま完了する
5. 保存をタップ後、送信する

### ■期待する動作
エラーなく記事が作成・公開される。

### ■実際の動作
以下のエラーが発生する。

[code]
OK をタップするとさらに以下のエラーが発生する。

[code]

アップロードしたファイルのファイル名の情報が消えてしまうようで、記事投稿ができません。

### ■環境
Movable Type for iOS ver.1.1.0
iPhone6 + iOS 10.2.1

[2017-02-23 01:54] crawl749 commented on #249
再現した。

[2018-08-04 05:53] NobuoPapa commented on #249
アップロードのプログレスバーにファイル名が出ていない場合にそうなりますね。
私は、その現象になったときには。もう一度記事の編集画面から画像を選択して、同じ画像を選びなおしてから保存しています。
そうすると、アップロード画面にmt-9999のようなファイル名がでて、アップロードが成功します。

[2018-08-04 05:57] NobuoPapa opened #250 "画像付き記事を作成した場合に、フィードがエラーになる"
Movable Type 7 を、レンタルサーバ（ロリポップ）に設置して個人で利用しています。
6 からのアップグレードです。
ブログのテーマをRIMOにしてから気が付いたのですが、アプリから画像付きの記事をアップロードした際、widthとheightの数値がクォーテーションで囲まれていないために、作成されるフィード atom.xml がエラーになります。
widthとheightの数値をクォーテーションで囲んでほしいです。

[2018-08-12 10:34] NobuoPapa opened #251 "アイテムー写真ーライブラリから選択について"
アイテムメニューの写真アップロードでライブラリから選択を選ぶと、カメラロールの古いものが上に表示されているので、最新の写真までいちいちスクロールしないといけない。
ブログを書く時には直前に撮った写真を使う方が圧倒的に多いと思うので、カメラロールの新しいものが上に表示されるように修正してもらうか、昇順・降順が選べるようになっていると便利だと思います。

[2018-08-13 08:16] yuji commented on #251
フィードバックありがとうございます。

[2018-08-13 08:16] yuji commented on #250
フィードバックありがとうございます。

[2019-04-18 10:43] cmatsuo opened #252 "カスタムフィールドの表示について"
MTC-26511 からの分離チケット

1. カスタムフィールド数が25件を超えると古いものから表示されなくなる。表示オプションでのコントロールができないなどの事由により、全件表示である必要がある
2. 表示順がCMSと同じにできれば、より望ましい（現在は新しいものから25件がフィールド名の昇順で表示される）

FYI: MT7ではMTiOSはサポートされていないため、MT7環境での仕様をどうするかについては要確認